<section class="banner-plataformas">
    <div
        class="banner-plataformas__container container flex items-center justify-center mx-auto mt-10 pt-4 shadow rounded-lg">
        <picture class="banner-plataformas__picture">
            <source media="(min-width:1200px)" srcset="/assets/img/plataformas/pagaqui/banner-recargas_web.png"
                type="image/png">
            <source media="screen and (max-width: 950px)"
                srcset="/assets/img/plataformas/pagaqui/banner-plataforma-pagaqui__responsive.png" type="image/jpg">
            <img src="/assets/img/plataformas/pagaqui/banner-recargas_web.png" class="banner-plataform w-full h-auto"
                alt="Conoce & registrate en nuestras plataformas Pagaqui y obten una comisión por cada venta que realizes en recargas & pago de servicios">
        </picture>
    </div>
</section>

<div class="section-carousel-pagaqui my-20">
    <app-product-carousel [products]="productCarousel()"></app-product-carousel>
</div>


<section class="section-sistema-pagaqui px-4 sm:px-6 lg:px-8 mb-20">
    <div class="sistema-pagaqui__container container mx-auto grid grid-cols-1 lg:grid-cols-[1fr,1fr] justify-between gap-4">
      <div class="sistema-pagaqui__left">
        <p class="sistema-pagaqui__p relative subtitle">
          Plataforma segura e intuitiva
        </p>
        <h1 class="sistema-pagaqui__h3 title-1 pb-4">
          Venta de recargas electrónicas
          <span class="text-strong">7% comisión</span>
        </h1>

        <p class="sistema-pagaqui__p text mb-4">
            Con <strong>Pagaqui</strong> obten una comisión extra por cada venta que realices
        </p>

        <p class="sistema-pagaqui__p text line-2 mb-4">
            Con un unico saldo podras ofrecer a tus clientes <strong> venta de recargas a cualquier
                compañia, pago de servicios y tarjeta de regalo</strong>.
            Aprovecha la <strong>comisión por venta</strong> y genera ingresos adicionales. El registro es
            totalmente gratuito, podras obtener asesoria personalizada
            ante cualquier duda o inquietud acerca de la plataforma o depósitos.
        </p>


        <p class="sistema-pagaqui__p text line-2 mb-4">
            El sistema de recargas seguro, confiable respaldado con miles de clientes en todo el territorio
            mexicano, ¿Te quedaste sin saldo?, no te preocupes, puede generar desde nuestra plataforma
            tu numero de referencia y realizar tus compras en los establecimientos participantes los 24/7
            los 365 días del año incluyendo dias festivos y días domingo.
        </p>

            <ul class="sistema-pagaqui__ul flex flex-wrap items-center mt-4  ">
                <li class="sistema-pagaqui__li  basis-2/4 my-4 w-full lg:max-w-[50%] pl-3 pr-3">
                    <span
                        class="sistema-pagaqui__label relative z-[2] text-xs lg:text-sm text-slate-700 dark:text-slate-300 font-medium block py-3 px-4 rounded-md border-l-2 border-l-red-500 dark:border-l-blue-500 bg-white dark:bg-slate-700 shadow-lg hover:text-white hover:before:w-full before:content-[''] before:transition-[width] before:duration-300 before:rounded-md before:absolute before:-z-[1] before:left-0 before:bottom-0 before:w-0 before:h-full before:bg-red-500 dark:before:bg-blue-500">
                        Un unico saldo
                    </span>
                </li>
                <li class="sistema-pagaqui__li  basis-2/4 my-4 w-full lg:max-w-[50%]pl-3 pr-3">
                    <span
                        class="sistema-pagaqui__label relative z-[2] text-xs lg:text-sm text-slate-700 dark:text-slate-300 font-medium block py-3 px-4 rounded-md border-l-2 border-l-red-500 dark:border-l-blue-500 bg-white dark:bg-slate-700 shadow-lg hover:text-white hover:before:w-full before:content-[''] before:transition-[width] before:duration-300 before:rounded-md before:absolute before:-z-[1] before:left-0 before:bottom-0 before:w-0 before:h-full before:bg-red-500 dark:before:bg-blue-500">
                        Aplicación de saldo los 24/7
                    </span>
                </li>
                <li class="sistema-pagaqui__li  basis-2/4 my-4 w-full lg:max-w-[50%] pl-3 pr-3">
                    <span
                        class="sistema-pagaqui__label relative z-[2] text-xs lg:text-sm text-slate-700 dark:text-slate-300 font-medium block py-3 px-4 rounded-md border-l-2 border-l-red-500 dark:border-l-blue-500 bg-white dark:bg-slate-700 shadow-lg hover:text-white hover:before:w-full before:content-[''] before:transition-[width] before:duration-300 before:rounded-md before:absolute before:-z-[1] before:left-0 before:bottom-0 before:w-0 before:h-full before:bg-red-500 dark:before:bg-blue-500">
                        Comisión por venta
                    </span>
                </li>
                <li class="sistema-pagaqui__li  basis-2/4 my-4 w-full lg:max-w-[50%] pl-3 pr-3">
                    <span
                        class="sistema-pagaqui__label relative z-[2] text-xs lg:text-sm text-slate-700 dark:text-slate-300 font-medium block py-3 px-4 rounded-md border-l-2 border-l-red-500 dark:border-l-blue-500 bg-white dark:bg-slate-700 shadow-lg hover:text-white hover:before:w-full before:content-[''] before:transition-[width] before:duration-300 before:rounded-md before:absolute before:-z-[1] before:left-0 before:bottom-0 before:w-0 before:h-full before:bg-red-500 dark:before:bg-blue-500">
                        +200 compañias de servicios
                    </span>
                </li>
            </ul>
        
      </div>

      <div class="sistema-pagaqui__right">
        <img src="/assets/img/plataformas/pagaqui/recargas-pagaqui.webp" class="sistema-pagaqui__img max-w-[650px] mx-auto w-full h-auto "
          matTooltip="Venta de recargas para celulares, computadoras y via SMS" loading="lazy"
          alt="Venta de recargas pagaqui" />
      </div>
    </div>
</section>


<section class="section-app-pagaqui px-4 sm:px-6 lg:px-8 mb-20">
    <div class="app-pagaqui__container container mx-auto">
        <p
            class="app-pagaqui-plataforma__subtitle text-2xl text-red-700 dark:text-blue-400 font-semibold  text-center">
            App para venta de recargas, pago de servicios bait</p>
        <h2 class="app-pagaqui__h2 text-3xl lg:text-4xl text-slate-700 dark:text-white font-bold text-center">App Pagaqui</h2>

        <div class="app-pagaqui__row flex justify-center items-center flex-wrap mt-10">

            <div class="app-pagaqui-col w-full lg:w-[40%]">

                <ul class="app-pagaqui__ul flex flex-wrap flex-col">


                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-red-100 before:text-red-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Descarga la app desde la tienda oficial como <strong>Pagaqui</strong>
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-red-100 before:text-red-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Si ya eres cliente <a class="text-base font-medium text-blue-600" href="">Pagaqui</a> o de
                            <strong>Recargas electrónicas</strong>,
                            ingresa con tus datos de acceso
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-red-100 before:text-red-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Consulta y depósita un monto minimo de $100 a alguna de las cuentas de <b>TAE SA DE CV</b>
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-red-100 before:text-red-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Notifica tu pago
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-red-100 before:text-red-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Obten el saldo correspondiente
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-red-100 before:text-red-700">
                       
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Realiza una venta y obten una comisión extra
                        </p>

                    </li>

                </ul>

            </div>

            <div class="app-pagaqui-col w-full lg:w-[30%]">
                <app-recargas [carouselImages]="appPagaqui()"></app-recargas>
            </div>

            <div class="app-pagaqui-col w-full lg:w-[30%]">
                <h3 class="app-pagaqui__h3 font-semibold text-3xl text-gray-700 dark:text-white text-center">Descarga la aplicación</h3>
                <p class="app-pagaqui__p text-gray-700 dark:text-gray-300 text-sm my-4 text-center">Bajate hoy mismo la app, empieza a realizar a cualquier compañia de telefonia, disponible para Android y IOS</p>
                <div class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <a href="#"
                        class="w-full sm:w-auto flex bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 text-white rounded-lg items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                        <svg class="mr-3 w-7 h-7" aria-hidden="true" focusable="false" data-prefix="fab"
                            data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path fill="currentColor"
                                d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
                            </path>
                        </svg>
                        <div class="text-left">
                            <div class="mb-1 text-xs">Download on the</div>
                            <div class="-mt-1 font-sans text-sm font-semibold">
                                Mac App Store
                            </div>
                        </div>
                    </a>
                    <a href="#"
                        class="w-full sm:w-auto flex bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 text-white rounded-lg items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                        <svg class="mr-3 w-7 h-7" aria-hidden="true" focusable="false" data-prefix="fab"
                            data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z">
                            </path>
                        </svg>
                        <div class="text-left">
                            <div class="mb-1 text-xs">Get in on</div>
                            <div class="-mt-1 font-sans text-sm font-semibold">
                                Google Play
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-comision-pagaqui px-4 sm:px-6 lg:px-8 mb-20">
        <div class="comision-pagaqui container mx-auto bg-gradient-to-tr from-red-600 to-red-800 py-20 px-14 rounded-3xl">
            <h3 class="text-3xl font-semibold text-white text-center mb-4">Comisión por recargas</h3>
            
            <p class="text-base text-white leading-relaxed">
                Con tu equipo de trabajo: Computadora o smartphone podras realizar ventas desde la plataforma o via SMS gratuito,
                para todo tipo de negocio: cyber, tiendita de la esquina, abarrotes, farmacia, zapateria, vinoteria, ferreteria, etc.
            </p>

            <b class="text-white inline-block py-2">Telcel, Bait, Unefon, Movistar, AT&T, Internet del bienestar, rincel, Axios Mobile, Vasanta, Telmovil, Weex, FreedomPop, Wimo telecom</b>
            <br>
            <a href="https://youtu.be/GXyTKAV-Ur4?si=v0X5O2MgcB43LQpx" target="_blank" (click)="openVideo()"
                    class="flex cursor-pointer items-center justify-center size-14 mt-4 mx-auto bg-white p-4 rounded-[50%] font-sans text-xs font-bold uppercase text-red-700 shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">

             
                       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                      </svg>        
                   
                  
            </a>

          

            <!-- <div 
            class="modal-video__wrapper fixed flex items-center justify-center inset-0 w-full h-full z-10 outline-none transition-all duration-500 overflow-hidden"
            [ngClass]="{'visible opacity-100': handlerModalVideo(), 'invisible opacity-0': !handlerModalVideo()}">

                <div class="modal-video__overlay fixed inset-0 size-full bg-black bg-opacity-50"></div>

                <div 
                class="modal-video__content relative w-auto transition-all duration-300 transform"
                [ngClass]="{'translate-y-0 opacity-100 pointer-events-auto': handlerModalVideo(), '-translate-y-full opacity-0 pointer-events-none': !handlerModalVideo() }">
                    

                <div class="modal-video__card relative p-6 shadow-lg rounded-md w-full pointer-events-auto bg-white dark:bg-slate-700 text-gray-800 max-w-screen-sm mx-auto">

                    <div class="modal-header flex items-center justify-between space-x-4">
                        <h4 class="modal-title font-semibold text-gray-800 text-xl dark:text-white">¿Como ver mi comisión en pagaqui?</h4>

                        <button (click)="closeVideo()" class="text-gray-600 focus:outline-none hover:text-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </button>
                    </div>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Add your teammate to your team and start work to get things done
                    </p>

                    <div class="modal-body">

                    </div>
                </div>


                </div>
            </div> -->
            
        </div>
</section>


<section class="section-bancos-pagaqui mb-20 px-4 sm:px-6 lg:px-8">
    <div class="bancos-pagaqui__container container mx-auto">

        <div class="bancos-pagaqui__row flex gap-3 flex-col lg:flex-row">
            <div class="bancos-pagaqui__col w-full lg:w-1/2">
                <p
                class="bancos-pagaqui__subtitle text-xl lg:text-2xl text-red-700 dark:text-blue-400 font-semibold">
                Cuentas bancarias para venta de recargas</p>
                <h3 class="text-gray-700 dark:text-white font-bold text-3xl mb-4">Bancos para venta de recargas</h3>
                <p class="text-gray-700 dark:text-gray-300">Realiza tus compras a alguna de las cuentas bancarias participantes, obten el monto
                    en saldo correspondiente para que puedas realizar recargas a cualquier compañia, con excelentes comisiones
                </p>
                <img src="assets/img/plataformas/pagaqui/bancos.webp" alt="Cuentas bancarias pagaqui para saldo" class="bancos-pagaqui__img">

                <button
                class="mx-auto block rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true"
              >
                Consultar cuentas bancarias
              </button>
            </div>
            <div class="bancos-pagaqui__col q-full lg:w-1/2">
                <img src="assets/img/plataformas/pagaqui/conoce-bancos.webp" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section-noreferencia  px-4 sm:px-6 lg:px-8 mb-20">
    <div class="noreferencia__container container mx-auto">

        <div class="noreferencia__row flex flex-row flex-wrap items-start">
            
            <div class="noreferencia__col w-full lg:w-1/2">
                <span
                class="why-sell__span text-2xl text-red-700 dark:text-blue-400 font-semibold">
                    Referencia para compra de saldo
              </span>
                <h3 class="text-3xl lg:text-4xl text-slate-700 dark:text-white font-bold mt-2 mb-4">Recarga de saldo con referencia de pago</h3>
                <p class="text-sm lg:text-base mb-4 text-slate-700 dark:text-slate-300">
                    Solicita desde el portal tu numero de referencia, si costo alguno. 
                </p>

                <p class="text-sm lg:text-base leading-relaxed text-slate-700 dark:text-slate-300 mb-4">
                    El utilizar tu <strong>Referencia de pago pagaqui</strong> ayuda a identificar tu depósito y abonar de una manera más practica tu compra sin necesidad de realizar la <b>notificación de pago</b> en el portal. 
                </p>

                <p class="text-sm lg:text-base leading-relaxed text-slate-700 dark:text-slate-300 mb-4">
                    No todos los Bancos permiten el uso de tu referencia. Por tal motivo recomendamos checar en que Banco y tipo de pago podrás utilizarla.
                </p>

                <p class="font-semibold text-2xl text-slate-700 dark:text-slate-300 mb-4">Ventanilla</p>  
                <ul class="list-decimal ">
                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300  ml-8 mb-4 font-normal">
                        Genera tu referencia de 10 dígitos en la plataforma <a href="https://pagaqui.com.mx/Login.aspx" target="_blank" class="text-blue-600 dark:text-sky-400 font-semibold">Pagaqui</a>
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300  ml-8 mb-4">
                        Busca tu banco mas cercano
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300  ml-8 mb-4">
                        Realiza tu depósito sin centavos a alguna de las cuentas bancarias participantes
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300  ml-8 mb-4">
                        En concepto de pago debes colocar tu referencia.
                    </li>
                </ul>

                <p class="font-bold text-2xl text-slate-700 dark:text-slate-300 mb-4">Transferencia</p>  


                <ul class="list-decimal">
                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300 ml-8 mb-4">
                        Genera tu referencia de 10 dígitos en la plataforma <b>Pagaqui</b>
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300 ml-8 mb-4">
                       En tu banca realiza una transferencia minima de $200 a alguna de las cuentas participantes
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300 ml-8 mb-4">
                        Realiza tu depósito sin centavos a alguna de las cuentas bancarias participantes
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300 ml-8 mb-4">
                        El monto máximo permitido con referencia no facturable es de $1,999.00 pesos
                    </li>

                    <li class="lg:text-base text-sm text-slate-700 dark:text-slate-300 ml-8 mb-4">
                        En concepto de pago debes colocar tu referencia <b>Pagaqui</b>
                    </li>
                </ul>
            
                
            </div>
            <div class="noreferencia__col w-full lg:w-1/2">
                <img src="assets/img/refe.webp" alt="Recargas con referencia" class="rounded-3xl mx-auto bg-gradient-to-tr from-red-600 to-red-800 dark:from-blue-600 dark:to-blue-800">
            </div>
        </div>
    </div>
</section>


<app-sales-method [titleChannel]="'Metodos de venta pagaqui'"></app-sales-method>


<app-register-steps></app-register-steps>