<div class="post wow animate__animated animate__fadeInUp">
  <div class="post__container container" *ngIf="post$ | async as post">
    <!-- ============= POST BANNER ============= -->
    <div class="post-banner">
      <img
        [src]="post.fields.imgArticle.fields.file.url"
        class="post-banner__img"
        loading="lazy"
        width="854"
        height="378"
        alt="{{ post.fields.title }}"
      />
    </div>

    <!-- ============= POST CONTENT ============= -->
   <div class="post-box">

     <div class="post-content">
       <h1 class="post__h1 headline-3">{{ post.fields.title }}</h1>
       <div class="post-details">
         <div class="post-details__author">
           <!-- <mat-icon
             class="post-details__icon"
             color="primary"
             aria-hidden="false"
             aria-label="Example home icon"
             fontIcon="badge"
           ></mat-icon> -->
           <p class="post-details__p body-2">Foto: 
            <a class="post-details__a body-2" [href]="post.fields.urlAuthor" target="_blank" rel="noopener noreferrer">
              {{ post.fields.author }}
            </a>
           </p>
         </div>
 
         <div class="post-details__time">
           <!-- <mat-icon
             class="post-details__icon"
             color="primary"
             aria-hidden="false"
             aria-label="Example home icon"
             fontIcon="calendar_month"
           ></mat-icon> -->
 
           <p class="post-details__p body-2">
             {{ post.fields.date | date : "mediumDate" }}
           </p>
         </div>
       </div>
 
       <div class="post-description">
       
         <div [innerHtml]="post.fields.content | markdown"></div>
       </div>
   </div>

   <div class="post__footer">

    <div class="post-categorias">
        <p class="post-categorias__p headline-6">Temas:</p>
      <ul class="post-categorias__ul mb-1">
        <li class="post-categorias__li body-2" *ngFor="let categoria of post.metadata.tags">

          <!-- <mat-icon class="post-categorias__icon" aria-hidden="false" aria-label="Example tag icon" fontIcon="sell"></mat-icon>
            {{categoria.sys.id}} -->

        </li>
      </ul>
      
    </div>

    <div class="post-shared">
      <p class="post-shared__p headline-6">Comparte esta nota!</p>
   
      <!-- <share-buttons class="post-share" [theme]="'default'"
      [include]="['facebook','twitter','telegram','messenger','whatsapp','sms','email','print','copy']"
      [show]="5"
      [showText]="true"
      [title]="post.fields.title"
      [description]="post.fields.imgArticle.fields.description"
      [image]="post.fields.imgArticle.fields.file.url" 
      ></share-buttons> -->
    </div>
   </div>

   </div>

</div>
