<div class="banner-reportes">

    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_reportes_QHrSnkjY6q.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667675763028" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-depositos__responsive_VfCJG0axU.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667851223767" />


    <picture class="banner-reportes__picture banner__desktop">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner_reportes_QHrSnkjY6q.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667675763028" class="banner-reportes__img banner__img" width="100%" height="100%" alt="La notificación de tus depósitos en Recargaki/Planetaemx es totalmente gratuita, notifícalos a  través de nuestra página web o a través de nuestro WhatsApp">
    </picture>

    <picture class="banner-reportes__picture banner__mobile">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner-depositos__responsive_VfCJG0axU.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667851223767" class="banner-reportes__img banner__img" width="100%" height="100%" alt="La notificación de tus depósitos en Recargaki/Planetaemx es totalmente gratuita, notifícalos a  través de nuestra página web o a través de nuestro WhatsApp">
    </picture>

</div>

<div class="recargaki">
    <div class="recargaki__content container">

        <div class="repo-titular">
            <h1 class="repo-titular__h1 title">Reporte de depositos Recargaki/Planetaemx</h1>
            <p class="repo-titular__p text">Si ya eres cliente de <strong class="repo-titular__strong">recargas5g.com</strong> Ó <strong class="repo-titular__strong">recargas electrónicas</strong> Reporta por tus depositos y/o transferencias de <span class="repo-titular__span">Recargaki/Planetaemx</span>.
                Llenando el formulario con los datos de tu ficha de deposito.</p>

            <p class="repo-titular__p text"> <span class="repo-titular__span">***Recuerda que...</span> Si el pago se reporta en la plataforma fuera del horario establecido, el pago se reflejará en el siguiente horario hábil de manera automática si los datos son correctos.</p>
        </div>

        <div class="recargaki__container grid grid-col-2 align-center justify-center grid-mobile">

            <div class="recargaki__formulario">
                <iframe width="100%" height="995" src="https://www.emailmeform.com/builder/embed/HZ0imF2R59" class="recargaki__frame" title="Reporte de depósitos Recargaki & Planetaemx" allow="camera"><a href="https://www.emailmeform.com/builder/embed/HZ0imF2R59">Fill out form.</a></iframe>
            </div>

            <div class="recargaki__steps">
                <div class="recargaki-item">
                    <i class='bx bx-time-five recargaki-item__i'></i>

                    <h2 class="recargaki-item__h2">Aplicación de depositos</h2>

                    <div class="recargaki-item__description">
                        <span class="recargaki-item__span">Lunea a Viernes 9:00am a 6:00pm</span>

                        <span class="recargaki-item__span">Sabados 9:00am a 12:00pm </span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>