<!-- ============= BANNER HOME ============= -->
<div class="section wrapper mtop-3">
    <span class="wrapper__shape wrapper__shape-1 headline-2" data-card="RECARGAS"></span>
    <span class="wrapper__shape wrapper__shape-2 headline-2" data-card="SERVICIOS"></span>

    <div class="container wrapper-container wow animate__animated animate__fadeInUp">
        <div class="wrapper-titular">
            <span class="wrapper-titular__span headline-5">con Recarga5g.com
                <img src="/assets/img/ganancias-recargas.png" class="wrapper-titular__img"
                    alt="ganancias por la venta de recargas" />
            </span>
            <h1 class="wrapper-titular__h1 bigTitle">
                Comisión hasta un 7.5% fijo por venta de recargas.
            </h1>

            <span #textDinamic class="wrapper-titular__dinamic"></span>
            <p class="wrapper-titular__p body-1">
                No pierdas la oportunidad de aumentar tus ingresos y brindar un servicio
                adicional a tus clientes. ¡Regístrate en nuestro sitio web y comienza a
                vender recargas electrónicas hoy mismo! <span class="wrapper-titular__p--restriccion body-1">**Aplica restricciones**</span>
            </p>

            <div class="wrapper-action flex align-center justify-center">
                <a class="wrapper-action__a radius-20" mat-raised-button color="primary"
                    routerLink="/registro">Registrarme ahora</a>
                <a class="wrapper-action__a my-button btn-underline" routerLink="/plataforma/pagaqui">Consultar
                    productos
                    <mat-icon class="wrapper-action__icon" color="accent" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="outbound"></mat-icon>
                </a>
            </div>
        </div>

        <div class="wrapper-image">
            <img src="/assets/img/mockups-mobile-and-desktop.webp"
                alt="Venta de recargas para todo tipo de dispositivo celular, tablet, pc" width="768" height="768"
                class="wrapper-image__img" loading="lazy" />
        </div>
    </div>
</div>

<!-- ============= SECCIÓN CAROUSEL PRODCUCTOS ============= -->
<app-carousel-productos [productos]="productosHome" *ngFor="let productosHome of productos"></app-carousel-productos>

<!-- ============= SECCIÓN BENEFICIOS ============= -->
<div class="beneficios mb-3">
    <div class="container beneficios__container">
        <div class="beneficios-right">
            <div class="beneficios-titles">
                <h2 class="beneficios-titles__h3 headline-4 head-4">Recarga Telcel</h2>
                <h3 class="beneficios-titles__h4 headline-3">
                    Venta de <strong class="beneficios-titles__strong">Recargas Telcel</strong> para cualquier
                    negocio
                </h3>
            </div>

            <p class="beneficios-right__p body-1">
                Elije la mejor manera para que vendas recargas a través de tu
                computadora o laptop ingresando al portal de ventas de recargas
                electrónicas desde tu navegador de preferencia, por mensaje SMS gratuito
                o descargando la aplicación desde la tienda oficial.
            </p>

            <div class="beneficios-list">
                <ul class="beneficios-list__ul">
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Mayor flujo de clientes</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Comisiones ajustadas a tu negocio</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Variedad de compañias de recargas y servicios</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Haz crecer tu negocio</span>
                    </li>
                </ul>

                <ul class="beneficios-list__ul beneficios-list__ul--2">
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Estabilidad y fiabilidad</span>
                    </li>

                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Soporte personalizado</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Diferenciador a tu negocio</span>
                    </li>

                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-1">Adatado para cualquier tipo de negocio</span>
                    </li>
                </ul>
            </div>

            <a class="radius-20" mat-raised-button color="primary" routerLink="/registro">Registrarme ahora</a>
        </div>
        <div class="beneficios-left">
            <img src="/assets/img/negocio_recargas.webp" class="beneficios-left__img" width="632" height="632"
                loading="lazy" alt="Descubre todos los beneficios que podras obtener vendiendo recargas electrónicas" />
        </div>
    </div>
</div>

<!-- ============= SECCIÓN RAZONES ============= -->
<div class="razones mb-3">
    <div class="razones__container container">
        <div class="razones-titles">
            <span class="razones-titles__span headline-4 head-4">¿Por qué vender recargas Bait, Movistar?</span>
            <h3 class="razones-titles__h3 headline-3">
                Vende recargas electrónicas de todas las compañías de telefonía celular
                en México
            </h3>
        </div>

        <div class="razones-list">
            <ul class="razones-list__ul">
                <li class="razones-list__li" *ngFor="let razon of item">
                    <mat-icon class="mat-18 razones-list__icon">{{
                        razon.nameIcon
                        }}</mat-icon>
                    <h4 class="razones-list__h4 headline-5">{{ razon.title }}</h4>
                    <p class="razones-list__p body-2">{{ razon.description }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ============= SECCION SISTEMA ============= -->
<div class="sistema mb-3">
    <div class="sistema__container container">
        <span class="sistema__badge badge headline-6">El mejor sistema de recargas
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="thumb_up"></mat-icon>
        </span>
        <h2 class="sistema__h2 headline-2">Sistema para vender recargas</h2>

        <div class="sistema__content">
            
            <div class="sistema__left">
              
              <h3 class="sistema__h3 headline-3">Sistema de recargas mas seguro y estable</h3>

            <p class="sistema__p body-1 mb-1">
                <a href="https://recargaselectronicas.org/" class="sistema__a" target="_blank" rel="noopener noreferrer">Recargas Electrónicas</a>
              te ofrece el sistema de recargas mas robusta con todas las compañias de telefonia disponibles en México, 
                para que puedas ofrecer a tus clientes venta de rercargas con variedad de compañias de telefonia mientras generas el retorno de tu inversión + ganancias:
            </p>

                <a href="https://www.telcel.com/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Telcel</a>,
                <a href="https://mibait.com/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Bait</a>,
                <a href="https://www.movistar.com.mx/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Movistar</a>,
                <a href="https://pillofon.mx/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Pillofon</a>,
                <a href="https://virginmobile.mx/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Virgin mobile</a>,
                <a href="https://www.izzi.mx/home" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Izzi</a>,
                <a href="https://open.spotify.com/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Spotify</a>,
                <a href="https://www.netflix.com/mx/" class="sistema__a body-1" target="_blank" rel="noopener noreferrer"> Netflix</a>, 
       
                <p class="body-1 mb-1">& mucho mas compañias, Estamos constantemente agregando mas compañias de recargas, pago de servicios y tarjeta de regalos!</p>
       
                <a class="body-1 sistema__a--registro" mat-raised-button color="primary"
                routerLink="/registro">Registrarme ahora</a>
            </div>

        <div class="sistema__right mb-1">
            <img src="/assets/img/svg/user.svg" class="sistema__img" matTooltip="Venta de recargas para celulares, computadoras y via SMS" width="550" height="312" loading="lazy" alt="venta de recargas para celulares, computadora o via SMS con excelentes comisiones">
        </div>
    </div> 
  
    </div>
</div>

<!-- ============= SECTION PRODUCTOS ============= -->
<app-filter-productos></app-filter-productos>

<!-- ============= SECCION  NOTIFICACION DEPOSITOS ============= -->
<div class="inversion mb-3">
    <div class="inversion__container container">
        <div class="inversion-titles mb-1-5">
            <h2 class="inversion-titles__h2 headline-2">
                Montos para vender recargas
            </h2>
        </div>

        <div class="inversion-box">
            <div class="inversion-right img-custom">
                <img src="/assets/img/inversion-recargas.png" class="inversion-right__img" width="550" height="560" loading="lazy"
                    alt="Deposita un monto minimo y empieza a vender recargas a cualquier compañia" />
            </div>

            <div class="inversion-subtitle">
                <h3 class="inversion-subtitle__h3 headline-3">
                    Deposita un monto mínimo de $100 y empieza a vender recargas
                </h3>
                <p class="inversion-subtitle__p body-1 mb-1">
                    puedes invertir desde $100 pesos. A través de nuestro servicio de
                    atención a clientes te explicamos como vender
                    <strong class="body-1 keyword__strong">recargas Telcel</strong> y de
                    todas las compañías en tu negocio y además ganar una comisión. Vender
                    recargas es uno de los mejores negocios para ti. Muchos negocios que
                    desean vender saldo.
                </p>

                <ul class="inversion__ul">
                    <li class="inversion__li">
                        <mat-icon class="mat-18 inversion__icon">verified</mat-icon>
                        <p class="inversion__p headline-6">
                            Sin pagos forzosos ni anualidades.
                        </p>
                    </li>
                    <li class="inversion__p inversion__li">
                        <mat-icon class="mat-18 inversion__icon">verified</mat-icon>
                        <p class="inversion__p headline-6">
                            Deposita como y cuando quieras.
                        </p>
                    </li>
                    <li class="inversion__p inversion__li">
                        <mat-icon class="mat-18 inversion__icon">verified</mat-icon>
                        <p class="inversion__p headline-6">
                            Aplicación de depósitos automático.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION NEGOCIO ============= -->
<div class="negocio mb-3">
    <div class="negocio__container container">
        <div class="negocios-left">
            <div class="negocio-titles">
                <span class="negocios-titles__span headline-5 head-4">Venta de recargas para negocio</span>
                <h2 class="negocio__h2 headline-3">
                    Venta de recargas para todo tipo de negocio
                </h2>
            </div>

            <p class="negocio-left__p body-1">
                Ofrece
                <strong class="keyword__strong body-1">venta de recargas electrónicas para cualquier tipo de
                    negocio</strong>: Tienda de conveniencia, Abarrotes, Ferreterías, Farmacia, Vinaterías,
                Cyber, cajas de ahorros, pequeñas, medianas y grandes negocios. Genera
                ganancias extras mientras obtienes un mayor flujo de clientes.
            </p>

            <p class="negocio-left__p body-1 mb-1">
                Tu registro es totalmente gratuito, si tienes dudas acerca de cómo
                vender recargas o requieres mayor información contactos.
            </p>

            <a mat-raised-button color="primary" class="negocio-left__a" routerLink="/registro">
                Registrarme ahora!!
            </a>
        </div>

        <div class="negocio-right">
            <div *ngFor="let negocio of negocios" class="negocio-category">
                <img [src]="negocio.nameIcon" class="negocio-category__img" width="30" height="30" loading="lazy"
                    [alt]="negocio.label" />
                <h3 class="negocio-category__h3 headline-6">
                    {{ negocio.typeNegocio }}
                </h3>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION METODOS VENTA ============= -->
<div class="container metodos-home mb-3">
    <h2 class="metodos-home__h2 headline-2">
        Metodo de venta de recargas electrónicas
    </h2>
    <app-metodo-ventas></app-metodo-ventas>
</div>
<!-- ============= SECCION APP RECARGAS ============= -->
<app-recargas></app-recargas>

<!-- ============= SECCION ABOUT ============= -->
<div class="about mb-3">
    <div class="about__container container">
        <div class="about-title">
            <h3 class="about-title__h3 headline-3">
                los años nos respaldan como los mejores del mercado en la venta de
                tiempo aire
            </h3>
            <p class="about-content__p body-1">
                <strong class="about-content__strong body-1 keyword__compani">Recarga5g.com</strong>
                Ofrece la
                <strong class="about__strong">venta de tiempo aire celulares de las principales compañías de
                    México, pago de servicios y pines electrónicos</strong>
                . Usted puede vender tiempo aire desde su tienda, farmacia, ciber, casa,
                etc. únicamente necesita tener un dispositivo con acceso a Internet
                (página web) o un celular para la venta vía mensaje de texto. No esperes
                más y contrata nuestros servicios e incrementa tus ventas
                considerablemente con esta gran oportunidad de atraer nuevos clientes a
                tu negocio.
            </p>
        </div>

        <div class="about-right">
            <picture class="about-right__picture">
                <source media="(min-width:1200px)" srcset="assets/img/Banner__map.png" type="image/jpg" />
                <source media="screen and (max-width: 650px)" srcset="assets/img/Banner-map__responsive.png"
                    type="image/jpg" />
                <img src="/assets/img/Banner__map.png" width="1200" height="572" class="about-right__img" loading="lazy"
                    alt="Trayectoria de Recarga5g.com" />
            </picture>
        </div>
    </div>
</div>

<!-- ============= SECCION HISTORY ============= -->
<div class="history mtop-5 mbottom-3">
    <div class="history__container container">
        <div class="history-content">
            <span class="history-content__span"></span>
            <h3 class="history-content__h3 headline-3">
                Mas de 20 años ofreciendo nuestros servicios venta de tiempo, Telcel,
                Movistar
            </h3>

            <p class="history-content__p body-1">
                Nuestro equipo de trabajo tiene por objetivo brindar a todos nuestros
                clientes la mejor atención, en el plazo menor posible. es por ello que
                estamos en constante innovación para seguir brindándole la mejor
                experiencia.
            </p>

            <h4 class="history-content__h4 headline-4">Recargas Electrónicas</h4>
        </div>

        <div class="history-image img-custom">
            <img src="/assets/img/equipo-recargas-electronicas.png" class="history-image__img" loading="lazy" width="500"
                height="500" alt="Mas de 20 anos ofreciendo lo mejor en el todo el territorio mexicano" />
        </div>
    </div>
</div>

<!-- ============= SECCION RECORDS ============= -->
<div class="records mb-3">
    <div class="records__container container">
        <div class="records-left">
            <h3 class="records-left__h3 headline-3">
                Líder nacional en la venta de tiempo aire
            </h3>

            <p class="records-left__p body-1">
                <strong>Recarga5g.com</strong> cuenta con la trayectoria y el respaldo
                de más de 40,000 clientes felices en todo el territorio mexicano nos
                catalogan como la plataforma más estable y segura para la venta
                <strong>recargas electrónicas Telcel, movistar & todas las compañía celular.
                </strong>
            </p>
        </div>

        <div class="records-items">
            <div class="records-item">
                <img src="/assets/img/group-record.png" class="records-item__img" loading="lazy"
                    alt="40000 clientes felices" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item-title__span headline-4 counter" data-number="4000">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">Clientes Felices</p>
                </div>
            </div>

            <div class="records-item">
                <img src="/assets/img/trayectoria-record.png" class="records-item__img"
                    alt="mas de 20 años en el mercado de recargas" loading="lazy" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item-title__span headline-4 counter" data-number="20">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">Años en el mercado</p>
                </div>
            </div>

            <div class="records-item">
                <img src="/assets/img/network-record.png" class="records-item__img" loading="lazy"
                    alt="Recargas Electrónicas cuenta con miles de puntos de ventas, no esperas y empieza a vender recargas" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item-title__span headline-4 counter" data-number="1800">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">Puntos de venta</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">
                <img src="/assets/img/empresas-record.png" class="records-item__img" loading="lazy"
                    alt="mas de 200 compañias de servicios IZZI, TELMEX, CFE Y muchos mas!" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item__span headline-4 counter" data-number="100">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">compañia de servicios</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION REGISTRO ============= -->
<div class="registro-home mb-3">
    <div class="registro-home__container container">
        <div class="registro-home__left">
            <app-register-steps [step]="step" *ngFor="let step of stepsRegister"></app-register-steps>
        </div>
        <div class="registro-home__right">
            <span class="register-home__span headline-4 head-4">¿Como me registro para vender recarga?</span>
            <h3 class="register-home__h3 headline-3">
                Regístrate totalmente gratis y empieza a vender recargas
            </h3>
            <p class="register-home__p body-1 mb-1">
                En
                <a href="https://recargaselectronicas.org/" class="register-home__a body-1" target="_blank"
                    rel="noopener noreferrer">
                    <strong class="keyword__strong keyword__compani">Recargas Electrónicas</strong>
                </a>
                ofrecemos una amplia variedad de opciones para recargar tus dispositivos
                electrónicos en línea, desde la comodidad de tu hogar u oficina.
                Olvídate de perder tiempo haciendo fila y recarga tus dispositivos
                rápidamente en minutos.
            </p>

            <a class="registro-home__a" routerLink="/registro" mat-raised-button color="primary">Registrarme</a>
        </div>
    </div>
</div>