<section class="banner-plataformas mb-20">
  <div
    class="banner-plataformas__container container flex items-center justify-center mx-auto mt-20 pt-4 shadow rounded-lg">

    <picture>
        <source 
        media="(min-width:1536px)" 
        [srcset]="isDarkTheme() ? 'assets/img/producto-pines-web_dark.webp' : 'assets/img/producto-pines-web_light.webp'"
        type="image/webp"
        >

        <source 
        media="(min-width:340px)" 
        [srcset]="isDarkTheme() ? 'assets/img/banner-servicios-mobile_dark.webp' : 'assets/img/banner-servicios-mobile_light.webp'"
        type="image/webp"
        >

        <img 
        width="1539"
        height="385"
        alt="Venta de pines electrónicos para tu negocio"
        title="Venta de pines electrónicos para tu negocio"
        [src]="isDarkTheme() ? 'assets/img/banner-servicios-web_dark.webp' : 'assets/img/producto-pines-web_light.webp'" class="banner-plataform w-full h-auto">
    </picture>

  </div>
</section>

<!-- ============= CAORUSEL PINES ============= -->
 <app-product-carousel [products]="carouselPines()"></app-product-carousel>
<!-- ============= SECCION COBRO PINES============= -->

<section class="my-20">
  <div class="venta-pin container mx-auto px-5 sm:px-6 lg:px-8">
    <div class="venta-pin-row grid grid-cols-10 lg:grid-cols-11">
    
      <div class="venta-pin-col w-full col-span-10 lg:col-span-6 flex flex-col items-center">
    
   
      <div class="text-left w-full">
        <div
        class="font-medium text-sm py-[0.375rem] px-4 rounded-md bg-slate-800 dark:bg-slate-700 text-slate-100 shadow-sm inline-flex items-center gap-2">
   
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12.75 8.25v7.5m6-7.5h-3V12m0 0v3.75m0-3.75H18M9.75 9.348c-1.03-1.464-2.698-1.464-3.728 0-1.03 1.465-1.03 3.84 0 5.304 1.03 1.464 2.699 1.464 3.728 0V12h-1.5M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/></svg>
    
        <span>
          Variedad de pines electrónicos
        </span>
  
      </div>
      </div>

      <h1 class="text-4xl text-left font-semibold c-text w-full">Vende pines electrónicos en tu negocio</h1>

      <div class="mt-6">
        <p class="text-lg">
          Oportunidad perfecta para diversificar tu negocio y aumentar tus ganancias, ofreciendo <strong>tarjeta de regalo</strong> en tu negocio a todos tus clientes.
        </p>

        <p class="text-lg mt-4">
          Esta oportunidad te permite diversificar tus servicios, fidelizar a tus clientes y optimizar sus experiencias, ya que podrán adquirir sus tarjetas de regalo y recargar sus servicios favoritos sin tener que desplazarse o hacer largas filas.
        </p>
      </div>

      <div class="mt-12 grid gap-12 grid-cols-1 lg:grid-cols-2">

            <article class="shadow ring-1 ring-gray-200 dark:ring-gray-700 bg-gray-300/25 dark:bg-slate-600/30 p-6 rounded-lg">
              <div class="venta-pin-icon flex gap-1">
              <div class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full mb-4 flex-shrink-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-7" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"/></svg>
              </div>
                <h3 class="text-[17px] font-semibold">Gana una comisión extra por vender tarjeta de regalo</h3>
              </div>
              <p class="mt-2">
                Gana más con cada pin que vendas
              </p>
            </article>

            <article class="shadow ring-1 ring-gray-200 dark:ring-gray-700 rounded-lg p-6">
              <div class="venta-pin-icon flex gap-1">
                <div class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full mb-4 flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-7" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3.75v16.5M2.25 12h19.5M6.375 17.25a4.875 4.875 0 0 0 4.875-4.875V12m6.375 5.25a4.875 4.875 0 0 1-4.875-4.875V12m-9 8.25h16.5a1.5 1.5 0 0 0 1.5-1.5V5.25a1.5 1.5 0 0 0-1.5-1.5H3.75a1.5 1.5 0 0 0-1.5 1.5v13.5a1.5 1.5 0 0 0 1.5 1.5Zm12.621-9.44c-1.409 1.41-4.242 1.061-4.242 1.061s-.349-2.833 1.06-4.242a2.25 2.25 0 0 1 3.182 3.182Zm-5.598-3.18c1.409 1.409 1.06 4.242 1.06 4.242S9 12.22 7.592 10.811a2.25 2.25 0 1 1 3.182-3.182Z"/></svg>
                </div>
                <h3 class="text-[17px] font-semibold">
                  Vende mas +100 tipos de pines electrónicos con comisiones atractivas en tu negocio
                </h3>
              </div>

              <p class="mt-2">
                Ofrece a tus clientes la posibilidad de adquirir tarjeta de regalo para plataformas como Spotify, Netflix, Google Play, Free Fire y muchas más.
              </p>
            </article>

            <article class="shadow ring-1 ring-gray-200 dark:ring-gray-700 rounded-lg p-6">
              <div class="venta-pin-icon flex items-center">
                <div class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full mb-4 flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941"/></svg>
                </div>
                <h3 class="text-[17px] font-semibold">
                  Comisiones atractivas para vender pines electrónicos
                </h3>
              </div>
              <p class="mt-2">
                Esta es una oportunidad única para diversificar tu negocio y generar ingresos adicionales sin complicaciones. ¡Únete a nosotros y comienza a ganar más hoy mismo!
              </p>
            </article>

            <article class="shadow ring-1 ring-gray-200 dark:ring-gray-700 rounded-lg p-6">
              <div class="venta-pin-icon flex items-center">
                <div class="why-sell-icon w-12 h-12 inline-flex items-center justify-center rounded-full mb-4 flex-shrink-0">
               
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"/></svg>
                </div>
               
                <h3 class="text-[17px] font-semibold">
                  Atrae más clientes y fidelízalos ofreciendo pines electrónicos de las mejores marcas
                </h3>
              </div>

              <p class="mt-2">
                Al integrar esta funcionalidad en tu negocio, te posicionarás como un centro de soluciones prácticas y confiables.
              </p> 
            </article>
         
      </div>

      </div>

      <div class="venta-pin-col w-full col-span-10 lg:col-span-5 lg:pl-24 mt-12">
        <div class="flex flex-col lg:min-h-[805px] justify-center mx-auto">
          <img src="assets/img/pines.webp" alt="Venta de pines electrónicos para negocios">
          <img src="assets/img/pines-fisicos.webp" class="pt-8" alt="Venta de pines electrónicos para negocios">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-gradient-to-br from-red-700 to-red-900 dark:from-blue-700 dark:to-blue-900 mb-20">
  <div class="px-4 py-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-14 lg:px-8 lg:py-10">
    <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
      <span class="mb-6 sm:mx-auto">
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-teal-accent-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-10 text-white" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7a15.53 15.53 0 0 1-.311.06 15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/></svg>
        </div>
      </span>
      <div class="mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h4
          class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor"
              class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-deep-purple-accent-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="700c93bf-0068-4e32-aafe-ef5b6a647708" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#700c93bf-0068-4e32-aafe-ef5b6a647708)" width="52" height="24"></rect>
            </svg>
            <span class="relative">¿Que son</span>
          </span>
          los pines electrónicos?
        </h4>
        <p class="text-base text-indigo-100 md:text-lg">
          Los <strong>pines electrónicos</strong> son códigos digitales que permiten a los usuarios recargar saldo, activar suscripciones o acceder a servicios en plataformas populares como Spotify, Netflix, Google Play, Free Fire, Uber Eats y muchas más.
        </p>

        <!-- <p class="text-base text-indigo-100 md:text-lg mt-2">
          Estos códigos, que pueden ser de números o letras, se entregan de manera instantánea y se canjean fácilmente en las aplicaciones o sitios web correspondientes.
        </p> -->

        <p class="text-base text-indigo-100 md:text-lg mt-2">
          los pines electrónicos son una forma práctica, segura y rentable de modernizar tu negocio, ofreciendo un servicio que combina tecnología, comodidad y rentabilidad. ¡Aprovecha esta tendencia y lleva tu negocio al siguiente nivel!
        </p>
      </div>

      <div>
        <a routerLink="/registro"
          class="inline-flex items-center justify-center h-12 px-6 font-semibold tracking-wide bg-white text-slate-700 transition duration-200 rounded shadow-md hover:text-deep-purple-900 bg-teal-accent-400 hover:bg-deep-purple-accent-100 focus:shadow-outline focus:outline-none">
          registrarme
        </a>
      </div>
    </div>
  </div>
</section>

<section class="mb-20">

  <div class="container mx-auto">
    <div class="row">
      <div class="col">
        <h3 class="text-4xl font-semibold c-text">¿Como vender tarjetas de regalo?</h3>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

</section>

<section>
  <app-sales-method />
</section>

<!-- ============= SECCION POLITICAS RECARGAS ============= -->
<div class="politicas-servicices mb-3">
  <div class="politicas-services__container container mx-auto">
    <h3 class="politicas-services__h3 headline-3">
      Términos y condiciones tarjetas de regalo
    </h3>

    <ul class="politicas-services__ul">
      <li class="politicas-services__li list-option__li body-1">
        Solo se aceptarán depósitos o transferencias para saldo de pago de
        servicios en las cuentas autorizadas.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Los depósitos o transferencias para saldo de venta de tarjetas de regalo
        NO se facturan.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Es responsabilidad del usuario ingresar los datos correctos, ya que al
        realizar la venta de la tarjeta de regalo no hay ningún tipo de
        devolución.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        No hay devoluciones ni retiros una vez realizada la venta de tarjeta de
        regalo.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        En casos en que la venta de pines no se haya realizado, deberá
        notificarlo a su asistente ejecutivo, para ello deberá proporcionarle su
        <span class="politicas-services__span body-1 keyword__strong"
          >usuario e imagen del error.</span
        >.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Productos sujeto a cambios.
      </li>
    </ul>
  </div>
</div>

<section class="mb-20">
  <h2 class="text-4xl font-semibold c-text text-center">Registro para vender tarjetas de regalo en mi negocio</h2>
  <app-register-steps></app-register-steps>
</section>
