.banner-notificacion {
  &__container {
    grid-template-columns: 1fr;
    background-color: var(--c-body);
  }
}

.notf {
  &__frame {
    height: 100vh;
  }

  &__horario {
    // height: 100%;
  }

  &__item {
    background-color: var(--c-light-secondary);
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    border-radius: 15px;
    position: sticky;
    top: 10px;
  }

  &__img {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  &__h2 {
    text-align: center;
    color: var(--c-primary);
  }
}
