<div class="banner-notificacion">
   <div class="banner-notificacion__container container mb-3">
    <picture class="banner-notificacion__picture">
        <source media="(min-width:1200px)" srcset="assets/img/Banner-notificacion.png" type="image/png">
        <source media="screen and (max-width: 650px)" srcset="assets/img/Banner-notificacion__responsive.png" type="image/png">
        <img src="assets/img/Banner-notificacion.png" class="banner-notificacion__img banner__img" width="100%" height="100%" alt="Conoce & registrate en nuestras plataformas Pagaqui y obten una comisión por cada venta que realizes en recargas & pago de servicios">
    </picture>
   </div>
</div>


<div class="notf">

    <div class="notf__container container">

        <div class="notf__titular">
            <span class="headline-4 head-4">Notificación de depositos pagaqui</span>
            <h1 class="notf__h1 headline-2">Reporte de depositos Pagaqui</h1>
            <p class="notf__p body-1 mb-1">Si ya eres cliente de <strong class="notf__strong body-1 keyword__strong keyword__compani">recargas5g.com</strong> Ó <strong class="notf__strong body-1 keyword__strong keyword__compani">recargas electrónicas</strong> Reporta por tus depositos y/o transferencias de <span class="notf__span body-1 keyword__strong keyword__compani">Pagaqui</span>.
                Llenando el formulario con los datos de tu ficha de deposito.</p>
            <p class="notf__p body-1 mb-1">***Recuerda que... Si el pago se reporta en la plataforma fuera del horario establecido, el pago se reflejará en el siguiente horario hábil de manera automática si los datos son correctos.</p>
        
                <div class="notf__horario">

                    <div class="notf__item">
                        <img src="assets/img/register-deposito.png" class="notf__img" loading="lazy" alt="Notificación de deposito Pagaqui">
                        <h2 class="notf__h2 headline-5">Horario de aplicación de depositos Pagaqui</h2>
    
                        <div class="pagaqui-item__description">
                            <span class="pagaqui-item__span body-1">Lunea a Viernes 9:00am a 6:00pm</span>
    
                            <span class="pagaqui-item__span body-1">Sabados 9:00am a 5:00pm </span>
                        </div>
                    </div>
                </div>
     
        </div>

            <div class="notf__formulario mb-2">
                <iframe width="100%" height="950" title="Reporte de depósitos Pagaqui" class="notf__frame" src="https://www.emailmeform.com/builder/embed/oA56y9UjBw9zuN3Y"><a href="https://www.emailmeform.com/builder/embed/oA56y9UjBw9zuN3Y">Fill out form.</a></iframe>
            </div>
    </div>
</div>