<div class="banner banner-plataformas">
   
    <div class="banner-plataformas__container container mx-auto mt-14 shadow rounded-lg">
        <picture class="banner-plataformas__picture ">
            <source media="(min-width:1200px)" srcset="/assets/img/plataformas/planetaemx/banner-recargas-planetaemx.webp" type="image/webp">
            <source media="screen and (max-width: 950px)" srcset="/assets/img/plataformas/planetaemx/banner-plataforma-planetaemx__responsive.png" type="image/png">
            <img src="/assets/img/plataformas/planetaemx/banner-recargas-planetaemx.webp" class="banner-plataformas__img w-full h-auto" width="1280" height="572" alt="Conoce & registrate en nuestra plataforma Planetaemx/Recargaki y obten una comisión por cada venta que realizes en recargas & pago de servicios">
        </picture>
    </div>

</div>

 <div class="section-carousel-planetaemx my-20">
     <app-product-carousel [products]="productCarousel()"></app-product-carousel>
 </div>

 <section class="section-sistema-planetaemx px-4 sm:px-6 lg:px-8 mb-20">
        <div class="sistema-planetaemx__container container mx-auto grid grid-cols-1 lg:grid-cols-[1fr,1fr] justify-between gap-4">

            <div class="sistema-planetaemx__col">
                <p class="sistema-planetaemx__p relative text-2xl text-left font-semibold text-red-700 dark:text-sky-400">
                    Plataforma segura e intuitiva
                </p>
                  <h2 class="sistema-planetaemx__h2 text-3xl sm:text-4xl lg:text-5xl font-extrabold text-slate-700 dark:text-white pb-4">
                    <span
                      class="relative before:content-[''] before:absolute before:bg-green-700 before:dark:bg-blue-400 before:right-0 before:left-0 before:h-1 before:-z-[5] before:bottom-2">
                    Venta de recargas electrónicas Bait
                    </span>
                    <span class="text text-green-700 dark:text-green-600">- Planetaemx</span>
                  </h2>

                <p class="sistema-planetaemx__p text-sm lg:text-base text-slate-600 dark:text-slate-300 mb-4 leading-loose">
                   Con <strong>Planetaemx</strong> obten una comisión por depósito.
                </p>

                <p class="sistema-planetaemx__p text-sm lg:text-base text-slate-600 dark:text-slate-300 mb-4 leading-loose">
                    En PlanetaeMx ofrecemos soluciones rápidas y seguras para la compra de recargas telefónicas, el pago de servicios y la adquisición de tarjetas de regalo. Nuestra plataforma te permite realizar todas estas operaciones en un solo lugar, ahorrándote tiempo y esfuerzo. Además, 
                    obtén beneficios exclusivos como comisiones por depósitos, todo desde la comodidad de tu dispositivo. ¡Simplifica tus pagos con PlanetaeMx
                </p>

                <p class="sistema-planetaemx__p text-sm lg:text-base text-slate-600 dark:text-slate-300 mb-4 leading-loose">
                    Con una inversión minima de $100 obtendras el monto correspondiente en saldo + % de comisión.
                </p>
            </div>
            <div class="sistema-planetaemx__col">
                <img src="/assets/img/plataformas/planetaemx/sistema-planetaemx.webp" alt="sistema de venta de recargas planetaemx">
            </div>
        </div>
 </section>

 <section class="section-comision-planetaemx px-4 sm:px-6 lg:px-8 mb-20">
    <div class="comision-planetaemx__container container mx-auto bg-gradient-to-tr from-red-600 to-red-800 py-10 px-7 lg:py-20 lg:px-14 rounded-3xl">
        <h3 class="text-3xl font-semibold text-white text-center mb-4">Comisión por depósito</h3>
        
        <p class="text-sm lg:text-base text-white leading-loose">
            Vende recargas electrónicas desde tu computadora, smartphone o via SMS. Obten el monto de tu inversión en saldo mas + una comisión. El sistema de venta de recargas, pago de servicios y tarjeta de regalo mas confiable y seguro.
        </p>

        <p class="text-sm lg:text-base text-white leading-loose">
            Ideal para todo tipo de negocio, micro y grandes empresas: Tiendas, abarrotes, farmacias, papelerias, ciber, zapaterias, ferreterias, etc.
        </p>

        <b class="text-sm lg:text-base text-white inline-block py-2 leading-loose">Bait, Telcel, Movistar, Unefon, AT&T, ALO, FreedomPop, Virgin Mobile, Simpati, Gugacom </b>
        


    </div>
</section>

<section class="section-bancos-planetaemx mb-20 px-4 sm:px-6 lg:px-8">

    <div class="bancos-planetaemx__container container mx-auto">
        <div class="bancos-planetaemx__row flex flex-col lg:flex-row flex-wrap ">

            <div class="bancos-planetaemx__col w-full lg:w-1/2 mb-8 lg:mb-0">
                <p
                class="bancos-pagaqui__subtitle text-xl lg:text-2xl text-red-700 dark:text-blue-400 font-semibold">
                Cuentas bancarias Planetaemx/Recargaki</p>
                <h3 class="text-gray-700 dark:text-white font-bold text-3xl mb-4">Bancos para venta de recargas</h3>
                <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300 mb-4">Realiza tus compras a alguna de las cuentas bancarias participantes, obten el monto
                    en saldo correspondiente + una comisión extra, para que puedas realizar recargas a cualquier compañia, con excelentes comisiones
                </p>

                <img src="assets/img/plataformas/planetaemx/bancos-planetaemx.webp" alt="Bancos para recargar saldo" class="w-full h-auto mb-4">

                <button
                class="mx-auto block rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true"
              >
                Consultar cuentas bancarias
              </button>
            </div>
            <div class="bancos-planetaemx__col w-full lg:w-1/2 mt-4 lg:mb-0">
                <img src="assets/img/plataformas/planetaemx/conoce-bancos-planetaemx.webp" alt="Conoce los bancos para recargar saldo" class="w-full max-w-[650px] h-auto mx-auto">
            </div>
        </div>
    </div>
</section>


 <section class="section-app-recargaki px-4 sm:px-6 lg:px-8 mb-20">

    <div class="app-recargaki__container max-w-7xl mx-auto">

        <div class="app-recargaki__row flex flex-col lg:flex-row flex-wrap justify-center">
            <div class="app-recargaki__col w-full lg:w-1/2 justify-center item">
                <h2 class="app-pagaqui__h2 text-3xl lg:text-4xl text-slate-700 dark:text-white font-bold mb-4">App Recargaki</h2>

                <ul class="app-pagaqui__ul flex flex-wrap flex-col">


                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-green-100 before:text-green-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Descarga la app desde la tienda oficial como <strong>Recargaki</strong>
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-green-100 before:text-green-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Si ya eres cliente de <a class="text-base font-bold text-green-700 dark:text-green-500" href="https://www.recargaki.com/index.php" target="_blank">Recargaki</a>, <a class="text-base font-bold text-green-700 dark:text-green-500" href="https://planetaemx.com/index.php" target="_blank">Planetaemx</a> o de
                            <strong>Recargas electrónicas</strong>,
                            ingresa a la plataforma con tus datos de acceso
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-green-100 before:text-green-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Consulta y depósita un monto minimo de $100 a alguna de las cuentas vigentes.
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-green-100 before:text-green-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Reporta tu depósito en el portal
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-green-100 before:text-green-700">
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Obten el saldo correspondiente + una comisión extra
                        </p>

                    </li>

                    <li class="app-pagaqui__li relative mb-[30px] pt-[10px] pb-[10px] pl-14 before:absolute before:content-[counter(indexApp)] before:top-3 before:left-0 before:text-2xl before:size-8 before:text-center before:rounded-full before:bg-green-100 before:text-green-700">
                       
                        <p class="text-sm lg:text-base text-gray-700 dark:text-gray-300">
                            Listo, ya podras realizar recargas a cualquier compañia
                        </p>

                    </li>

                </ul>

                <div class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 mb-8">
                
                    <a href="#"
                        class="w-full sm:w-auto flex bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 text-white rounded-lg items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
                        <svg class="mr-3 w-7 h-7" aria-hidden="true" focusable="false" data-prefix="fab"
                            data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z">
                            </path>
                        </svg>
                        <div class="text-left">
                            <div class="mb-1 text-xs">Get in on</div>
                            <div class="-mt-1 font-sans text-sm font-semibold">
                                Google Play
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="app-recargaki__col w-full lg:w-1/2">
                <app-recargas [carouselImages]="appRecargaki()"></app-recargas>

            </div>
        </div>
    </div>
 </section>

 <section class="section-beneficios relative overflow-hidden bg-gray-900 dark:bg-slate-700 rounded-2xl mx-4 lg:mx-8 mb-20">
    <div class="p-8 sm:px-8 lg:px-16 lg:py-14">
        <h3 class="text-white text-3xl font-bold text-center mb-4">Planetaemx ideal para tu negocio</h3>
        <div class="md:flex md:items-center md:space-x-12 lg:space-x-24">
            <div class="grid grid-cols-1 gap-y-3 sm:grid-cols-2 gap-x-12 xl:gap-x-24">
                <div>
                    <ul class="space-y-3 text-base font-medium text-white font-pj">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7">
                                </path>
                            </svg> Excelentes comisiones
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7">
                                </path>
                            </svg> Adaptado para todo tipo de negocio
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7">
                                </path>
                            </svg> Sistema estable y seguro
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="space-y-3 text-base font-medium text-white font-pj">
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7">
                                </path>
                            </svg> Diferentes metodo de venta
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7">
                                </path>
                            </svg> Soporte personalizado
                        </li>
                        <li class="flex items-center">
                            <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7">
                                </path>
                            </svg> Ofrece mejores productos y servicios a tus clientes
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block md:hidden lg:block">
                <div class="hidden lg:block">
                    <svg class="w-4 h-auto text-gray-600" viewBox="0 0 16 123" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 11)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 46)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 81)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 116)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 18)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 53)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 88)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 123)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 25)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 60)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 95)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 32)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 67)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 102)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 39)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 74)"></line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5"
                            transform="matrix(-0.83205 -0.5547 -0.5547 0.83205 15 109)"></line>
                    </svg>
                </div>
                <div class="block mt-10 md:hidden">
                    <svg class="w-auto h-4 text-gray-600" viewBox="0 0 172 16" fill="none" stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 11 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 46 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 81 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 116 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 151 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 18 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 53 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 88 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 123 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 158 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 25 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 60 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 95 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 130 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 165 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 32 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 67 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 102 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 137 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 172 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 39 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 74 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 109 1)">
                        </line>
                        <line y1="-0.5" x2="18.0278" y2="-0.5" transform="matrix(-0.5547 0.83205 0.83205 0.5547 144 1)">
                        </line>
                    </svg>
                </div>
            </div>
            <div class="mt-10 md:mt-0">
                <a title="Get quote now"
                    class="inline-flex items-center justify-center px-9 py-3.5 mt-5 text-base font-bold text-gray-900 transition-all duration-200 bg-white border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white font-pj hover:bg-opacity-90 rounded-xl"
                    href="#support"> Registrarme ahora
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ============= SECCION METODOS VENTA ============= -->
 <app-sales-method [titleChannel]="'Metodos de recargas Planetaemx'"></app-sales-method>


<app-register></app-register>