<!-- ============= BANNER HOME ============= -->
<div
  class="containers__container mt-0 container mx-auto relative px-6 lg:px-8 pb-6"
>
  <div class="pages__homepageGrid grid grid-flow-row gap-12 lg:gap-20 pb-10">
    <div
      class="hero-wrapper min-h-[50vh] grid items-center lg:grid-cols-[0.75fr,1fr] auto-cols-[1fr] py-8 my-8 relative"
    >
      <span
        class="wrapper__shape hidden lg:block absolute before:content-[attr(data-card)] text-slate-500/30 font-bold text-5xl rotate-90 left-[-80px] top-52 wrapper__shape-1"
        data-card="RECARGAS"
      ></span>
      <span
        class="wrapper__shape hidden lg:block absolute before:content-[attr(data-card)] text-slate-500/30 font-bold text-5xl rotate-[-90deg] right-[-80px] bottom-[200px] wrapper__shape-2"
        data-card="SERVICIOS"
      ></span>

      <div class="hero-wrapper__left w-full">
        <div class="hero-badge__container flex justify-center lg:justify-start">
          <div
            class="hero-badge__content rounded-3xl flex flex-row flex-nowrap gap-2 items-center justify-center gap-x-2 bg-red-100 px-4 py-2 w-full max-w-[250px]"
          >
            <span
              class="hero-badge__label text-base lg:text-lg font-medium text-red-700"
            >
              con Recarga5g.com
            </span>
            <img
              src="/assets/img/ganancias-recargas.png"
              class="hero-badge__img w-8 h-8"
              alt="ganancias por la venta de recargas"
            />
          </div>
        </div>

        <h1
          class="wrapper-titular__h1 text-center lg:text-left tracking-tight text-4xl lg:text-6xl font-extrabold text-slate-700 uppercase my-[0.5em]"
        >
          Comisión hasta un 7.5% fijo por venta de recargas.
        </h1>

        <span #textDinamic class="wrapper-titular__dinamic"></span>
        <p
          class="wrapper-titular__p text-base lg:text-lg text-slate-600 pt-4 leading-loose text-center lg:text-left"
        >
          No pierdas la oportunidad de aumentar tus ingresos y brindar un
          servicio adicional a tus clientes. ¡Regístrate en nuestro sitio web y
          comienza a vender recargas electrónicas hoy mismo!
          <span class="wrapper-titular__p--restriccion body-1"
            >**Aplica restricciones**</span
          >
        </p>

        <div
          class="wrapper-action flex flex-wrap align-center justify-center mt-4 gap-4"
        >
          <a
            class="wrapper-action__a radius-20"
            mat-raised-button
            color="primary"
            routerLink="/registro"
            >Registrarme ahora</a
          >
          <a
            class="wrapper-action__a my-button btn-underline"
            routerLink="/plataforma/pagaqui"
            >Consultar productos
            <mat-icon
              class="wrapper-action__icon"
              color="accent"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="outbound"
            ></mat-icon>
          </a>
        </div>
      </div>

      <div class="hero-wrapper__right">
        <img
          src="/assets/img/banner.webp"
          alt="Venta de recargas para todo tipo de dispositivo celular, tablet, pc"
          class="wrapper-image__img w-full h-full"
          loading="lazy"
        />
      </div>
    </div>

    <!-- ============= SECCIÓN CAROUSEL PRODCUCTOS ============= -->
    <div class="section-carousel-products">
      @for (product of products(); track $index) {
      <app-carousel-productos [products]="product"></app-carousel-productos>
      }
    </div>

    <!-- ============= SECCIÓN BENEFICIOS ============= -->
    <div class="section-beneficios">
      <div
        class="beneficios__container grid grid-cols-1 lg:grid-cols-[1fr,1fr] items-center justify-center gap-8"
      >
        <div class="beneficios-left">
          <div class="beneficios-titles">
            <h2
              class="beneficios-titles__h3 text-red-700 text-4xl font-semibold mb-2"
            >
              Recargas Telcel
            </h2>
            <p
              class="beneficios-titles__p text-slate-700 font-bold pb-2 text-3xl lg:text-5xl my-4"
            >
              Venta de
              <strong class="beneficios-titles__strong font-bold"
                >Recargas Telcel</strong
              >
              para cualquier negocio
            </p>
          </div>

          <p class="beneficios-right__p text-base lg:text-lg text-slate-700 mb-4">
            Elije la mejor manera para que vendas recargas a través de tu
            computadora o laptop ingresando al portal de ventas de recargas
            electrónicas desde tu navegador de preferencia, por mensaje SMS
            gratuito o descargando la aplicación desde la tienda oficial.
          </p>

          <p class="beneficios-right__p text-base lg:text-lg text-slate-700 mb-4">
            Forma parte de miles de clientes que generan grandes ganancias ofreciendo recargas.
          </p>

          <div
            class="beneficios-list my-4 flex items-start flex-col lg:flex-row"
          >
            <ul class="beneficios-list__ul">
              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span"
                  >Mayor flujo de clientes</span
                >
              </li>
              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span"
                  >Comisiones ajustadas a tu negocio</span
                >
              </li>
              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span"
                  >Variedad de compañias de recargas y servicios</span
                >
              </li>
              <li class="beneficios-list__li mt-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span">Haz crecer tu negocio</span>
              </li>
            </ul>

            <ul class="beneficios-list__ul beneficios-list__ul--2">
              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span body-1"
                  >Estabilidad y fiabilidad</span
                >
              </li>

              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span body-1"
                  >Soporte personalizado</span
                >
              </li>
              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span body-1"
                  >Diferenciador a tu negocio</span
                >
              </li>

              <li class="beneficios-list__li my-6 flex items-center gap-4">
                <mat-icon
                  class="mat-18 beneficios-list__icon"
                  [style]="{ color: '#00C853' }"
                  >check_circle</mat-icon
                >
                <span class="beneficios-list__span body-1"
                  >Adatado para cualquier tipo de negocio</span
                >
              </li>
            </ul>
          </div>

          <a
            class="radius-20"
            mat-raised-button
            color="primary"
            routerLink="/registro"
            >Registrarme ahora</a
          >
        </div>
        <div class="beneficios-right">
      
            <img
              src="/assets/img/ventas_telcel.webp"
              class="beneficios-left__img w-full h-full object-contain"
              loading="lazy"
              alt="Descubre todos los beneficios que podras obtener vendiendo recargas electrónicas"
            />
        
        </div>
      </div>
    </div>

    <!-- ============= SECCIÓN RAZONES ============= -->
    <div class="section-razones">
      <div class="razones__container">
        <div class="razones-titles">
          <span
            class="razones-titles__span text-red-700 text-4xl font-semibold mb-2 text-center block"
            >¿Por qué vender recargas Bait, Movistar?</span
          >
          <h3
            class="razones-titles__h3 text-slate-700 font-bold pb-2 text-3xl lg:text-5xl my-4 text-center"
          >
            Vende recargas electrónicas de todas las compañías de telefonía
            celular en México
          </h3>
        </div>

        <div class="razones-list">
          <ul class="razones-list__ul grid grid-cols-1 lg:grid-cols-3 gap-4">
            @for (razon of item(); track $index) {
            <li class="razones-list__li red-100 rounded-xl p-4 bg-red-100/30">
              <mat-icon
                class="mat-18 razones-list__icon text-center my-3 text-4xl"
                color="primary"
                >{{ razon.nameIcon }}</mat-icon
              >
              <h4
                class="razones-list__h4 text-xl font-semibold text-slate-900 text-center mb-4"
              >
                {{ razon.title }}
              </h4>
              <p
                class="razones-list__p text-base text-slate-700 text-center leading-1"
              >
                {{ razon.description }}
              </p>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>

    <!-- ============= SECCION SISTEMA ============= -->
    <div class="section__sistema">
    
        <div class="sistema__container grid grid-cols-1 lg:grid-cols-[1fr,1fr] justify-between gap-4">
          <div class="sistema__left">
            <p class="sistema__p text-red-700 text-4xl font-semibold mb-2 text-left">
            Sistema para vender recargas
          </p>
            <h3 class="sistema__h3 h text-slate-700 font-bold pb-2 text-3xl lg:text-5xl my-4">
              Sistema de recargas mas seguro y estable
            </h3>

            <p class="sistema__p text-base lg:text-lg text-slate-700 mb-4">
              <a
                href="https://recargaselectronicas.org/"
                class="sistema__a"
                target="_blank"
                rel="noopener noreferrer">Recargas Electrónicas</a>
              te ofrece el sistema de recargas mas robusta con todas las
              compañias de telefonia disponibles en México, para que puedas
              ofrecer a tus clientes venta de rercargas con variedad de
              compañias de telefonia mientras generas el retorno de tu inversión
              + ganancias.
            </p>

            <p class="sistema__p text-base lg:text-lg text-slate-700 mb-4">Eliges el canal de venta que mas te interese,
              Ya sea desde la App, SMS o desde la plataforma web. Nuestro sistema es fácil de usar, garantizando una experiencia de usuario excepcional.
              Ofrece a tus clientes. Contamos con compañias: 
            </p>

            <a
              href="https://www.telcel.com/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">Telcel</a>,

            <a
              href="https://mibait.com/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">Bait</a>,

            <a
              href="https://www.movistar.com.mx/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">Movistar</a>,

            <a
              href="https://pillofon.mx/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">
              Pillofon</a>,

            <a
              href="https://virginmobile.mx/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">
              Virgin mobile</a>,

            <a
              href="https://www.izzi.mx/home"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">Izzi</a>,
            <a
              href="https://open.spotify.com/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">Spotify</a>,
            <a
              href="https://www.netflix.com/mx/"
              class="sistema__link text-base lg:text-lg font-semibold text-red-600"
              target="_blank"
              rel="noopener noreferrer">Netflix</a>,

            <p class="text-base lg:text-lg text-slate-700 mb-4">
              & mucho mas compañias, Estamos constantemente agregando mas
              compañias de recargas, pago de servicios y tarjeta de regalos!
            </p>

            <a
              class="body-1 sistema__a--registro"
              mat-raised-button
              color="primary"
              routerLink="/registro">Registrarme ahora</a>
          </div>

          <div class="sistema__right">
            <img
              src="/assets/img/sistema_recargas.webp"
              class="sistema__img w-full h-full"
              matTooltip="Venta de recargas para celulares, computadoras y via SMS"
           
              loading="lazy"
              alt="venta de recargas para celulares, computadora o via SMS con excelentes comisiones"
            />
          </div>
        </div>
   
    </div>

    <!-- ============= SECTION PRODUCTOS ============= -->
    <app-filter-productos></app-filter-productos>

    <!-- ============= SECCION  NOTIFICACION DEPOSITOS ============= -->
    <div class="section__inversion">
      <div class="inversion__container">

          <h2 class="inversion-titles__h2 text-slate-700 font-bold pb-2 text-3xl lg:text-5xl my-4 text-center">
            Montos para vender recargas
          </h2>
     
        <div class="inversion-box grid grid-cols-1 lg:grid-cols-[1fr,1fr]">
          <div class="inversion-right img-custom">
            <img
              src="/assets/img/montos.webp"
              class="inversion-right__img w-full h-full"
              loading="lazy"
              alt="Deposita un monto minimo y empieza a vender recargas a cualquier compañia"
            />
          </div>

          <div class="inversion-subtitle">
            <h3 class="inversion-subtitle__h3 text-red-700 font-bold pb-2 text-3xl lg:text-4xl my-4 ">
              Deposita un monto mínimo de $100 y empieza a vender recargas
            </h3>
            <!-- <p class="inversion-subtitle__p text-base lg:text-lg text-slate-700 mb-4">
              Puedes invertir desde $100 pesos. A través de nuestro servicio de
              atención a clientes te explicamos como vender
              <strong class="body-1 keyword__strong">recargas Telcel</strong> y
              de todas las compañías en tu negocio y además ganar una comisión.
              Vender recargas es uno de los mejores negocios para ti. Muchos
              negocios que desean vender saldo.
            </p> -->

            <p class="inversion__p text-base lg:text-lg text-slate-700 mb-4">Con una inversión minima de $100 pesos.
              Podras realizar recargas a cualquier compañia,
              pagar algun servicio o ofrecer tarjetas de regalo. Con un retorno de tu inversión inmediata, ademas de una comisión extra. 
            </p>

            <p class="inversion__p text-base lg:text-lg text-slate-700 mb-4">No te quedes sin saldo. Podras
              recarga saldo nuevamente los 24/7 los 365 días del año, incluyendo días festivos y días domingos. Realizando tus depósitos en alguno de 
              los establecimientos participantes. 
            </p>
<!-- 
            <p class="inversion__p text-base lg:text-lg text-slate-700 mb-4">
              No pierdas la oportunidad de transformar tu negocio y aumentar tus ingresos. Regístrate hoy mismo y comienza a ofrecer recargas desde $100 con las mejores comisiones del mercado. Nuestro sistema fácil de usar, seguro y confiable, junto con nuestro soporte continuo, te ayudará a destacar y ser mas competitivo mundo de los negocios.
            </p> -->


            <ul class="inversion__ul">
              <li class="inversion__li my-6 flex items-center gap-4">
                <mat-icon
                class="mat-18 beneficios-list__icon"
                [style]="{ color: '#00C853' }"
                >check_circle</mat-icon
              >
                <p class="inversion__p  text-base lg:text-lg text-slate-700">
                  Sin pagos forzosos ni anualidades.
                </p>
              </li>
              <li class="inversion__li my-6 flex items-center gap-4">
                <mat-icon
                class="mat-18 beneficios-list__icon"
                [style]="{ color: '#00C853' }"
                >check_circle</mat-icon
              >
                <p class="inversion__p text-base lg:text-lg text-slate-700">
                  Deposita como y cuando quieras.
                </p>
              </li>
              <li class="inversion__li my-6 flex items-center gap-4">
                <mat-icon
                class="mat-18 beneficios-list__icon"
                [style]="{ color: '#00C853' }"
                >check_circle</mat-icon
              >
                <p class="inversion__p text-base lg:text-lg text-slate-700">
                  Aplicación de depósitos automático.
                </p>
              </li>

              <li class="inversion__li my-6 flex items-center gap-4">
                <mat-icon
                class="mat-18 beneficios-list__icon"
                [style]="{ color: '#00C853' }"
                >check_circle</mat-icon
              >
                <p class="inversion__p text-base lg:text-lg text-slate-700">
                Soporte continuo y personalizado.
                </p>
              </li>

              <li class="inversion__li my-6 flex items-center gap-4">
                <mat-icon
                class="mat-18 beneficios-list__icon"
                [style]="{ color: '#00C853' }"
                >check_circle</mat-icon
              >
                <p class="inversion__p text-base lg:text-lg text-slate-700">
                Excelentes comisiones.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- ============= SECCION NEGOCIO ============= -->
    <div class="section__negocio">
      <div class="negocio__container container mx-auto">
        <div class="negocios-left">
          <div class="negocio-titles">
            <p class="negocios-titles__p text-center text-red-700 text-xl sm:text-2xl lg:text-3xl font-semibold">Venta de recargas para negocio</p>
            <h2 class="negocio__h2 text-center text-slate-700 font-bold text-3xl lg:text-5xl my-2">
              Venta de recargas para todo tipo de negocio
            </h2>
          </div>

          <!-- <p class="negocio-left__p body-1">
            Ofrece
            <strong class="keyword__strong body-1"
              >venta de recargas electrónicas para cualquier tipo de
              negocio</strong
            >: Tienda de conveniencia, Abarrotes, Ferreterías, Farmacia,
            Vinaterías, Cyber, cajas de ahorros, pequeñas, medianas y grandes
            negocios. Genera ganancias extras mientras obtienes un mayor flujo
            de clientes.
          </p> -->

          <!-- <p class="negocio-left__p body-1 mb-1">
            Tu registro es totalmente gratuito, si tienes dudas acerca de cómo
            vender recargas o requieres mayor información contactos.
          </p>

          <a
            mat-raised-button
            color="primary"
            class="negocio-left__a"
            routerLink="/registro"
          >
            Registrarme ahora!!
          </a> -->
        </div>

        <div class="negocio-right grid grid-cols-1 lg:grid-cols-4 gap-y-12 gap-x-10 mt-12">
          @for (negocio of negocios(); track $index) {
          <div class="negocio-category bg-red-50 py-2 px-8 rounded-3xl">
            <img
              [src]="negocio.nameIcon"
              class="negocio-category__img max-w-14 max-h-14 w-full h-full mt-8 mb-4 mx-auto"
              loading="lazy"
              [alt]="negocio.label"/>
            <h3 class="negocio-category__h3 text-xl text-center text-red-700 font-medium my-4">
              {{ negocio.typeNegocio }}
            </h3>
          </div>
          }
        </div>
      </div>
    </div>

      <!-- ============= SECCION METODOS VENTA ============= -->
       <div class="section__metodos">
        <h2 class="metodos-home__h2 text-slate-700 font-bold pb-2 text-3xl lg:text-5xl mb-4">
         Como vender recargas 
      </h2>

      <app-metodo-ventas></app-metodo-ventas>

       </div>
  </div>

  <!-- ============= SECCION APP RECARGAS ============= -->
  <!-- <app-recargas></app-recargas> -->

  <!-- ============= SECCION ABOUT ============= -->
  <!-- <div class="about mb-3">
    <div class="about__container container">
        <div class="about-title">
            <h3 class="about-title__h3 headline-3">
                los años nos respaldan como los mejores del mercado en la venta de
                tiempo aire
            </h3>
            <p class="about-content__p body-1">
                <strong class="about-content__strong body-1 keyword__compani">Recarga5g.com</strong>
                Ofrece la
                <strong class="about__strong">venta de tiempo aire celulares de las principales compañías de
                    México, pago de servicios y pines electrónicos</strong>
                . Usted puede vender tiempo aire desde su tienda, farmacia, ciber, casa,
                etc. únicamente necesita tener un dispositivo con acceso a Internet
                (página web) o un celular para la venta vía mensaje de texto. No esperes
                más y contrata nuestros servicios e incrementa tus ventas
                considerablemente con esta gran oportunidad de atraer nuevos clientes a
                tu negocio.
            </p>
        </div>

        <div class="about-right">
            <picture class="about-right__picture">
                <source media="(min-width:1200px)" srcset="assets/img/Banner__map.png" type="image/jpg" />
                <source media="screen and (max-width: 650px)" srcset="assets/img/Banner-map__responsive.png"
                    type="image/jpg" />
                <img src="/assets/img/Banner__map.png" width="1200" height="572" class="about-right__img" loading="lazy"
                    alt="Trayectoria de Recarga5g.com" />
            </picture>
        </div>
    </div>
</div> -->

  <!-- ============= SECCION HISTORY ============= -->
  <!-- <div class="history mtop-5 mbottom-3">
    <div class="history__container container">
        <div class="history-content">
            <span class="history-content__span"></span>
            <h3 class="history-content__h3 headline-3">
                Mas de 20 años ofreciendo nuestros servicios venta de tiempo, Telcel,
                Movistar
            </h3>

            <p class="history-content__p body-1">
                Nuestro equipo de trabajo tiene por objetivo brindar a todos nuestros
                clientes la mejor atención, en el plazo menor posible. es por ello que
                estamos en constante innovación para seguir brindándole la mejor
                experiencia.
            </p>

            <h4 class="history-content__h4 headline-4">Recargas Electrónicas</h4>
        </div>

        <div class="history-image img-custom">
            <img src="/assets/img/equipo-recargas-electronicas.png" class="history-image__img" loading="lazy" width="500"
                height="500" alt="Mas de 20 anos ofreciendo lo mejor en el todo el territorio mexicano" />
        </div>
    </div>
</div> -->

  <!-- ============= SECCION RECORDS ============= -->
  <!-- <div class="records mb-3">
    <div class="records__container container">
        <div class="records-left">
            <h3 class="records-left__h3 headline-3">
                Líder nacional en la venta de tiempo aire
            </h3>

            <p class="records-left__p body-1">
                <strong>Recarga5g.com</strong> cuenta con la trayectoria y el respaldo
                de más de 40,000 clientes felices en todo el territorio mexicano nos
                catalogan como la plataforma más estable y segura para la venta
                <strong>recargas electrónicas Telcel, movistar & todas las compañía celular.
                </strong>
            </p>
        </div>

        <div class="records-items">
            <div class="records-item">
                <img src="/assets/img/group-record.png" class="records-item__img" loading="lazy"
                    alt="40000 clientes felices" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item-title__span headline-4 counter" data-number="4000">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">Clientes Felices</p>
                </div>
            </div>

            <div class="records-item">
                <img src="/assets/img/trayectoria-record.png" class="records-item__img"
                    alt="mas de 20 años en el mercado de recargas" loading="lazy" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item-title__span headline-4 counter" data-number="20">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">Años en el mercado</p>
                </div>
            </div>

            <div class="records-item">
                <img src="/assets/img/network-record.png" class="records-item__img" loading="lazy"
                    alt="Recargas Electrónicas cuenta con miles de puntos de ventas, no esperas y empieza a vender recargas" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item-title__span headline-4 counter" data-number="1800">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">Puntos de venta</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">
                <img src="/assets/img/empresas-record.png" class="records-item__img" loading="lazy"
                    alt="mas de 200 compañias de servicios IZZI, TELMEX, CFE Y muchos mas!" />

                <div class="records-item-title">
                    <p class="records-item-title__p headline-4">
                        <span #counter class="records-item__span headline-4 counter" data-number="100">0</span>
                        +
                    </p>
                    <p class="records-item-title__p body-1">compañia de servicios</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

  <!-- ============= SECCION REGISTRO ============= -->
  <!-- <div class="registro-home mb-3">
    <div class="registro-home__container container">
        <div class="registro-home__left">
            @for (step of stepsRegister(); track $index) {
                <app-register-steps [step]="step"></app-register-steps>
            }
        </div>
        <div class="registro-home__right">
            <span class="register-home__span headline-4 head-4">¿Como me registro para vender recarga?</span>
            <h3 class="register-home__h3 headline-3">
                Regístrate totalmente gratis y empieza a vender recargas
            </h3>
            <p class="register-home__p body-1 mb-1">
                En
                <a href="https://recargaselectronicas.org/" class="register-home__a body-1" target="_blank"
                    rel="noopener noreferrer">
                    <strong class="keyword__strong keyword__compani">Recargas Electrónicas</strong>
                </a>
                ofrecemos una amplia variedad de opciones para recargar tus dispositivos
                electrónicos en línea, desde la comodidad de tu hogar u oficina.
                Olvídate de perder tiempo haciendo fila y recarga tus dispositivos
                rápidamente en minutos.
            </p>

            <a class="registro-home__a" routerLink="/registro" mat-raised-button color="primary">Registrarme</a>
        </div>
    </div>
</div> -->
</div>
