
// //* ============ SECCION METODOS ============
.mat-icon.mat-primary {
    width: 38px;
    height: 38px;
    font-size: 40px;
    color: #b91c1c ;
}


::ng-deep .panelModal .mdc-dialog__surface {
  border-radius: 20px !important;
}




// .metodos-venta__card:hover .metodos-venta__content .metodos-venta__image {
//     transform: rotateY(180deg);
// }

// .card-content__button:hover .metodos-venta__icon {
// transform: translateX(10px);
// }