<!-- ============= SECCION METODOS DE VENTA ============= -->

<div class="metodo-ventas relative grid grid-cols-1 lg:grid-cols-3 gap-6 ">
    @for (metodo of metodoVentas; let i = $index; track i) {
    <div class="flex items-center justify-center relative transition-transform ease-out duration-500 hover:-translate-y-3">
        <div
            class="bg-white dark:bg-slate-700 font-semibold text-center rounded-3xl border border-slate-100 dark:border-slate-600 shadow-lg p-10 max-w-96">
            <img class="mb-3 w-28 h-28 rounded-full shadow-lg mx-auto object-contain" [src]="metodo.img"
                alt="product designer">
            <h1 class="text-lg text-gray-700 dark:text-white"> {{ metodo.title }} </h1>
            <span class="text-sm text-red-600 dark:text-blue-300"> Registro gratis </span>
            <p class="text-base text-slate-700 dark:text-slate-300 mt-4 font-normal"> {{metodo.description}} </p>
            <button (click)="openModal(i)" class="bg-red-600 dark:bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide">Leer mas</button>
        </div>
    </div>

    
    <div 
        class="modal-wrapper fixed flex items-center justify-center inset-0 w-full h-full z-20 outline-none transition-all duration-500 overflow-hidden"
        [ngClass]="{ 'visible opacity-100' : isActiveModal() === i, 'invisible opacity-0 ': isActiveModal() !== i}">

        <div class="modal-overlay fixed inset-0 w-full h-full bg-black bg-opacity-50"></div>

        <div class="modal-card relative w-auto transition-all duration-300 transform"
            [ngClass]="{ 'translate-y-0 opacity-100 pointer-events-auto': isActiveModal() === i, '-translate-y-full opacity-0 pointer-events-none': isActiveModal() !== i}">

            <div
                class="relative p-6 shadow-lg rounded-md w-full pointer-events-auto bg-white dark:bg-slate-700 text-gray-800 max-w-screen-sm mx-auto">
               
                <div class="modal-header flex items-center justify-between space-x-4">
                    <h4 class="modal-title font-semibold text-gray-800 text-xl dark:text-white">{{ metodo.modal.subTitle }}</h4>
                    <!-- <button (click)="closeModal()" data-modal-toggle="example" data-modal-action="close"
                        class="transition-colors hover:bg-gray-50 dark:hover:bg-gray-600 focus:ring focus:outline-none p-2 rounded-full">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6 text-slate-700 dark:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>

                    </button> -->
                    <button (click)="closeModal()" class="text-gray-600 focus:outline-none hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                </div>
                
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                    Add your teammate to your team and start work to get things done
                </p>

                <div class="modal-body mt-5">

                    <ul class="modal-body__ul">
                        @for (list of metodo.modal.list; track $index) {
                        <li class="modal-body__li flex items-center gap-4 py-4">
                            <mat-icon class="modal-body__icon">
                                {{ list.iconName }}
                            </mat-icon>
                            <p class="modal-body__p text-slate-700 dark:text-slate-300 text-sm">
                                {{ list.description }}
                            </p>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    }
    
</div>