.plataforma-shapes__i {
    font-size: 1.7rem;
    color: var(--color-primary);
    opacity: 0.4;
    position: absolute;
}


/* ============ SECTION SERVICES ============  */

.services-wrapper {
    width: 100%;
    height: 550px;
}

.services-swiper-slide {
    height: calc((100% - 30px) / 2) !important;
}

.services-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: var(--back-card);
    padding: 1em;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.service-item__img {
    width: 260px;
    height: 200px;
    object-fit: contain;
}


/* ============ SECTION COMISION  ============  */

.comision {
    position: relative;
    box-shadow: var(--shadow);
}

.comision__container {
    overflow: hidden;
}

.comision__wrapper {
    padding: 150px 50px;
}

.comision-content__p {
    margin-bottom: 1em;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.7;
}

.comision-content__a {
    cursor: pointer;
}

.comision-image {
    position: relative;
}

.comision-image__shape {
    position: absolute;
    left: 50%;
    top: -199px;
    width: 580px;
    height: 580px;
    border-radius: 50%;
    transform: translateX(-50%);
}

.comision-image__img {
    position: absolute;
    top: -193px;
    left: 50%;
    width: 390px;
    transform: translateX(-50%);
}


/* ============ SECTION ACTIVITIES  ============  */

.activities-items {
    background-color: var(--back-card);
    border-radius: 10px;
    padding: 2em 1em;
    box-shadow: var(--shadow);
}

.activities-item {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1em;
    z-index: 1;
    position: relative;
}

.Pagaqui,
.Recargaki-Planetamex {
    font-weight: var(--font-600);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.35em;
}

.Pagaqui:before,
.Recargaki-Planetamex:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    border-radius: 50%;
}

.Pagaqui:before {
    background-color: rgb(12 79 224 / 22%);
}

.Recargaki-Planetamex:before {
    background-color: rgba(12, 224, 107, 0.22);
}

.activities-item__h4 {
    padding: 0 1em;
}

.activities-image__img {
    object-fit: contain;
    max-width: 450px;
    margin: auto;
}


/* ============ SECTION FEATURES  ============  */

.features-item {
    background-color: var(--back-card);
    padding: 0.65em 0.85em;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.features-item__h2 {
    font-size: 1.3rem;
    font-weight: var(--font-500);
    margin: 1em 0;
}

.features-item__i {
    font-size: 1.9rem;
    margin: 1rem 0;
    color: #fff;
    background-color: var(--color-primary);
    padding: 0.25em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: auto;
}


/* ============ SECTION CUENTAS ============  */

.cuentas {
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.cuentas__container {
    position: relative;
    overflow: hidden;
}

.cuentas-wrapper {
    padding: 20px;
    position: relative;
}

.cuentas-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.cuentas-content__h3 {
    font-weight: var(--font-600);
    line-height: 1.3;
    margin-bottom: 0.55rem;
}

.cuentas-content__p {
    line-height: 2;
    text-align: justify;
}

.cuentas-image__img {
    width: 500px;
    height: 500px;
    bottom: -67px;
    position: relative;
}

.cuentas-shapes__i--1 {
    top: 30px;
    left: 50px;
}

.cuentas-shapes__i--2 {
    top: 45px;
    right: 200px;
}

.cuentas-shapes__i--3 {
    bottom: 50px;
    left: 30px;
}

.cuentas-shapes__i--4 {
    right: 60px;
}

.cuentas-shapes__i--5 {
    left: 560px;
}

.cuentas-shapes__i--6 {
    bottom: 100px;
    right: 100px;
}


/* ============ SECTION DOWNLOAD ============  */

.download-app {
    margin: 4em 0;
}

.download-app__container {
    border-radius: 10px;
    padding: 3rem;
    position: relative;
}

.download-app__type {
    margin: auto;
}

.download-app__h3 {
    color: #fff;
    text-align: left;
    font-size: 2rem;
}

.download-app__picture {
    transition: transform 300ms ease-out;
}

.download-app__picture:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow);
}

.download-app__img {
    width: 280px;
    object-fit: contain;
}

.download-app__p {
    color: #fff;
    line-height: 40px;
}

.download-app__h4 {
    color: #fff;
    text-align: center;
}

.download-app__container .plataforma-shapes__i {
    color: #fff;
}

.download-app-shapes__i--1 {
    top: 28px;
    left: 120px;
}

.download-app-shapes__i--2 {
    top: 28px;
    right: 120px;
}

.download-app-shapes__i--3 {
    left: 100px;
    bottom: 100px;
}

.download-app-shapes__i--4 {
    bottom: 28%;
    right: 180px;
}

.download-app-shapes__i--5 {
    top: 30px;
    left: 50%;
}


/* ============ SECTION DEVICES ============  */

.devices {
    margin-top: 3rem;
}

.devices__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.devices-item {
    background-color: var(--back-card);
    margin: 4em 0;
    padding: 0.55em 0.75em;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: transform 400ms ease;
}

.devices-item:hover {
    transform: scale(1.1);
}

.devices-item__icon {
    text-align: center;
    margin: auto;
}

.devices-item__i {
    display: inline-block;
    font-size: 2.2rem;
    color: var(--color-primary);
    background-color: #FFF;
    width: 55px;
    height: 55px;
    line-height: 55px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.devices-item__i:after {
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--color-primary);
    border-radius: 50%;
    transform: scale(0);
    transition: .5s;
}

.devices-item:hover .devices-item__i {
    color: #fff;
}

.devices-item:hover .devices-item__i:after {
    transform: scale(1);
}

.devices-item__span {
    text-align: left;
    margin-top: 1em;
    font-weight: var(--font-600);
    font-size: var(--h3-font-size);
    color: var(--color-a);
}

.devices-item__p {
    text-align: justify;
    margin: .50em 0;
}

.devices-image {
    margin: 0 1rem;
}


/* ============ SECTION  ACCESO ============  */

.acceso {
    margin: 3rem 0;
    font-family: 'Raleway', 'Poppins', sans-serif;
    background-color: var(--back-acceso);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.acceso__container {
    overflow: hidden;
    position: relative;
    padding: 80px 0;
}

.acceso__items {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.acceso__item {
    padding: 0.55rem 0.75rem;
    text-align: center;
}

.acceso__h3 {
    font-weight: var(--font-600);
    line-height: 1.3;
    margin-bottom: 0.55rem;
}

.acceso__h4 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: var(--font-500);
    margin-bottom: 0.55em;
}

.acceso__image {
    margin-bottom: -80px;
}

.acceso__img {
    height: 450px;
}


/* ============ SECTION MANUALES  ============  */

.manuales-content {
    background-color: var(--back-manuales);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 0.55em 0.75em;
    overflow: hidden;
}

.manuales__a {
    margin-bottom: 3em;
}

.manuales__i {
    font-size: 1.3rem;
    padding: 0 .25em;
}

.manuales-pdfs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.manuales__img {
    height: 400px;
    position: relative;
    bottom: -19px;
}


/* ============ SECTION REGISTER ============  */

.register__container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    grid-gap: 2rem;
}

.register-items {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    text-align: center;
    position: relative;
}

.register-item {
    background-color: var(--back-card);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s transform;
    box-shadow: var(--shadow);
}

.register-item:hover {
    transform: translateY(-10px);
}

.register-item:nth-child(1) {
    border-radius: 40px 40px 5px 40px;
}

.register-item:nth-child(2) {
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.register-item:nth-child(3) {
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}

.register-item:nth-child(4) {
    border-radius: 5px 40px 40px 40px;
}

.register-card:hover {
    transform: scale(1.1);
}

.register-item__i {
    font-size: 1.9rem;
    color: var(--color-primary);
}

.register-item__span {
    font-weight: 500;
    font-size: 0.90rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
    color: var(--color-a);
}

.sub-heading {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--color-primary);
    padding: 1rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
    position: relative;
    line-height: 1.3;
}

.heading {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.register__p {
    line-height: 2;
}


/* ============ RESPONSIVE PLATAFORMAS COMPONENT ============  */

@media screen and (max-width: 992px) {
    /* ============ SECTION DEVICES ============  */
    .devices__content {
        grid-template-columns: 1fr;
    }
    .devices-item__span {
        text-align: center;
    }
    .devices-item__p {
        text-align: center;
    }
    .devices-image__img {
        max-width: 370px;
        margin: auto;
        object-fit: contain;
    }
    /* ============ SECTION COMISION  ============  */
    .comision__wrapper {
        padding: 10px 50px;
    }
    .comision-image__img {
        position: relative;
        width: 100%;
        max-width: 350px;
        margin: auto;
        transform: none;
        top: 0;
        left: 0;
        object-fit: contain;
    }
    .comision-image__shape {
        display: none;
    }
    .acceso__img {
        height: 400px;
    }
    /* ============ SECTION CUENTAS ============  */
    .cuentas__container {
        position: relative;
    }
    .cuentas-content__h3 {
        font-size: 1.4rem;
        line-height: 1.8;
    }
    /* ============ SECTION REGISTER ============  */
    .register__h2 {
        font-size: 2rem;
    }
    .register__h3 {
        font-size: 1.1rem;
    }
    .register__p {
        font-size: 1rem;
    }
    .register-items {
        order: 4;
        margin-bottom: 1em;
    }
    .register__info {
        order: 2;
        margin-bottom: 3em;
    }
    /* ============ SECTION DOWNLOAD APPS ============  */
    .download-apps {
        grid-template-columns: 1fr;
    }
    .download-app__h3 {
        font-size: 1.4rem;
    }
    .download-app__p {
        font-size: 1rem;
    }
    /* ============ SECTION ACCESO============  */
    .acceso__h3 {
        font-size: 1.4rem;
    }
    .acceso__h4 {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .acceso__item {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .register-items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 2.5rem 0 0 0;
        gap: 35px 10px;
    }
    .register-item {
        padding: 20px 0.75em;
    }
    .register-item:nth-child(2) {
        margin: 0;
    }
    .register-item:nth-child(3) {
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    /* ============ SECTION COMISION  ============  */
    .comision-content__p {
        font-size: 0.9rem;
    }
    .comsion-btns__play {
        height: 30px;
    }
    /* ============ SECTION ACTIVITIES  ============  */
    .activities-item__h4 {
        font-size: 0.90rem;
    }
    /* ============ SECTION CUENTAS ============  */
    .cuentas-content__h3 {
        font-size: 1.2rem;
    }
    .cuentas-content__p {
        text-align: left;
    }
    .cuentas-image__img {
        width: 400px;
        height: 400px;
    }
    /* ============ SECTION REGISTER ============  */
    .register__h3 {
        font-size: 1rem;
    }
    .register__h2 {
        font-size: 1.5rem;
    }
    .register__p {
        font-size: 0.90rem;
    }
}