<div class="banner banner-ayuda">
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_ayuda_d3CgfbV3S.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668634024076" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-ayuda__responsive_xAg0CBmgy.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667842887509" />

    <picture class="banner-ayuda__picture banner__desktop">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner_ayuda_d3CgfbV3S.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668634024076" class="banner__img banner-ayuda__img banner" width="100%" height="100%" alt="Contactanos para obtener mayor información acerca de la venta de tiempo aire Telcel, bait, Movistar">
    </picture>

    <picture class="banner-ayuda__picture banner__mobile">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner-ayuda__responsive_xAg0CBmgy.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667842887509" class="banner__img banner-ayuda__img" width="100%" height="100%" alt="Contactanos para obtener mayor información acerca de la venta de tiempo aire Telcel, bait, Movistar">
    </picture>
</div>


<div class="contacto">
    <div class="contacto__container container">

        <h1 class="contacto__h1 title">Medios de contacto para la venta de recargas</h1>
        <div class="contacto__content  grid grid-col-2 align-center justify-center grid-mobile">

            <div class="contacto-list">

                <div class="contacto-item">
                    <div class="contacto-item__title">
                        <i class='bx bx-time-five contacto-item__i'></i>
                        <h3 class="contacto-item__h3">
                            Horario de atención
                        </h3>
                    </div>
                    <p class="contacto-item__p">Lunes - Viernes 9AM - 6PM</p> <br>
                    <p class="contacto-item__p">Sabado - 9AM - 5PM</p>
                </div>
                <div class="contacto__separator"></div>

                <div class="contacto-item">
                    <div class="contacto-item__title">

                        <i class='bx bxs-news contacto-item__i'></i>
                        <h3 class="contacto-item__h3 title-pagaqui">
                            Reporte de deposito Pagaqui
                        </h3>
                    </div>
                    <p class="contacto-item__p">Lunes - Viernes 9AM - 6PM</p> <br>
                    <p class="contacto-item__p">Sabado - 9AM - 5PM</p>
                </div>

                <div class="contacto__separator"></div>

                <div class="contacto-item">
                    <div class="contacto-item__title">

                        <i class='bx bxs-news contacto-item__i'></i>
                        <h3 class="contacto-item__h3 title-recargaki">
                            Reporte de deposito Recargaki/Planetaemx
                        </h3>
                    </div>
                    <p class="contacto-item__p">Lunes - Viernes 9AM - 6PM</p> <br>
                    <p class="contacto-item__p">Sabado - 9AM - 12PM</p>
                </div>

                <div class="contacto__separator"></div>

                <div class="contacto-item">
                    <div class="contacto-item__title">

                        <i class='bx bxl-whatsapp contacto-item__i'></i>
                        <h3 class="contacto-item__h3">
                            WhatsApp
                        </h3>
                    </div>
                    <a href="https://wa.me/522712141938/?text=Recargas%20Electronicas" class="contacto-item__a contacto-item__p" target="_blank" rel="noopener">
                        +52 2712141938
                        </a>
                </div>

                <div class="contacto__separator"></div>

                <div class="contacto-item">
                    <div class="contacto-item__title">
                        <i class='bx bx-phone-call contacto-item__i'></i>
                        <h3 class="contacto-item__h3">Telefono</h3>
                    </div>
                    <a href="tel:2717140102" class="contacto-item__a contacto-item__p" target="_blank" rel="noopener">2717140102</a>
                </div>


                <div class="contacto__separator"></div>

                <div class="contacto-item">
                    <div class="contacto-item__title">

                        <i class='bx bx-mail-send contacto-item__i'></i>
                        <h3 class="contacto-item__h3">
                            Gmail
                        </h3>
                    </div>
                    <a class="contacto-item__a contacto-item__p" href="mailto:tae@gmail.com" target="_blank" rel="noopener">tae@gmail.com</a>

                </div>

            </div>

            <div class="contacto-right">
                <h2 class="contacto-right__h2 subtitle">Contactanos para asesorarte sobre como vender recargas en tu negocio</h2>
                <p class="contacto-right__p text">
                    Si ya eres cliente de alguna de nuestras plataformas y requieres asesoria o soporte tecnico acerca de la plataforma o depositos, no olvides proporcionar a tu ejecutivo
                    <span class="contacto-right__span">tu numero de usuario, foto o captura del problema & plataforma</span> esto con la finalidad de identificarte en nuestra base de datos asi proporcionarte un mejor servicio
                </p>

                <div class="contacto-right-img">

                    <picture class="contacto-right__picture">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/woman__contacto_p1L7uWtuZ.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667252046003">
                        <source type="image/jpg" srcset="assets/img/woman__contacto.jpg">
                        <img src="assets/img/woman__contacto.jpg" alt="" class="contacto-right__img">
                    </picture>
                </div>
            </div>

        </div>
    </div>
</div>