<div class="banner banner-plataformas">
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_plataformas_nRjQYUFb1.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667675762753" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_productos-responsive_yw5q4y6UjJ.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667685429588" />

    <picture class="banner-plataformas__picture banner__desktop">
        <img appNoImage src="https://ik.imagekit.io/taerecargas/Recargas/banner_plataformas_nRjQYUFb1.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667675762753" class="banner-plataformas__img banner__img" width="100%" height="100%" alt="Conoce nuestras plataformas Pagaqui & Planetaemx">
    </picture>


    <picture class="banner-plataformas__picture banner__mobile">
        <img appNoImage src="https://ik.imagekit.io/taerecargas/Recargas/banner_productos-responsive_yw5q4y6UjJ.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667685429588" class="banner-plataformas__img banner__img" width="100%" height="100%" alt="Conoce nuestras plataformas Pagaqui & Planetaemx y registrate totalmente gratis">
    </picture>
</div>

<div class="productos">

    <div class="container productos__container">

        <h1 class="productos__h1 title">
            Reliza venta de recargas, pago de servicios y pines electrónicos para cualquier tipo de negocio
        </h1>
    </div>
</div>

<!-- <div class="recargas  mbottom-3">
    <div class="recargas__container container  grid grid-col-2 align-center justify-center grid-mobile">

        <div class="productos-tarjetas">
            <div class="swiper recargas-swiper">
                <div class="swiper-wrapper recargas-swiper-wrapper">
                    <div class="swiper-slide recargas-swiper-slide" *ngFor="let recarga of recargas">
                        <picture class="recargas__picture">
                            <source type="image/webp" [srcset]="recarga.srcset">
                            <source type="image/png" [srcset]="recarga.url">
                            <img src="recarga.url" class="recargas__img" loading="lazy" width="258" height="100" alt="{{ recarga.company }}">
                        </picture>
                    </div>
                </div>
                <div class="swiper-pagination recargas-swiper-pagination"></div>
            </div>
        </div>

        <div class="productos-description">

            <h2 class="productos__h2 subtitle">
                Venta de recargas a cualquier compañia
            </h2>

            <div class="productos-items">

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bx-broadcast productos-item__i'></i>
                        <h3 class="productos-item__h3">
                            Recarga a cualquier compañia con un unico saldo
                        </h3>
                    </div>
                    <p class="productos-item__p">Con unico saldo vende recargas electrónicas a tus clientes a cualquier compañia de telefonia celular disponibles en México, Todo un sistema de recargas online gratuito, muy fácil de utilizar y que se adapta a tu negocio. </p>
                </div>

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bx-sitemap productos-item__i'></i>
                        <h3 class="productos-item__h3">
                            Elige la mejor modalidad para que empiezes a vender recargas.
                        </h3>
                    </div>

                    <p class="productos-item__p">
                        Elije la mejor forma que se adapte a tus necesidades, <strong>vende recargas electrónicas </strong> desde tu computadora, smartphone o bien via SMS gratuito. y empieza a generar un incremento de flujo de clientes a tu negocio.
                    </p>
                </div>

                <div class="productos-item">
                    <div class="productos-item__title">

                        <i class='bx bxs-business  productos-item__i'></i>

                        <h3 class="productos-item__h3">
                            Obtén una comisión por cada venta de recarga que realices.
                        </h3>
                    </div>

                    <p class="productos-item__p">
                        Has crecer tu negocio obteniendo excelentes comisiones por cada venta.
                    </p>
                </div>

            </div>
        </div>

        <div class="productos-shapes productos-shapes--1"></div>
        <div class="productos-shapes productos-shapes--2"></div>
    </div>
</div> -->

<!-- <div class="div servicios mtop-5 mbottom-3">

    <div class="servicios__container container grid grid-col-2 align-center justify-center grid-mobile">

        <div class="productos-description">

            <h2 class="productos__h2 subtitle">
                Paga cada servicio de tus clientes y obten una comisión
            </h2>

            <div class="productos-items">

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bx-broadcast productos-item__i'></i>

                        <h3 class="productos-item__h3">
                            Paga el servicio de tus clientes en tan solo un poco minutos
                        </h3>
                    </div>

                    <p class="productos-item__p">Desde tu casa o negocio realiza todos los pagos de los recibos de tus clientes accediendo a tu plataforma desde tu computadora o smartphone. Indica el numero de referencia del servicio a pagar y el monto. Listo asi de facil y sencillo!!
                    </p>
                </div>

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bx-sitemap productos-item__i'></i>
                        <h3 class="productos-item__h3">
                            +200 compañias de servicios.
                        </h3>
                    </div>

                    <p class="productos-item__p">
                        Porque nos gusta escucharte, estamos trabajando e innovando de manera constante para seguir brindándote nuestros mejores servicios, es por ello que estamos agregando más compañías.
                    </p>
                </div>

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bxs-business  productos-item__i'></i>

                        <h3 class="productos-item__h3">
                            Obtén excelentes comisiones por cada pago de servicios.
                        </h3>
                    </div>

                    <p class="productos-item__p">
                        Cobra cada recibo de servicios de tus clientes y obten una comisión.
                    </p>
                </div>

            </div>
        </div>

        <div class="productos-tarjetas">
            <div class="swiper servicios-swiper">
                <div class="swiper-wrapper servicios-swiper-wrapper">
                    <div class="swiper-slide servicios-swiper-slide" *ngFor="let servicio of servicios">
                        <picture class="servicios__picture">
                            <source type="image/webp" [srcset]="servicio.srcset">
                            <source type="image/png" [srcset]="servicio.url">
                            <img src="servicio.url" class="servicios__img" loading="lazy" width="250" height="100" alt="{{ servicio.company }}">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="productos-shapes productos-shapes--1"></div>
        <div class="productos-shapes productos-shapes--2"></div>
    </div>
</div>

<div class="div pines mtop-5 mbottom-3">
    <div class="pines__container container grid grid-col-2 align-center justify-center grid-mobile">

        <div class="productos-tarjetas">
            <div class="swiper  pines-swiper">
                <div class="swiper-wrapper pines-swiper-wrappe">
                    <div class="swiper-slide pines-swiper-slide" *ngFor="let pin of pines">
                        <picture class="pines__picture">
                            <source type="image/webp" [srcset]="pin.srcset">
                            <source type="image/png" [srcset]="pin.url">
                            <img src="pin.url" class="pin__img" loading="lazy" width="258" height="108" alt=" {{ pin.company}}">
                        </picture>
                    </div>
                </div>
            </div>
        </div>

        <div class="productos-description">
            <h2 class="productos__h2 subtitle">
                Vende pines electrónicos Google Play, Steam, Netflix y muchos mas!!
            </h2>

            <div class="productos-items">

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bx-broadcast productos-item__i'></i>
                        <h3 class="productos-item__h3">
                            Regala Un Mundo De Entretenimiento ofreciendo tarjetas electrónicas a tus clientes
                        </h3>
                    </div>

                    <p class="productos-item__p">
                        Vende tarjetas de regalo (gift cards) y ofréceles a tus clientes todo un mundo de entretenimiento e incrementan tus ganancias por la venta de cada pin electrónico
                    </p>
                </div>

                <div class="productos-item">

                    <div class="productos-item__title">
                        <i class='bx bx-sitemap productos-item__i'></i>
                        <h3 class="productos-item__h3">
                            Haz negocio vendiendo tarjetas de regalo
                        </h3>
                    </div>

                    <p class="productos-item__p">
                        Comience a vender tarjetas de regalo con tan solo unos cuantos clics y disfrute de las ganancias que obtenga. ¡Seleccione la tarjeta de regalo a vender e indica algún número telefónico de tu cliente y listo!
                    </p>
                </div>

                <div class="productos-item">
                    <div class="productos-item__title">
                        <i class='bx bxs-business  productos-item__i'></i>
                        <h3 class="productos-item__h3">
                            Obtén una comisión por cada venta de pin electrónico
                        </h3>
                    </div>
                    <p class="productos-item__p">
                        Gana una comisión por la venta de tarjetas de regalo.
                    </p>
                </div>

            </div>
        </div>
        <div class="productos-shapes productos-shapes--1"></div>
        <div class="productos-shapes productos-shapes--2"></div>
    </div>
</div> -->