@import "_mixin";

.header {
    background: transparent;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    &__container {
        width: 100%;
        position: relative;
        @include flexible(flex, row, wrap, space-between, center);
    }
}



.logo {
    &__img {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 5px;
    }
    &__span {
        color: var(--c-text);
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: lowercase;
    }
}
.nav-overlay {
    position: fixed;
    background-color: rgb(19, 39, 57, 0.8);
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.nav-overlay.activeNavOverlay {
    @include responsive(950px) {
        display: block;
        height: 100vh;
        width: 100%;
    }
}

.nav {
    background-color: inherit;

    &-menu {
        @include flexible(flex, row, nowrap, center, center);
        column-gap: 3em;
    
       
        &__close,
        &__register {
            display: none;
            pointer-events: none;
        }
    }


    //* nav responsive
    @include responsive(950px) {
        &.light-theme {
            background-color: rgba(211, 47, 47, 0.3);
            backdrop-filter: blur(24px);
        }

        &.dark-theme {
            background-color: rgb(48, 63, 159, 0.3);
            backdrop-filter: blur(24px);
        }
        pointer-events: none;
        position: fixed;
        right: -100%;
        top: 0;
        width: 75%;
        height: 100%;
        z-index: 10;
        transition: right 0.4s;


        &--active {
            right: 0;
            pointer-events: auto;
        }

        .nav-menu {
            flex-direction: column;
            row-gap: 3em;
            height: 100%;
            width: 100%;

            &__close {
                position: absolute;
                top: 1em;
                right: 1.5em;
            }

            &__close,
            &__register {
                display: block;
                pointer-events: auto;
            }
        }
    }

}



.r-bottons {
    @include flexible(flex, row, nowrap, flex-end, center);
    column-gap: 1em;

//    &__a { border-radius: 20px;}
    &__bar {
        display: none;
        @include responsive(950px) {
            display: block;
        }
    }
}

.r-theme {
    color: var(--c-white);
    @include flexible(flex, row, nowrap, space-between, center);

    &.light {
        background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
    }

    &.dark {
        background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
    }

    &__icon {
        // overflow: visible;
        display: none;
    }
}

.r-theme.light .r-theme__icon-sun,
.r-theme.dark .r-theme__icon-moon {
    display: block;
}

.r-bottons__a {
    @include responsive(950px) {
        display: none;
    }
}
