<mat-toolbar class="header">
    <div class="container header__container">
  
      <button routerLink="" mat-button class="logo" target="_blank">
        <span class="logo__span headline-6">Recarga5g.com</span>
      </button>
  
      <div class="nav-overlay" [ngClass]="{ 'activeNavOverlay': activeNavOverlay}"></div>
      <div #nav class="nav light-menu" [ngClass]="{ 'nav--active': active}">
  
        <div #navMenu class="nav-menu">
          <a mat-button class="nav-menu__a menu-option" routerLink="" routerLinkActive="active" (click)="closeNav()" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
       
          <button class="nav-submenu menu-option" mat-button [matMenuTriggerFor]="plataformas">
            Plataformas
            <mat-icon aria-hidden="false" aria-label="Example web icon" fontIcon="web"></mat-icon>
          </button>
  
          <mat-menu #plataformas="matMenu" class="submenu">
            <a class="nav-menu__a nav-submenu__a menu-option" routerLink="plataforma/pagaqui" routerLinkActive="active" (click)="closeNav()"  mat-menu-item>Pagaqui</a>
            <a class="nav-menu__a nav-submenu__a menu-option" routerLink="plataforma/planetaemx" routerLinkActive="active" (click)="closeNav()"  mat-menu-item>Planetaemx</a>
          </mat-menu>
  
          <button class="nav-submenu  menu-option" mat-button [matMenuTriggerFor]="consultar">Consultar</button>
  
          <mat-menu #consultar="matMenu">
            <a class="nav-menu__a nav-submenu__a menu-option"  routerLink="consulta/recargas" routerLinkActive="active" (click)="closeNav()" mat-menu-item>Como vender recargas</a>
            <a class="nav-menu__a nav-submenu__a menu-option"  routerLink="consulta/servicios" routerLinkActive="active" (click)="closeNav()"  mat-menu-item>Como vender pago de servicios</a>
            <a class="nav-menu__a nav-submenu__a menu-option"  routerLink="consulta/pines" routerLinkActive="active" (click)="closeNav()"  mat-menu-item>Como vender pines electrónicos</a>
          </mat-menu>
  
          <button class="nav-submenu menu-option" mat-button [mat-menu-trigger-for]="notificar">Notificar</button>
  
          <mat-menu #notificar="matMenu">
            <a class="nav-menu__a nav-submenu__a menu-option" routerLink="reporte/reportePagaqui" routerLinkActive="active" (click)="closeNav()" mat-menu-item>Deposito Pagaqui</a>
            <a class="nav-menu__a nav-submenu__a menu-option" routerLink="reporte/reportePlanetaemx" routerLinkActive="active" (click)="closeNav()" mat-menu-item>Deposito Planetaemx</a>
          </mat-menu>
  
          <button class="nav-submenu  menu-option" mat-button [mat-menu-trigger-for]="ayuda">Ayuda</button>
  
          <mat-menu #ayuda="matMenu">
            <a class="nav-menu__a nav-submenu__a menu-option" routerLinkActive="active" (click)="closeNav()" routerLink="ayuda/faqs" mat-menu-item>Preguntas frecuentes</a>
            <a class="nav-menu__a nav-submenu__a menu-option" routerLinkActive="active" (click)="closeNav()" routerLink="ayuda/contacto" mat-menu-item>Contacto</a>
            <a class="nav-menu__a nav-submenu__a menu-option" routerLinkActive="active" (click)="closeNav()" routerLink="ayuda/blog" mat-menu-item>Blog</a>
          </mat-menu>
  
          <button class="nav-menu__close" (click)="closeNav()" mat-icon-button
            aria-label="Example icon button with a home icon">
            <mat-icon>close</mat-icon>
          </button>
  
          <a class="nav-menu__register" routerLink="registro" (click)="closeNav()" mat-flat-button color="primary">Registrarme</a>
  
        </div>
  
      </div>
  
      <div class="r-bottons">
        <button #btnTheme  class="r-theme light-btn" mat-icon-button
          matTooltip="Seleccione para cambiar de tema para la pagina"
          aria-label="Example icon button with a palette icon">
          <mat-icon class="r-theme__icon r-theme__icon-sun" fontIcon="sunny"></mat-icon>
          <mat-icon class="r-theme__icon r-theme__icon-moon" fontIcon="dark_mode"></mat-icon>
        </button>


        <a class="r-bottons__a" routerLink="registro" mat-flat-button color="primary">Registrarme</a>
        <button (click)="openNav()" class="r-bottons__bar" mat-icon-button
          aria-label="Example icon button with a vertical three dot icon">
          <mat-icon fontIcon="grid_view"></mat-icon>
        </button>
      </div>
  
  
    </div>
  </mat-toolbar>