<div class="banner-plataformas">
    <!-- <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_pagaqui_NtFZ3rTAe.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667838210230" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-pagaqui__responsive_b7gRNr_Sg.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667836789822" /> -->

    <picture class="banner-plataformas__picture banner__desktop">
        <source media="(min-width:1200px )" srcset="" type="image/webp">
        <source media="screen and (min-width: 560px)" srcset="https://ik.imagekit.io/taerecargas/Recargas/banner-recargas__responsive_pGJpY0wRA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668276612398" type="img/webp">
        <img src="#" class="banner-plataformas__img banner__img" width="100%" height="100%" alt="Conoce & registrate en nuestras plataformas Pagaqui y obten una comisión por cada venta que realizes en recargas & pago de servicios">
    </picture>

   
</div>