<div class="registro-hero container mb-3">
    <picture class="registro-hero__picture">
        <source media="(min-width: 1200px)" srcset="assets/img/Banner-registro-recargas.jpg" type="image/jpg">
       <source media="screen and (max-width: 650px)" srcset="assets/img/Banner-registro-recargas__responsive.jpg" type="image/jpg">
        <img src="assets/img/Banner-registro-recargas.jpg" class="registro-hero__img" alt="El mejor sistema para venta de recargas">
    </picture>
</div>

<div class="registro">
    <div class="registro__container container">

        <div class="registro-title">
            <h1 class="registro-title__h1 headline-2">Registro para la venta de recargas electrónicas</h1>
            <p class="registro-title__p body-1">El mejor sistema para la venta de recargas, pago de servicios & pines electrónicos.</p>
        </div>

        <div class="registro-content">

            <div class="registro__steps">

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <h3 class="registro-item__h3">Registrate para vender recargas</h3>
                    <p class="registro-item__p body-2">registraste llenando el formulario con tus datos correspondientes.</p>
                </div>

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <h3 class="registro-item__h3 headline-4">Espera nuestro correo con tus datos de acceso</h3>
                    <p class="registro-item__p body-2">con los datos que proporciones te estaremos enviando tus datos de acceso.</p>
                </div>

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <h3 class="registro-item__h3 headline-4">deposita y notifica hasta un deposito minimo de $100</h3>
                    <p class="registro-item__p body-2">Verifica en tu correo electrónico en tu bandeja de entrada los datos de acceso.</p>
                </div>

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <h3 class="registro-item__h3 headline-4">Listo! podras generar ganancias extras a tu negocio</h3>
                    <p class="registro-item_p body-2">Obten excelentes comisiones ajustadas a tus necesidades, haz crecer tu negocio.</p>
                </div>

            </div>

            <div class="registro__form">
                <iframe width="100%" height="1110" allowfullscreen src="https://www.emailmeform.com/builder/embed/EDcPZxcByOf4" class="registro__frame" allow="camera" title="registro para la venta de recargas electronicas"><a href="https://www.emailmeform.com/builder/embed/EDcPZxcByOf4">Fill out form.</a></iframe>
            </div>

        </div>
    </div>
</div>

