
<!-- ============= HERO SERVKICIOS ============= -->
<div class="hero-servicios mb-3">
    <div class="hero-servicios__container container">
        <picture class="hero-servicios__picture">
            <source media="screen and (min-width: 1200px)" srcset="assets/img/Banner-consulta__servicios.png"
                type="image/jpg" />
            <source media="screen and (max-width: 650px)" srcset="" sizes="" />
            <img src="assets/img/Banner-consulta__servicios.png"
                alt="Venta de recargas a cualquier compañia con excelentes comisiones" class="hero-servicios__img" />
        </picture>
    </div>
</div>

<!-- ============= SECCIÓN CAROUSEL SERVICIOS ============= -->
<!-- <div class="carousel-servicio mb-3">
    <div #recargasSwiper class="carousel-servicio__swiper swiper">
        <div class="carousel-servicio__wrapper swiper-wrapper">
            <div *ngFor="let recarga of recargas" class="carousel-servicio__li swiper-slide">
                <img [src]="recarga.url" class="carousel-servicio__img" loading="lazy"
                    alt="Recargas Electrónicas lider en la venta de recargas, pago de servicios y pines" />
            </div>
        </div>
    </div>
</div> -->