
//* ============ SECCION SERVICIOS BANNER ============
.hero-servicios {
  &__container {
    grid-template-columns: 1fr;
    background-color: var(--c-body);


  }

  &__img {
    border-radius: 12px;
    box-shadow: var(--shadow);
  }
}

//* ============ SECCION RECIBOS  ============
.cobro-services {
  &__left {
    padding: 10px;
  }
  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em;

    
    // @include responsive(950px) {
    //   grid-template-columns: 1fr;
    // }
  }

  &__item {
    background-color: var(--c-card);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 24px 29px 30px;
    margin: 0px 0px 25px 0px;
    position: relative;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__img {
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
  }

  &__p--item {
    text-align: center;
  }

  &__keyworld {
    color: var(--c-primary);
  }
}

//* ============ SECCION METODOS DE VENTA ============
.metodos-venta {
  grid-template-columns: 1fr;
  margin-bottom: 3em;

  &__h2 {
    text-align: center;
  }
}

//* ============ SECCION POLITICAS SERVICIOS ============
.politicas-services {
  &__container {
    grid-template-columns: 1fr;
  }
  &__h3 {
    text-align: center;
  }
}

.list-option__li {
  margin-bottom: 1.8em;
  padding: 10px 0px 10px 0px;
  counter-increment: counterPolitica;
  position: relative;

  &::before {
    content: counter(counterPolitica);
    font-size: 2em;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--c-light-primary);
    color: var(--c-secondary);
    margin-right: 8px;
  }
}
