
<div class="section-products space-container">
  <div class="products-container container mx-auto">
    <span class="subtitle text-center block mb-2">Comisión por venta de recargas</span>
    <h2 class="title-1 text-center mb-20">Comisión hasta un 7.5% fijo por venta de recargas.</h2>
    <div class="products__row grid grid-cols-1 lg:grid-cols-3 gap-6">
       @for (product of products(); track $index) {
         <div class="product__card flex items-center justify-center relative transition-transform ease-out duration-500 hover:-translate-y-3 mb-8 lg:mb-0">
             <div class="bg-white dark:bg-slate-700 font-semibold text-center rounded-3xl border border-slate-100 dark:border-slate-600 shadow-lg p-10 max-w-96 relative">
               <span
               class="absolute text-sm top-0 right-0 rounded-bl-3xl rounded-tr-3xl bg-red-500 dark:bg-blue-500 text-white px-4 py-2 font-semibold">
               Hasta 7.5% de comisión
             </span>
   
             <h3 class="text-lg text-gray-700 dark:text-white mt-4 pb-2 border-b border-slate-300">{{ product.title }}</h3>
   
               <img [src]="product.img.src" class="w-full h-auto" [alt]="product.img.alt">
   
               <button class="middle none center mr-4 rounded-lg py-3 px-6 font-sans text-xs font-bold uppercase bg-red-500 dark:bg-blue-500 text-white border-red-500 shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                 Leer mas
               </button>
               
             </div>
         </div>
       }
    </div>
  </div>
</div>