<div class="devoluciones mtop-5 mbottom-3">

    <div class="container devoluciones__container">

        <h1 class="devoluciones__h1 title">Recarga5g.com | Políticas de devolución</h1>

        <div class="devoluciones-body grid grid-col-2 align-center justify-center grid-mobile">


            <div class="devoluciones-content">
                <p class="devoluciones-content__p">
                    Para nuestros clientes y usuarios le informamos que Recargas Electrónicas no realiza devoluciones en ninguna especie segun sea el caso:
                </p>

                <div class="devoluciones-items">


                    <!-- devoluciones item -->
                    <div class="devoluciones-item">
                        <span class="devoluciones-item__number">1</span>

                        <p class="devoluciones-item__p">
                            Depósitos y/o transferencias realizadas a las cuentas indicadas en la página.
                        </p>

                    </div>

                    <!-- devoluciones item -->
                    <div class="devoluciones-item">
                        <span class="devoluciones-item__number">2</span>

                        <p class="devoluciones-item__p">
                            Pagos realizados a una cuenta por error.
                        </p>

                    </div>

                    <!-- devoluciones item -->
                    <div class="devoluciones-item">
                        <span class="devoluciones-item__number">3</span>

                        <p class="devoluciones-item__p">
                            Así como depósitos a nuestras cuentas.
                        </p>

                    </div>

                    <!-- devoluciones item -->
                    <div class="devoluciones-item">
                        <span class="devoluciones-item__number">4</span>

                        <p class="devoluciones-item__p">
                            Retiros de saldos aplicados en la plataforma a cuentas personales.
                        </p>

                    </div>

                    <!-- devoluciones item -->
                    <div class="devoluciones-item">
                        <span class="devoluciones-item__number">5</span>

                        <p class="devoluciones-item__p">
                            Depósitos con cheque.
                        </p>

                    </div>

                </div>

            </div>

            <div class="devoluciones-ilustration">
                <picture class="devoluciones-ilustration">
                    <img src="/assets/img/svg/lega-devolucion.svg" class="devoluciones-ilustration" alt="Recarga5g.com no realiza devoluciones">
                </picture>
            </div>
        </div>
    </div>

</div>

<!-- ============= SECCION DEVOLUCIONES RECARGAS  ============= -->

<div class="div devoluciones-recargas  mbottom-3">

    <div class="devoluciones-recargas__container container">

        <h2 class="devoluciones-recargas__h2 title">Devoluciones de recargas realizadas con éxito </h2>

        <p class="devoluciones-recargas__p text">
            En los casos en que el cliente realice una recarga a cualquier compañía de telefonía celular y se detecten como recargas aplicada, aunque no sea al numero indicado, el cliente deberá ponerse en contacto a través de cualquiera de sus Centros de Atención
            a Clientes (CAC). Con la compañía donde se realizó la recarga,
        </p>

    </div>

</div>

<!-- ============= SECCION APLICACIONES  ============= -->
<div class="aplicacion  mbottom-3">
    <div class="aplicacion__container container">

        <h3 class="aplicacion__h3 title">Aplicación de depositos reportados</h3>
        <div class="aplicacion-content grid grid-col-2 align-center justify-center grid-mobile">

            <div class="aplicaccion-horario">

                <p class="aplicacion__p text">
                    Si ya realizaste algún deposito a los números de cuenta correspondiente a tu plataforma, recuerda que el siguiente paso es notificar todos tus depósitos y/o transferencias ya sea a través de nuestra página web en la sección Reportes seleccionando tu plataforma.
                    O bien vía WhatsApp, ambos métodos son válidos elije el que mejor te convenga. Si elijes vía WhatsApp, es necesario que proporciones a tu asesor ejecutivo lo siguiente: Numero de usuario & foto o captura de tu ficha
                </p>

                <div class="aplicacion-horario__content">

                    <strong class="aplicacion-horario__strong">Aplicación de depositos <span class="devolucion-pagaqui">Pagaqui</span>:</strong>

                    <p class="aplicacion-horario__p">
                        Lunes a Viernes <br> 9:00am a 6pm
                    </p>

                    <p class="aplicacion-horario__p">
                        Sabados <br> 9:00am a 5pm
                    </p>

                    <strong class="aplicacion-horario__strong">Aplicación de depositos <span class="devolucion-recargaki">Recargaki/Planetaemx:</span>:</strong>

                    <p class="aplicacion-horario__p">
                        Lunes a Viernes <br> 9:00am a 6pm
                    </p>

                    <p class="aplicacion-horario__p">
                        Sabados <br> 9:00am a 12pm
                    </p>

                </div>
            </div>

            <div class="aplicacion-aviso">

                <h4 class="aplicacion-aviso__h4">Aviso</h4>

                <p class="aplicacion-aviso__p text">

                    Recuerda que no solicitamos información confidencial como claves de acceso o nips, ni acceso a tu equipo para realizar actualizaciones, si recibes una llamada de este tipo puedes estar siendo víctima de un fraude.
                </p>

            </div>

        </div>

    </div>
</div>

<!-- ============= SECCION  POLITICAS APLICACION  ============= -->
<div class="p-aplicacion mbottom-3">

    <div class="p-aplicacion__container container">

        <h4 class="p-aplicacion__h4 title">Políticas de abonos de depósitos</h4>

        <p class="p-aplicacion__p text">El abono de depósitos reportados en nuestra pagina web o vía WhatsApp serán aplicados según sea algunos de los siguientes criterios:</p>

        <!-- devoluciones item -->
        <div class="p-aplicacion-items">

            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">1</span>

                <p class="p-aplicacion-item__p">
                    Si el pago se reporta en la plataforma fuera del horario establecido, el pago se reflejará en el siguiente horario hábil de manera automática si los datos son correctos.
                </p>
            </div>

            <!-- politicas de aplicacion item -->
            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">2</span>
                <p class="p-aplicacion-item__p">
                    Depósitos realizados a las cuentas vigentes
                </p>
            </div>

            <!-- politicas de aplicacion item -->
            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">3</span>
                <p class="p-aplicacion-item__p">
                    Depósitos del mes anterior notificados a principios del mes actual serán aplicados en lapso de 24 a 48hrs.
                </p>
            </div>

            <!-- politicas de aplicacion item -->
            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">4</span>
                <p class="p-aplicacion-item__p">
                    Depósitos del mes anterior notificados después de los primeros días del mes actual serán aplicados hasta final de mes.
                </p>
            </div>

            <!-- devoluciones item -->
            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">5</span>
                <p class="p-aplicacion-item__p">
                    Depósitos mínimos de $100
                </p>
            </div>

            <!-- politicas de aplicacion item -->
            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">5</span>
                <p class="p-aplicacion-item__p">
                    Las transferencias por cuestiones fiscales los montos deberán ser menores o igual a $1,900 por transferencia.
                </p>
            </div>

            <!-- politicas de aplicacion item -->
            <div class="p-aplicacion-item">
                <span class="p-aplicacion-item__number">6</span>
                <p class="p-aplicacion-item__p">
                    Transferencias mayores a $1,900 reportados en Pagaqui, estos deberán llenar y entregar cierta documentación, su aplicación será realizado en lapso de 1 o 2 semanas aproximadamente.
                </p>
            </div>
        </div>
    </div>

</div>


<!-- ============= SECCION  TERMINOS SERVICIOS   ============= -->
<div class="terminos-serv mbottom-3">

    <div class="terminos serv__container container">

        <h2 class="terminos-serv_h2 title">Términos y condiciones en pago de servicios</h2>


        <div class="terminos serv-items">
            <!-- terminos de  pago de servicios item -->
            <div class="terminos-serv-item">

                <i class='bx bx-check terminos-serv__i'></i>

                <p class="terminos-serv__p">
                    El pago por un recibo se registra inmediatamente. La empresa correspondiente lo acredita en un plazo de 24 a 48 horas con la fecha y hora de la recepción.
                </p>
            </div>

            <!-- terminos de  pago de servicios item -->
            <div class="terminos-serv-item">
                <i class='bx bx-x terminos-serv__e'></i>

                <p class="terminos-serv__p">
                    El sistema NO valida que la referencia sea correcta.
                </p>
            </div>

            <!-- terminos de  pago de servicios item -->
            <div class="terminos-serv-item">
                <i class='bx bx-check terminos-serv__i'></i>
                <p class="terminos-serv__p">
                    Capturar la referencia correcta y el importe correcto es completa responsabilidad del usuario.
                </p>
            </div>

            <!-- terminos de  pago de servicios item -->
            <div class="terminos-serv-item">
                <i class='bx bx-x terminos-serv__e'></i>

                <p class="terminos-serv__p">
                    Al registrar el pago NO hay ningún tipo de devolución.
                </p>
            </div>

            <!-- terminos de  pago de servicios item -->
            <div class="terminos-serv-item">
                <i class='bx bx-x terminos-serv__e'></i>

                <p class="terminos-serv__p">
                    Si captura incorrectamente la referencia, al aceptar la transacción, se realizará el cargo y no habrá ningún tipo de devolución.
                </p>
            </div>

            <!-- terminos de  pago de servicios item -->
            <div class="terminos-serv-item">
                <i class='bx bx-check terminos-serv__i'></i>

                <p class="terminos-serv__p">
                    Los recibos solo podrán ser cobrados a más tardar 48 horas antes de su fecha de vencimiento.
                </p>
            </div>
        </div>

    </div>

</div>