@import "_mixin";

//* ============ SECCION POLITICAS DEVOLUCIÓN RECARGA5G.COM ============

.terminos {
  &__container {
    grid-template-columns: 1fr;
  }

  &__h1 {
    text-align: center;
  }

  &__h2 {
    margin: 1em;
    text-align: center;
  }

  &__li {
    margin-bottom: 1.8em;
    padding: 10px 0 10px 0px;
    counter-increment: counterTerminos;
    position: relative;

    &::before {
      content: counter(counterTerminos);
      font-size: 2em;
      width: 35px;
      height: 35px;
      display: inline-block;
      line-height: 35px;
      border-radius: 50%;
      text-align: center;
      background-color: var(--c-light-primary);
      color: var(--c-secondary);
      margin-right: 8px;
    }
  }

  &__box {
    background-color: var(--c-card);
    padding: 1em;
    border-radius: 15px;
    box-shadow: var(--shadow);
  }
}

.terminos ::ng-deep span.mdc-tab__text-label {
  color: var(--c-title);
}

::ng-deep
  .dark-theme
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: var(--c-primary);
}

::ng-deep .mat-mdc-tab-labels {
  flex-wrap: wrap;
}
//* ============ SECCION DEVOLUCIONES RECARGAS | RECARGA5G.COM ============
.dev-recargas {
  &__container {
    grid-template-columns: 1fr;
  }

  &__h3 {
    text-align: center;
  }
}

.aplicacion {
  &__container {
    grid-template-columns: 1fr;
  }

  &__h3 {
    text-align: center;
  }

  &__content {
    @include grid(2, 3em);
    @include responsive(950px) {
      grid-template-columns: 1fr;
    }
  }

  &__p--horario,
  &__text,
  &-aviso__h4 {
    text-align: center;
  }

  &__p--horario {
    @include flexible(flex, row, wrap, center, center);
    gap: 0.5em;
  }
  &__p--2 {
    text-align: justify;
  }

  &__img {
    max-width: 30px;
  }

  &-aviso__h4 {
    color: var(--c-primary);
    @include flexible(flex, row, wrap, center, center);
    gap: 0.3em;
  }

  &-aviso__img {
    max-width: 45px;
  }
}

//     &__content {
//         background-color: var(--c-card);
//         box-shadow: var(--shadow);
//         border-radius: 10px;
//         padding: 1.5em 1em;
//     }
// }

// .devolucion-pagaqui {
//     color: hsl(225, 57%, 48%);
// }

// .devolucion-recargaki {
//     color: hsl(120, 100%, 25%);
// }

// .devoluciones__h1 {
//     font-weight: var(--font-600);
// }

// .devoluciones-content__p {
//     font-size: 1.2rem;
//     margin-bottom: 0.55em;
// }

// .devoluciones-items,
// .p-aplicacion-items {
//     display: flex;
//     justify-content: center;
//     flex-flow: column wrap;
// }

// .devoluciones-item,
// .p-aplicacion-item {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     margin-bottom: 1em;
//     padding: 0 0.55em;
// }

// .devoluciones-item__number,
// .p-aplicacion-item__number {
//     font-weight: var(--font-600);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-right: 0.35em;
//     position: relative;
//     color: #6666ed;
//     font-size: 1.1rem;
// }

// .devoluciones-item__number:before,
// .p-aplicacion-item__number:before {
//     content: "";
//     position: absolute;
//     width: 30px;
//     height: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     background-color: rgb(12 79 224 / 22%);
// }

// .devoluciones-item__p,
// .p-aplicacion-item__p {
//     padding: 0 1em;
// }

// /* ============ SECCION  DEVOLUCIONES RECARGAS ============  */

// .devoluciones-recargas__p {
//     line-height: 2;
//     text-align: justify;
// }

// /* ============ SECCION  DEVOLUCIONES RECARGAS ============  */

// .aplicacion__p {
//     line-height: 2;
//     text-align: left;
// }

// .aplicacion-horario__strong {
//     font-size: 1.2rem;
//     font-weight: 600;
//     text-align: center;
//     display: block;
//     margin: 0.75em;
// }

// .aplicacion-horario__p {
//     text-align: center;
//     padding-top: 0.55em;
// }

// .aplicacion-aviso {
//     height: 100%;
// }

// .aplicacion-aviso__h4 {
//     font-size: 1.6rem;
//     font-weight: 700;
//     color: #f5aa21;
//     text-align: center;
//     margin-bottom: 0.75em;
// }

// .aplicacion-aviso__p {
//     line-height: 2;
// }

// /* ============ SECCION  POLITICAS APLICACION ============  */

// .p-aplicacion__p {
//     text-align: center;
//     font-size: 1.2rem;
//     font-weight: 600;
// }

// .p-aplicacion-items {
//     padding: 1em 0;
// }

// .p-aplicacion-item {
//     margin-bottom: 1.8em;
// }

// .p-aplicacion-item__number {
//     color: hsl(0, 79%, 66%);
// }

// .p-aplicacion-item__number:before {
//     background-color: hsla(2, 90%, 46%, 0.22);
// }

// /* ============ SECCION  TERMINOS SERVICIOS  ============  */

// .terminos-serv-item {
//     margin-bottom: 1em;
//     padding: 0 0.55em;
// }

// .terminos-serv__e,
// .terminos-serv__i {
//     font-size: 1.7rem;
//     position: relative;
//     color: #fff;
// }

// .terminos-serv__e:before,
// .terminos-serv__i:before {
//     position: absolute;
//     width: 35px;
//     height: 35px;
//     top: 0;
//     left: 0;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .terminos-serv__i:before {
//     background-color: #4cd74c;
// }

// .terminos-serv__e:before {
//     background-color: #ed4f4f;
// }

// .terminos-serv__p {
//     padding-left: 3em;
// }
