<div class="terminos mtop-3 mb-3">
  <div class="terminos__container container">
    <span class="badge">Terminos</span>
    <h1 class="terminos__h1 headline-2">
      Recarga5g.com | Terminos del servicio
    </h1>

    <mat-tab-group>
      <mat-tab class="devoluciones__label" label="Devoluciones">
        <div class="terminos__box">
          <h2 class="terminos__h2 headline-4">1.- Políticas de devolución</h2>

          <p class="terminos__p headline-6 mb-1">
            Para nuestros clientes y usuarios le informamos que Recargas
            Electrónicas no realiza devoluciones en ninguna especie segun sea el
            caso:
          </p>

          <ul class="terminos__ul">
            <li class="terminos__li body-1">
              Depósitos y/o transferencias realizadas a las cuentas indicadas en
              la página.
            </li>
            <li class="terminos__li body-1">
              Pagos realizados a una cuenta por error.
            </li>
            <li class="terminos__li body-1">
              Así como depósitos a nuestras cuentas.
            </li>
            <li class="terminos__li body-1">
              Retiros de saldos aplicados en la plataforma a cuentas personales.
            </li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab class="devoluciones__label" label="Abonos">
        <div class="terminos__box">
          <h2 class="terminos__h2 headline-4">
            2.- Políticas de abono de depósitos
          </h2>

          <p class="terminos__p headline-6 mb-1">
            El abono de depósitos reportados en nuestra pagina web o vía
            WhatsApp serán aplicados según sea algunos de los siguientes
            criterios:
          </p>

          <ul class="terminos__ul">
            <li class="terminos__li body-1">
              Si el pago se reporta en la plataforma fuera del horario
              establecido, el pago se reflejará en el siguiente horario hábil de
              manera automática si los datos son correctos.
            </li>
            <li class="terminos__li body-1">
              Depósitos realizados a las cuentas vigentes
            </li>
            <li class="terminos__li body-1">
              Depósitos del mes anterior notificados a principios del mes actual
              serán aplicados en lapso de 24 a 48hrs.
            </li>
            <li class="terminos__li body-1">
              Depósitos del mes anterior notificados después de los primeros
              días del mes actual serán aplicados hasta final de mes.
            </li>
            <li class="terminos__li body-1">Depósitos mínimos de $100</li>
            <li class="terminos__li body-1">
              Las transferencias por cuestiones fiscales los montos deberán ser
              menores o igual a $1,900 por transferencia.
            </li>

            <li class="terminos__li body-1">
              Transferencias mayores a $1,900 reportados en Pagaqui, estos
              deberán llenar y entregar cierta documentación, su aplicación será
              realizado en lapso de 1 o 2 semanas aproximadamente.
            </li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab class="devoluciones__label" label="Terminos & condiciones">
        <div class="terminos__box">
          <h2 class="terminos__h2 headline-4">3.-Terminos & condiciones</h2>

          <p class="terminos__p headline-6 mb-1">
            La aplicación de cobros de recibos de servicios seran en algunos de
            los siguientes criterios:
          </p>
          <ul class="terminos__ul">
            <li class="terminos__li body-1">
              El pago por un recibo se registra inmediatamente. La empresa
              correspondiente lo acredita en un plazo de 24 a 48 horas con la
              fecha y hora de la recepción.
            </li>
            <li class="terminos__li body-1">
              El sistema NO valida que la referencia sea correcta.
            </li>
            <li class="terminos__li body-1">
              Capturar la referencia correcta y el importe correcto es completa
              responsabilidad del usuario.
            </li>
            <li class="terminos__li body-1">
              Al registrar el pago NO hay ningún tipo de devolución.
            </li>
            <li class="terminos__li body-1">
              Si captura incorrectamente la referencia, al aceptar la
              transacción, se realizará el cargo y no habrá ningún tipo de
              devolución.
            </li>
            <li class="terminos__li body-1">
              Los recibos solo podrán ser cobrados a más tardar 48 horas antes
              de su fecha de vencimiento.
            </li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- ============= SECCION DEVOLUCIONES RECARGAS  ============= -->

<div class="dev-recargas mb-3">
  <div class="dev-recargas__container container">
    <h3 class="dev-recargas__h3 headline-3">
      Devoluciones de recargas realizadas con éxito
    </h3>

    <p class="dev-recargas__p body-1">
      En los casos en que el cliente realice una recarga a cualquier compañía de
      telefonía celular y se detecten como recargas aplicada, aunque no sea al
      numero indicado, el cliente deberá ponerse en contacto a través de
      cualquiera de sus Centros de Atención a Clientes (CAC). Con la compañía
      donde se realizó la recarga,
    </p>
  </div>
</div>

<!-- ============= SECCION APLICACIONES  ============= -->
<div class="aplicacion mb-3">
  <div class="aplicacion__container container">
    <h3 class="aplicacion__h3 headline-3">
      Aplicación de depositos reportados
    </h3>
    <div class="aplicacion__content">
      <div class="aplicaccion__horario">
        <p class="aplicacion__p aplicacion__p--2 body-1 mb-1">
          Si ya realizaste algún deposito a los números de cuenta
          correspondiente a tu plataforma, recuerda que el siguiente paso es
          notificar todos tus depósitos y/o transferencias ya sea a través de
          nuestra página web en la sección Reportes seleccionando tu plataforma.
          O bien vía WhatsApp, ambos métodos son válidos elije el que mejor te
          convenga. Si elijes vía WhatsApp, es necesario que proporciones a tu
          asesor ejecutivo lo siguiente: Numero de usuario & foto o captura de
          tu ficha
        </p>

        <div class="aplicacion__horario">
         
            <p class="aplicacion__p aplicacion__p--horario headline-5">
            <img src="assets/img/reloj.png" class="aplicacion__img" width="30" height="30" loading="lazy" alt="horario pagaqui">
            Aplicación de depositos
            <span class="aplicacion__span span--pagaqui headline-5">Pagaqui</span>:
            </p>

          <p class="aplicacion__text body-1">
            Lunes a Viernes <br />
            9:00am a 6pm
          </p>

          <p class="aplicacion__text body-1 mb-1">
            Sabados <br />
            9:00am a 5pm
          </p>

          <p class="aplicacion__p aplicacion__p--horario headline-5">
            <img src="assets/img/reloj.png" class="aplicacion__img" width="30" height="30" loading="lazy" alt="horario planetaemx">
            Aplicación de depositos
            <span class="aplicacion__span span--planetaemx headline-5">Recargaki/Planetaemx:</span>:
          </p>

          <p class="aplicacion__text body-1">
            Lunes a Viernes <br />
            9:00am a 6pm
          </p>

          <p class="aplicacion__text body-1">
            Sabados <br />
            9:00am a 12pm
          </p>
        </div>
      </div>

      <div class="aplicacion__aviso">
        <h4 class="aplicacion-aviso__h4 headline-3">
           <img src="assets/img/altoparlante.png" class="aplicacion-aviso__img" width="45" height="45" loading="lazy" alt="aviso recarga5g.com">
            -Aviso-
        </h4>

        <p class="aplicacion-aviso__p text body-1">
          Recuerda que no solicitamos información confidencial como claves de
          acceso o nips, ni acceso a tu equipo para realizar actualizaciones, si
          recibes una llamada de este tipo puedes estar siendo víctima de un
          fraude.
        </p>
      </div>
    </div>
  </div>
</div>
