<!-- ============= HERO SERVICIOS ============= -->
<div class="hero-servicios mb-3 wow animate__animated animate__fadeIn">
  <div class="hero-servicios__container container">
    <picture class="hero-servicios__picture">
      <source media="screen and (min-width: 1200px)" srcset="assets/img/Banner-consulta-servicios.png"
        type="image/png" />
      <source media="screen and (max-width: 950px)" srcset="assets/img/Banner-consulta-servicios__responsive.png"
        sizes="image/png" />
      <img src="assets/img/Banner-consulta-servicios.png" class="hero-servicios__img" width="1280" height="572"
        alt="Venta de recargas a cualquier compañia con excelentes comisiones" />
    </picture>
  </div>
</div>

<!-- ============= SECCIÓN CAROUSEL SERVICIOS ============= -->
<app-product-carousel [products]="carouselServices()"></app-product-carousel>

<!-- ============= SECCIÓN COBRO SERVICES ============= -->
<div class="cobro-services mb-3">
  <div class="cobro-services__container container">
    <div class="cobro-services__left">
      <span class="cobro-services__span head-4 headline-4">Pago de servicios</span>
      <h1 class="cobro-services__h1 headline-3">Cobro por pago de servicios</h1>

      <p class="cobro-services__p body-1 mb-1">
        Con Recarga5g.com, puedes aceptar
        <strong class="body-1 keyword__strong">pagos de servicios</strong> de
        forma segura y sin complicaciones. Nuestra plataforma te brinda la
        capacidad de procesar pagos de manera fácil y rápida:
        <a href="https://telmex.com/" class="cobro-services__a keyword__compani btn-underline body-1" target="_blank"
          rel="noopener noreferrer">Telmex</a>,
        <a href="https://www.izzi.mx/home" class="cobro-services__a keyword__compani btn-underline body-1"
          target="_blank" rel="noopener noreferrer">IZZI</a>,
        <a href="https://www.cfe.mx/Pages/default.aspx" class="cobro-services__a keyword__compani btn-underline body-1"
          target="_blank" rel="noopener noreferrer">CFE</a>,
        <a href="https://www.totalplay.com.mx/" class="cobro-services__a keyword__compani btn-underline body-1"
          target="_blank" rel="noopener noreferrer">Total Play</a>,
        <a href="https://www.sky.com.mx/" class="cobro-services__a keyword__compani btn-underline body-1"
          target="_blank" rel="noopener noreferrer">SKY</a>
        ofreciendo a tus clientes una opción conveniente para realizar
        transacciones.
      </p>

      <p class="cobro-services__p body-1 mb-1">
        No importa si ofreces servicios de telefonía, televisión por cable,
        internet o cualquier otro servicio,
        <strong class="cobro-services__strong keyword__strong keyword__compani">Recarga5g.com</strong>
        es la solución perfecta para recibir pagos de tus clientes de manera
        ágil y segura.
      </p>

      <a class="cobro-services__a radius-20" mat-raised-button color="primary" routerLink="/registro">Registrarme
        ahora</a>
    </div>

    <div class="cobro-services__right">
      <div class="cobro-services__item">
        <img src="assets/img/process__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
          alt="Cobro de servicios con Recarga5g.com" />
        <p class="cobro-services__p--item headline-6">
          Cobra cualquier recibo y obtén una comisión.
        </p>
      </div>
      <div class="cobro-services__item">
        <img src="assets/img/recibos__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
          alt="Valida y realiza +200 compañias de servicios facilmente" />

        <p class="cobro-services__p--item headline-6">
          Recuperas tu inversión y ganas la comisión cuando cobras en tu negocio
        </p>
      </div>
      <div class="cobro-services__item">
        <img src="assets/img/negocio__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
          alt="Ganancias adicionales a tu negocio" />
        <p class="cobro-services__p--item headline-6">
          Tu ganancia en efectivo será la comisión adicional que cobres al
          cliente.
        </p>
      </div>
      <div class="cobro-services__item">
        <img src="assets/img/asesoria__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
          alt="Asesoria totalmente personalizada" />
        <p class="cobro-services__p--item headline-6">Asesoria personalizada</p>
      </div>
    </div>
  </div>
</div>

<!-- ============= SECCION WHY-SERVICES ============= -->
<div class="why-services mb-3">
  <div class="why-services__container container">
    <h2 class="why-services__h2 headline-3">
      Cobro de servicios de manera fácil y segura
    </h2>

    <div class="why-services__items">
      <ul class="why-services__ul">
        <li class="why-services__li">
          <!-- <mat-icon class="why-services__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="notifications_active"></mat-icon> -->
          <p class="why-services__p body-1">
            Deposita y notifica tus depósitos para pago de servicios
          </p>
        </li>

        <li class="why-services__li">
          <!-- <mat-icon class="why-services__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="request_quote"></mat-icon> -->
          <p class="why-services__p body-1">
            El cliente te visita y presenta su recibo. Solo debes cobrar recibos
            vigentes. No debes recibir recibos vencidos.
          </p>
        </li>

        <li class="why-services__li">
          <!-- <mat-icon class="why-services__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="point_of_sale"></mat-icon> -->
          <p class="why-services__p body-1">
            Captura el número de referencia en la plataforma.
          </p>
        </li>

        <li class="why-services__li">
          <!-- <mat-icon class="why-services__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="ads_click"></mat-icon> -->
          <p class="why-services__p body-1">
            Paga cualquier recibo con unos cuantos click
          </p>
        </li>
        <li class="why-services__li">
          <!-- <mat-icon class="why-services__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="currency_exchange"></mat-icon> -->

          <p class="why-services__p body-1">
            Cobra el importe del recibo de tu cliente más tu comisión que
            obtuviste en tu plataforma
          </p>
        </li>

 
      </ul>

      <a class="why-services__a radius-20" mat-raised-button color="primary" routerLink="/registro">Registrarme
        ahora</a>
    </div>
  </div>
</div>

<!-- ============= SECCION WHO-SERVICES ============= -->
<div class="recibo-services mb-3">
  <div class="recibo-services__container container">
    <div class="recibo-services__left">
      <h2 class="headline-4 head-4">¿Cómo cobrar pago servicios?</h2>
      <h3 class="headline-3">
        Incrementa el flujo de clientes al recibir pago de servicios a tu
        negocio
      </h3>

      <p class="recibo-services__p body-1">
        No pierdas más tiempo lidiando con métodos de cobro anticuados. Únete a
        <strong class="recibo-services__strong keyword__strong keyword__compani body-1">Recarga5g.com</strong>
        y descubre una forma eficiente y confiable de cobrar por tus servicios.
        Tu negocio se beneficiará de la comodidad y la seguridad que ofrecemos.
      </p>

      <ul class="recibo-services__ul">
        <li class="recibo-services__li list-option__li body-1">
          Captura el número de referencia del recibo que vas a cobrar
        </li>

        <li class="recibo-services__li list-option__li body-1">
          Al cliente le deberá cobrar el monto del recibo más el cargo por la
          venta más la comisión adcional que desea obtener.
        </li>

        <li class="recibo-services__li list-option__li body-1">
          En la plataforma se reflejará la venta con el cargo adicional y la
          comisión obtenida.
        </li>
      </ul>
    </div>
    <div class="recibo-services__right">
      <img src="assets/img/recibos.webp" class="recibo-services__img" width="633" height="633" loading="lazy" 
        alt="Cobro por pago de servicios a tu negocio" />
    </div>
  </div>
</div>

<!-- ============= SECCION METODOS SERVICES ============= -->
<div class="devices-services mb-3">
  <div class="devices-services__container container">
    <h3 class="devices-services__h3 headline-3">
      Métodos de venta para cobro de servicios
    </h3>
|     <app-sales-method [titleChannel]="'Metodos'"></app-sales-method>
  </div>
</div>

<!-- ============= SECCION POLITICAS SERVICES ============= -->
<div class="politicas-services mb-3">
  <div class="politicas-services__container container">
    <h3 class="politicas-services__h3 headline-3">
      Términos y condiciones de pago de servicios
    </h3>

    <ul class="politicas-services__ul">
      <li class="politicas-services__li list-option__li body-1">
        El pago por un recibo se registra inmediatamente. La empresa
        correspondiente lo acredita en un plazo de 24 a 48 horas con la fecha y
        hora de la recepción.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        El sistema NO valida que la referencia sea correcta.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Capturar la referencia correcta y el importe correcto es completa
        responsabilidad del usuario.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Al registrar el pago NO hay ningún tipo de devolución.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Si captura incorrectamente la referencia, al aceptar la transacción, se
        realizará el cargo y no habrá ningún tipo de devolución.
      </li>

      <li class="politicas-services__li list-option__li body-1">
        Los recibos solo podrán ser cobrados a más tardar 48 horas antes de su
        fecha de vencimiento.
      </li>
    </ul>
  </div>
</div>

<!-- ============= SECCION REGISTER SERVICES ============= -->
<app-register-steps></app-register-steps>