
    <P>
    <mat-toolbar class="navbar" color="primary">
      <div class="container navbar-container flex align-center justify-between">
       
        <div class="navbar-logo">
          <button mat-button href="https://www.google.com/" class="navbar-logo__a" target="_blank">
            <img src="/assets/img/icon-recarga/android-icon-72x72.png" class="navbar-logo__img" alt="">
            <span class="navbar-logo__span">Recarga5g.com</span>
          </button>
        </div>

        <div class="navbar-menu">

          <button class="navbar-menu__button" mat-button [matMenuTriggerFor]="menu">Plataformas</button>

          <mat-menu class="navbar-menu__submenu" #menu="matMenu">
            <button mat-menu-item>Pagaqui</button>
            <button mat-menu-item>Planetaemx</button>
          </mat-menu>
          
          <button class="navbar-menu__button" mat-button [matMenuTriggerFor]="consultar">Consultar</button>
          
          <mat-menu class="navbar-menu__submenu" #consultar="matMenu">
            <button mat-menu-item>Como vender recargas</button>
            <button mat-menu-item>Como vender pago de servicios</button>
            <button mat-menu-item>Como vender pines electrónicos</button>
          </mat-menu>
          
          
          <button class="navbar-menu__button" mat-button [mat-menu-trigger-for]="notificar">Notificar</button>
          <mat-menu #notificar="matMenu">
              <button mat-menu-item>Deposito Pagaqui</button>
              <button mat-menu-item>Deposito Planetaemx</button>
          
          </mat-menu>
          
          <button class="navbar-menu__button" mat-button [mat-menu-trigger-for]="ayuda">Ayuda</button>
          <mat-menu class="navbar-menu__submenu" #ayuda="matMenu">
              <button mat-menu-item>Preguntas frecuentes</button>
              <button mat-menu-item>Contacto</button>
              <button mat-menu-item>Blog</button>
          </mat-menu>
        </div>
        <button mat-flat-button color="warn">Registrarme</button>
      </div>
</mat-toolbar>
</P>
