/* ============= HEADER ============= */

.navbar-menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 2.5em;
}

@media screen and (max-width:768px) {
    .navbar-menu {
        display: none;
    }
}


.navbar-logo__img {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
}

.navbar-logo__span {
    font-weight: 500;
}


.theme__btn {

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.theme__icon {
    overflow: visible;
}

.theme__btn.light {
    background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
}

.theme__btn.dark {
    background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
}

.theme__icon {
    display: none;
}

.theme__btn.light .theme__icon-sun,
.theme__btn.dark .theme__icon-moon {
    display: block;
}