
    <mat-toolbar class="header" role="headidng" color="primary">
      <div class="container header__container">
       
          <button routerLink="/" mat-button class="header-logo" target="_blank">
            <img src="/assets/img/icon-recarga/android-icon-72x72.png" class="header-logo__img" alt="">
            <span class="header-logo__span">Recarga5g.com</span>
          </button>
      
      
        <div class="nav" [ngClass]="{ 'nav--active': active}">

            <div class="nav-list">
              <button class="nav-list__button" mat-button [matMenuTriggerFor]="menu">Plataformas</button>

              <mat-menu class="nav-submenu" #menu="matMenu">
                <a class="nav-submenu__a" routerLink="plataformas/pagaqui" mat-menu-item>Pagaqui</a>
                <a class="nav-submenu__a" routerLink="plataformas/planetaemx" mat-menu-item>Planetaemx</a>
              </mat-menu>
              
              <button class="na-list__button" mat-button [matMenuTriggerFor]="consultar">Consultar</button>
          
              <mat-menu class="nav-submenu" #consultar="matMenu">
                <a class="nav-submenu__a" mat-menu-item>Como vender recargas</a>
                <a class="nav-submenu__a" mat-menu-item>Como vender pago de servicios</a>
                <a class="nav-submenu__a"mat-menu-item>Como vender pines electrónicos</a>
              </mat-menu>
              
              
              <button class="nav-list__button" mat-button [mat-menu-trigger-for]="notificar">Notificar</button>
            
              <mat-menu class="nav-submenu" #notificar="matMenu">
                  <a class="nav-submenu__a" mat-menu-item>Deposito Pagaqui</a>
                  <a class="nav-submenu__a" mat-menu-item>Deposito Planetaemx</a>
              </mat-menu>
              
              <button class="nav__button" mat-button [mat-menu-trigger-for]="ayuda">Ayuda</button>
             
              <mat-menu class="nav-submenu" #ayuda="matMenu">
                  <a class="nav-submenu__a" mat-menu-item>Preguntas frecuentes</a>
                  <a class="nav-submenu__a" mat-menu-item>Contacto</a>
                  <a class="nav-submenu__a" mat-menu-item>Blog</a>
              </mat-menu>
    
              <button class="nav__close" (click)="disabledNav()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>close</mat-icon>
              </button>
    
              <a class="nav__register" mat-flat-button color="accent">Registrarme</a>
    
            </div>
     
        </div>

        <div class="r-bottons">
          <button class="r-theme light" (click)="themeBtn()" mat-icon-button matTooltip="Seleccione para cambiar de tema para la pagina" aria-label="Example icon button with a palette icon">
            <mat-icon class="r-theme__icon r-theme__icon-sun" fontIcon="sunny"></mat-icon>
            <mat-icon class="r-theme__icon r-theme__icon-moon" fontIcon="dark_mode"></mat-icon>
          </button>
  
          <a class="r-bottons__a" mat-flat-button color="accent">Registrarme</a>
          <button (click)="activeNav()" class="r-bottons__bar" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon fontIcon="grid_view"></mat-icon>
          </button>
        </div>


      </div>
</mat-toolbar>



