.condiciones {
    
    background-color: var(--c-card);
    padding: 1em;
    &__container {
        grid-template-columns: 1fr;
    }

    &__h1 {
        text-align: center;
    }

    &__p {
    text-align: justify;
    }
}



.condiciones__img {
    width: 650px;
    margin: auto;
}