<div class="condiciones mtop-5 mbottom-3">

    <div class="condiones__container container">
        <h1 class="condiciones__h1 title">Recarga5g.com | Términos & condiciones</h1>
        <p class="condiciones__p text">La información Enviada y recolectada en este correo electrónico será utilizada únicamente para Registrar al usuario en los sistemas de ventas, y para mantenerlo informado de promociones, fallas con los sistemas, días movistar y cualquier otro
            tipo de información que se requiera para enviar por correo electrónico así como para brindar soporte en caso de cualquier duda y poder entablar una comunicación con nuestros especialistas en Recargas Electrónicas Los datos proporcionados serán
            confidenciales y no serán compartidos con ningún tercero para ningún fin, estarán resguardados por métodos físicos y tecnológicos bajo la responsabilidad de www.recargaselectronicas.org En cualquier momento el usuario puede solicitar la baja
            de su información antes proporcionada enviando un correo electrónico a ventas@recargaselectronicas.org</p>

        <picture class="condiciones__picture">
            <img src="/assets/img/svg/condiciones-server.svg" alt="Recarga5g.com | Términos & condiciones" class="condiciones__img">
        </picture>
    </div>

</div>