<div class="condiciones mb-3 wow animate__animated animate__fadeInUp">

    <div class="condiciones__container container">
        <span class="badge">Terminos</span>
        <h1 class="condiciones__h1 headline-2">Recarga5g.com | Condiciones</h1>
        <p class="condiciones__p body-1 mb-1">La información Enviada y recolectada en este correo electrónico será utilizada únicamente para Registrar al usuario en los sistemas de ventas, y para mantenerlo informado de promociones, fallas con los sistemas, días movistar y cualquier otro
            tipo de información que se requiera para enviar por correo electrónico así como para brindar soporte en caso de cualquier duda y poder entablar una comunicación con nuestros especialistas en Recargas Electrónicas Los datos proporcionados serán
            confidenciales y no serán compartidos con ningún tercero para ningún fin, estarán resguardados por métodos físicos y tecnológicos bajo la responsabilidad de www.recargaselectronicas.org En cualquier momento el usuario puede solicitar la baja
            de su información antes proporcionada enviando un correo electrónico a ventas@recargaselectronicas.org</p>

        <picture class="condiciones__picture">
            <img src="/assets/img/svg/condiciones.svg" class="condiciones__img" width="650" height="250" loading="lazy" alt="Recarga5g.com | Términos">
        </picture>
    </div>

</div>