
<div class="contendor" style="background: inherit">
   
    <app-header></app-header>

    <app-up-scroll></app-up-scroll>
    <!-- <button mat-fab class="scrollTop__btn" color="primary" aria-label="Example icon button with a delete icon" (click)="onScrollTop()" *ngIf="showBtnScroll">
        <mat-icon>arrow_upward</mat-icon>
      </button>

<div class="list-contact__container">
    <input type="checkbox" id="btn-mas">
    <div class="list-contact">
        <a href="https://wa.me/522712141938/?text=Recargas%20Electronicas" class="bx bxl-whatsapp list-contact__a list-contact__what" target="_blank" rel="noopener" aria-label="WhatsApp"></a>
        <a href="tel:2717140102" class="bx bxs-phone-call list-contact__a  list-contact__phone" aria-label="Telefono"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="btn-mas__label">
            <mat-icon>support_agent</mat-icon>
        </label>
    </div>

    
</div> -->

<router-outlet></router-outlet>
<app-footer></app-footer>
    
</div>
