<div class="banner registro__banner container">
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_registro_0Xu6Bwzxz.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668634756604" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-registro__responsive_gaRdeqB7y.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667848491967" class="banner__img banner-registro__img" width="100%" height="100%" alt="Tu registro es totalmente gratuito afiliate a Recarga5g.com"
    />

    <picture class="banner-registro__picture banner__desktop">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner_registro_0Xu6Bwzxz.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668634756604" class="banner__img banner-registro__img" width="100%" height="100%" alt="Tu registro es totalmente gratuito afiliate a Recarga5g.com">
    </picture>


    <picture class="banner-registro__picture banner__mobile">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner-registro__responsive_gaRdeqB7y.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667848491967" class="banner__img banner-registro__img" width="100%" height="100%" alt="Tu registro es totalmente gratuito afiliate a Recarga5g.com">
    </picture>

</div>

<div class="registo">
    <div class="registro__container container aling-center justify-center">

        <h1 class="title">Registro para la venta de recargas electrónicas</h1>
        <p>El mejor sistema para la venta de recargas, pago de servicios & pines electrónicos.</p>
        <div class="registro-content grid grid-col-2">

            <div class="registro__form">
                <iframe width="100%" height="1110" allowfullscreen src="https://www.emailmeform.com/builder/embed/EDcPZxcByOf4" class="registro__frame" allow="camera" title="registro para la venta de recargas electronicas"><a href="https://www.emailmeform.com/builder/embed/EDcPZxcByOf4">Fill out form.</a></iframe>
            </div>

            <div class="registro__steps">

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <i class='bx bxs-user-detail registro-item__i'></i>
                    <h3 class="registro-item__h3">Registrate</h3>
                    <p class="registro-item__p">registraste llenando el formulario con tus datos correspondientes.</p>
                </div>

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <i class='bx bxl-telegram registro-item__i'></i>
                    <h3 class="registro-item__h3">Espera nuestro correo</h3>
                    <p class="registro-item__p">con los datos que proporciones te estaremos enviando tus datos de acceso.</p>
                </div>

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <i class='bx bx-log-in registro-item__i'></i>
                    <h3 class="registro-item__h3">Ingresa a tu plataforma</h3>
                    <p class="registro-item__p">Verifica en tu correo electrónico en tu bandeja de entrada los datos de acceso.</p>
                </div>

                <div class="registro-item">
                    <div class="registro-item__line"></div>
                    <i class='bx bxs-offer registro-item__i'></i>
                    <h3 class="registro-item__h3">Comisión</h3>
                    <p class="registro-item_p">Obten excelentes comisiones ajustadas a tus necesidades, haz crecer tu negocio.</p>
                </div>

            </div>
        </div>
    </div>
</div>