<div class="carousel-productos mb-3">
    <div #productosSwiper class="carousel-productos__swiper swiper">
        <div class="carousel-productos__wrapper swiper-wrapper">
                <div  class="carousel-productos__li swiper-slide" *ngFor="let producto of productos.item">
                    <img [src]="producto.url" class="carousel-productos__img" width="250" height="250" loading="lazy" alt="Recargas Electrónicas lider en la venta de recargas, pago de servicios y pines">  
               </div>
        </div>
       
    </div>
</div>

