@import '_mixin';


.carousel-productos {
  grid-template-columns: 1fr;

  &__img {
    object-fit: contain;
    max-width: 250px;
    height: 250px;
  }
}

.carousel-productos__swiper {
  width: 100%;
}

.carousel-productos__wrapper{
  transition-timing-function: linear;
}


.carousel-productos__li {
display: flex;
align-items: center;
justify-content: center;
border-radius: 18px;
font-size: 22px;
font-weight: bold;
color: #fff;
width: 250px;
height: 100%;
}

