<div class="floating">
    <div class="floating__container">
      
        <button #btnToggle class="floating__toggle" mat-fab matTooltip="Contactar" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon class="floating_icon">support_agent</mat-icon>
          </button>

        <ul class="floating__ul">

            <li class="floating__link">
            
                <a class="floating__icon" mat-fab matTooltip="Llamar" color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon class="floating__icon">call</mat-icon>
                  </a>
            </li>

            <li class="floating__link">
            
                <a class="floating__icon" mat-fab matTooltip="chatear" color="primary" aria-label="Example icon button with a menu icon">
                  <img src="assets/img/svg/whatsapp-line.svg" class="floating__img" loading="lazy" alt="chatear por WhatsApp con recargas electrónicas">
                  </a>
            </li>
         
        </ul>
    </div>
</div>