<div class="nofound">

    <div class="nofound__container container">

            <div class="nofound__content">
                <h2 class="nofound__h2">404</h2>
                <h3 class="nofound__h3">Pages no found</h3>
                <a routerLink="/" class="nofound__a">Regresar a la pagina principal</a>
            </div>

        <div class="earth">
            <img src="/assets/img/svg/earth.svg" class="earth__img" width="100px" alt="tierra">
        </div>

        <div class="astronaut">
            <img src="/assets/img/svg/astronaut.svg" class="astronaut__img" alt="astronauta">
        </div>

        <div class="moon">
            <img src="/assets/img/svg/moon.svg" class="moon__img" alt="Luna">
        </div>

        <div class="glowing_stars">

        </div>
    </div>
</div>