<footer class="footer w-full bg-slate-100">
    <div class="footer__container container mx-auto grid grid-cols-1 lg:grid-cols-5 items-start justify-between gap-4 py-12 px-5">

        <div class="footer__sec px-4">

            <div class="footer-logo">
                    <img src="/assets/img/logo__footer.png" class="footer-logo__img w-full h-auto" loading="lazy"  alt="Recargas Electrónicas">  
            </div>

            <p class="footer__p text-base text-slate-700">
                somos la empresa #1 en la venta de tiempo aire, pago de servicios y pines electrónicos, tenemos presencia en toda la republica mexicana.
            </p>
        </div>

        <div class="footer__sec">
            <h4 class="footer__h4 text-2xl font-semibold text-slate-700 mb-4"> Ayuda </h4>

            <ul class="footer__ul">
                <li class="footer__li pb-8 footer-option flex items-center text-base text-slate-700">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/ayuda/faqs" class="footer__a cursor-pointer">Preguntas Frecuentes</a>
                </li>

                <li class="footer__li pb-8 footer-option flex items-center text-base text-slate-700">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>

                    <button mat-button [matMenuTriggerFor]="plataformas">Plataformas</button>
                    <mat-menu #plataformas="matMenu">
                      <button mat-menu-item routerLink="/plataforma/pagaqui">Pagaqui</button>
                      <button mat-menu-item routerLink="/plataforma/planetaemx">Planetaemx</button>
                    </mat-menu>
                    
                  

                    
                </li>

                <li class="footer__li pb-8 footer-option flex items-center text-base text-slate-700">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/ayuda/contacto" class="footer__a cursor-pointer">Contacto</a>
                </li>

               
                <li class="footer__li pb-6 footer-option flex items-center text-base text-slate-700">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/ayuda/blog" mat-button class="footer__a">Blog</a>
                </li>
            </ul>

        </div>

        <div class="footer__sec">
            <h4 class="footer__h4 text-2xl font-semibold text-slate-700 mb-4">Legal</h4>

            <ul class="footer__ul">
                <li class="footer__li footer-option flex items-center text-base text-slate-700 pb-8">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/legal/politicas" mat-button class="footer__a">Politicas</a>
                </li>
                <li class="footer__li footer-option flex items-center text-base text-slate-700 pb-8">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/legal/condiciones" mat-button class="footer__a">Condiciones de uso</a>
                </li>
            </ul>

        </div>

        <div class="footer__sec">
            <h4 class="footer__h4 text-2xl font-semibold text-slate-700 mb-4">Contacto</h4>

            <ul class="footer__ul contacto__ul">
                <li class="footer__li mb-4 relative pl-9">
                    <mat-icon class="maticon_location absolute top-0 left-0" fontIcon="location_on" color="primary"></mat-icon>
                    <span class="text-lg text-slate-700 font-semibold mb-2 block">Dirección</span>
                    <p class="footer__p text-base text-slate-700"> Delegación Benito Juarez Distrito Federal México DF <br>
                        Dirección Completa Solo Clientes Activos.</p>
                </li>

                <li class="footer__li relative mb-4 pl-9">
                    <mat-icon class="maticon_phone_in_talk absolute top-0 left-0" fontIcon="phone_in_talk" color="primary"></mat-icon>
                    <span class="text-lg text-slate-700 font-semibold mb-2 block">Telefono:</span>
                    <a href="tel:2717140102" class="footer__a text-base text-slate-700 block" aria-label="Telefono" target="_blank" rel="noopener noreferrer">+52 2717140102</a>
                </li>

                <li class="footer__li relative mb-4 pl-9">
                    <mat-icon class="maticon_forum absolute top-0 left-0" fontIcon="forum" color="primary"></mat-icon>
                    <span class="text-lg text-slate-700 font-semibold mb-2 block">WhatsApp:</span>
                    <a href="https://wa.me/522712141938" class="footer__a text-base text-slate-700 block" aria-label="WhatsApp" target="_blank" rel="noopener noreferrer">+52 2712141938</a>
                </li>

                <li class="footer__li relative mb-4 pl-9">
                    <mat-icon class="maticon_mail absolute top-0 left-0" fontIcon="mail" color="primary"></mat-icon>
                    <span class="text-lg text-slate-700 font-semibold mb-2 block">Correo:</span>
                    <a href="mailto:tae.celular@gmail.com" class="footer__a text-base text-slate-700 block" aria-label="Correo" target="_blank" rel="noopener noreferrer">tae.celular&#64;gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="footer__sec">
          <h4 class="footer__h4 text-2xl font-semibold text-slate-700 mb-4">Horario de Atención</h4>
            <ul class="footer__ul atencion">
                <li class="footer__li atencion__li ">
                    <span class="footer__span text-base text-slate-700"> Lunes- Viernes 9AM a 6PM </span>
                </li>
                <li class="footer__li atencion__li ">
                    <span class="footer__span text-base text-slate-700"> Sabado 9AM a 4PM </span>
                </li>
            </ul>
        </div>

    </div>

    <div class="copyright">
        <div class="copyright__container container mx-auto flex aling-center justify-between">

            <div class="copyright__left">
                <h3 class="footer__h6">
                    <a href="https://www.recargas.electronicas.com.mx/" class="footer__a body-2"  target="_blank" rel="noopener noreferrer">&#169; 2023 Recargas Electrónicas SA. DE. CV.</a>
                </h3>

                <p class="footer__p body-2">| Todos los derechos reservados</p>
            </div>


            <ul class="social__ul">
                <li class="social__li">
                    <a href="https://www.facebook.com/recargas.electronicas.com.mx/"  matTooltip="Siguenos en Facebook" matTooltipPosition="above" class="social__a" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/social__facebook.png" class="social__img" width="35" height="35" loading="lazy" alt="red social recargas5g.com">
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://twitter.com/recargascelular" class="social__a"  matTooltip="Siguenos en Twitter" matTooltipPosition="above" aria-label="Twiiter" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/social__twitter.png" class="social__img" width="35" height="35" loading="lazy" alt="red social recargas5g.com">
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://www.instagram.com/recargascelular/" class="social__a"  matTooltip="Siguenos en Instagram" matTooltipPosition="above" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/social__instagram.png" class="social__img" width="35" height="35" loading="lazy" alt="red social recargas5g.com">
                    </a>
                </li>
               
          
            </ul>
        </div>
    </div>
</footer>