@import "_mixin";

.footer {
    width: 100%;
    background-color: var(--c-card);


    &__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: space-between;
        grid-gap: 1rem;
        padding: 50px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        
        @include responsive(950px) {
           grid-template-columns: 1fr;
        }
    
    }
    
    
&__sec {
    padding: 0 15px;
    height: 100%;
}

&__h2 {
    position: relative;
    margin-bottom: 15px;
}

&__h2:before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: var(--color-primary);
}

&__ul {
    padding: 10px 0;
}

&__li {
    padding: 10px 0;
}

&-option {
    @include flexible(flex, row, wrap, flex-start, center);
}


&-logo__img {
    max-width: 320px;
    height: 120px;
    margin: auto;
}

}
