<footer class="footer">
    <div class="footer__container container">

        <div class="footer__sec">

            <div class="footer-logo">
                <picture class="footer-logo__picture">
                    <img src="/assets/img/logo__footer.png" class="footer-logo__img" loading="lazy" height="70" width="184" alt="Recargas Electrónicas">
                </picture>
            </div>

            <p class="footer__p">
                somos la empresa #1 en la venta de tiempo aire, pago de servicios y pines electrónicos, tenemos presencia en toda la republica mexicana.
            </p>


        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">
                Ayuda
            </h2>

            <ul class="footer__ul">
                <li class="footer__li">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <a routerLink="/ayuda/faqs" class="footer__a">Preguntas Frecuentes</a>
                </li>

                <li class="footer__li footer__li--submenu">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <button type="button" class="footer__a footer__a-submenu">Numeros de cuenta</button>


                    <ul class="footer-dropdown">
                        <li class="footer__li footer-dropdown__li">
                            <a href="assets/img/Cuentas_Pagaqui.jpg" class="footer__a" target="_blank" rel="noopener">Pagaqui</a>
                        </li>

                        <li class="footer__li footer-dropdown__li">
                            <a href="https://recargaselectronicas.org/bancos.html" class="footer__a" target="_blank" rel="noopener">Recargaki/Planetaemx</a>
                        </li>
                    </ul>

                </li>

                <li class="footer__li">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <a routerLink="/ayuda/contacto" class="footer__a">Contacto</a>
                </li>

                <li class="footer__li footer__li--submenu">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <button class="footer__a footer__a-submenu">Manuales</button>

                    <ul class="footer-dropdown">
                        <li class="footer__li footer-dropdown__li">
                            <a routerLink="/consulta/pagaqui" class="footer__a">Pagaqui</a>
                        </li>

                        <li class="footer__li footer-dropdown__li">
                            <a routerLink="/consulta/planetaemx" class="footer__a">Recargaki/Planetaemx</a>
                        </li>
                    </ul>
                </li>
                <li class="footer__li">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <a routerLink="/ayuda/blog" class="footer__a">Blog</a>
                </li>
            </ul>

        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">Legal</h2>

            <ul class="footer__ul">
                <li class="footer__li">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <a routerLink="/legal/politicas" class="footer__a">Politicas</a></li>
                <li class="footer__li">
                    <i class='bx bx-chevron-right footer__i footer__i--arrow'></i>
                    <a routerLink="/legal/condiciones" class="footer__a">Condiciones de uso</a></li>
            </ul>


            <h2 class="footer__h2">Horario de Atención</h2>
            <ul class="footer__ul atencion">
                <li class="footer__li atencion__li">
                    <span class="footer__span"><i class="bx bx-time-five footer__i"></i></span>
                    <span class="footer__span"> Lunes- Viernes 9AM a 6PM </span>
                </li>
                <li class="footer__li atencion__li">
                    <span class="footer__span"><i class="bx bx-time-five footer__i"></i></span>
                    <span class="footer__span"> Sabado 9AM a 4PM </span>
                </li>
            </ul>
        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">Contacto</h2>

            <ul class="footer__ul contacto__ul">
                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-map footer__i"></i></span>
                    <span class="footer__span"> Delegación Benito Juarez Distrito Federal México DF <br>
                        Dirección Completa Solo Clientes Activos.</span>
                </li>

                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-footer bx-phone-call footer__i"></i></span>
                    <a href="tel:2717140102" class="footer__a" aria-label="Telefono" rel="noopener" target="_blank">+52 2717140102</a>
                </li>

                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-footer bxl-whatsapp footer__i"></i></span>
                    <a href="https://wa.me/522712141938" class="footer__a" aria-label="WhatsApp" rel="noopener" target="_blank">+52 2712141938</a>
                </li>

                <li class="footer__li contacto__li">
                    <span class="footer__span"><i class="bx bx-footer bx-mail-send footer__i"></i></span>
                    <a href="mailto:tae.celular@gmail.com" class="footer__a" aria-label="Correo" rel="noopener" target="_blank">tae.celular@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="footer__sec">
            <h2 class="footer__h2">Ingresa a tu plataforma</h2>

            <div class="footer-app">

                <ul class="footer__ul footer-app__ul">
                    <li class="footer__li footer-app_li">

                        <a href="https://pagaqui.com.mx/Login.aspx" class="footer-app__a footer-app__a--pagaqui" aria-label="Pagaqui para tu celular o table android" target="_blank" rel="noopener">
                            <picture class="footer-app__picture">
                                <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/Icon-companies/logo_pagaqui_fNmbqLfXi.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667321470999">
                                <source type="image/png" srcset="assets/img/icon-companies/logo_pagaqui.png">
                                <img src="/assets/img/icon-companies/logo_pagaqui.png" class="footer-app__img" loading="lazy" width="120" height="35" alt="Ingresa a tu plataforma Pagaqui">
                            </picture>
                        </a>
                    </li>

                    <li class="footer__li footer-app__li">

                        <a href="https://planetaemx.com/index.php" class="footer-app__a footer-app__a--recargaki" aria-label="Planetamex para tu celular o table android" target="_blank" rel="noopener">
                            <picture class="footer-app__picture">
                                <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/Icon-companies/planetaemx-logo-login_RS7zapj81.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667321682974">
                                <source type="image/png" srcset="assets/img/icon-companies/planetaemx-logo-login.png">
                                <img data-src="/assets/img/icon-companies/planetaemx-logo-login.png" class="footer-app__img" loading="lazy" width="120" height="90" alt="Ingresa a tu plataforma recargaki/Planetaemx">
                            </picture>
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="copyright__container container flex aling-center justify-between">

            <div class="copyright__left">
                <h3 class="footer__h6">
                    <a href="#" class="footer__a">&#169; 2021 Recarga5g.com</a>
                </h3>

                <p class="footer__p">| Todos los derechos reservados</p>
            </div>


            <ul class="social__ul">
                <li class="social__li">
                    <a href="https://www.facebook.com/recargas.electronicas.com.mx/" class="social__a" aria-label="Facebook" target="_blank" rel="noopener">
                        <i class="bx bxl-facebook footer__i social__i"></i>
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://twitter.com/recargascelular" class="social__a" aria-label="Twiiter" target="_blank" rel="noopener">
                        <i class="bx bxl-twitter footer__i social__i"></i>
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://www.instagram.com/recargascelular/" class="social__a" aria-label="Instagram" target="_blank" rel="noopener">
                        <i class="bx bxl-instagram footer__i social__i">
                        </i>
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://www.youtube.com/channel/UCkhtvMXYh2g4POHlvrXNgVQ?view_as=subscriber" class="social__a" aria-label="YouTube" target="_blank" rel="noopener">
                        <i class="bx bxl-youtube footer__i social__i"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>