<footer class="footer">
    <div class="footer__container container">

        <div class="footer__sec">

            <div class="footer-logo">
                <picture class="footer-logo__picture">
                    <img src="/assets/img/logo__footer.png" class="footer-logo__img" loading="lazy" height="70" width="184" alt="Recargas Electrónicas">
                </picture>
            </div>

            <p class="footer__p body-2">
                somos la empresa #1 en la venta de tiempo aire, pago de servicios y pines electrónicos, tenemos presencia en toda la republica mexicana.
            </p>
        </div>

        <div class="footer__sec">
            <h4 class="footer__h4 headline-4"> Ayuda </h4>

            <ul class="footer__ul">
                <li class="footer__li footer-option">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/ayuda/faqs" mat-button class="footer__a">Preguntas Frecuentes</a>
                </li>

                <li class="footer__li footer-option">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>

                    <button mat-button [matMenuTriggerFor]="plataformas">Plataformas</button>
                    <mat-menu #plataformas="matMenu">
                      <button mat-menu-item routerLink="/plataforma/pagaqui">Pagaqui</button>
                      <button mat-menu-item routerLink="/plataforma/planetaemx">Planetaemx</button>
                    </mat-menu>
                    
                  

                    
                </li>

                <li class="footer__li footer-option">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/ayuda/contacto" mat-button class="footer__a">Contacto</a>
                </li>

               
                <li class="footer__li footer-option">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/ayuda/blog" mat-button class="footer__a">Blog</a>
                </li>
            </ul>

        </div>

        <div class="footer__sec">
            <h4 class="footer__h2 headline-4">Legal</h4>

            <ul class="footer__ul">
                <li class="footer__li footer-option">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/legal/politicas" mat-button class="footer__a">Politicas</a>
                </li>
                <li class="footer__li footer-option">
                    <mat-icon aria-hidden="false" class="footer__icon" color="primary" aria-label="Example home icon" fontIcon="keyboard_arrow_right"></mat-icon>
                    <a routerLink="/legal/condiciones" mat-button class="footer__a">Condiciones de uso</a>
                </li>
            </ul>

        </div>

        <div class="footer__sec">
            <h4 class="footer__h4 headline-4">Contacto</h4>

            <ul class="footer__ul contacto__ul">
                <li class="footer__li">
                    <span class="footer__span--direccion headline-6">Dirección</span>
                    <p class="footer__p body-2"> Delegación Benito Juarez Distrito Federal México DF <br>
                        Dirección Completa Solo Clientes Activos.</p>
                </li>

                <li class="footer__li">
                    <span class="footer__span--direccion headline-6">Telefono:</span>
                    <a href="tel:2717140102" class="footer__a body-1" aria-label="Telefono" target="_blank" rel="noopener noreferrer">+52 2717140102</a>
                </li>

                <li class="footer__li">
                    <span class="footer__span--direccion headline-6">WhatsApp:</span>
                    <a href="https://wa.me/522712141938" class="footer__a body-1" aria-label="WhatsApp" target="_blank" rel="noopener noreferrer">+52 2712141938</a>
                </li>

                <li class="footer__li">
                    <span class="footer__span--direccion headline-6">Correo:</span>
                    <a href="mailto:tae.celular@gmail.com" class="footer__a body-1" aria-label="Correo" target="_blank" rel="noopener noreferrer">tae.celular@gmail.com</a>
                </li>
            </ul>
        </div>

        <div class="footer__sec">
    <h4 class="footer__h4 headline-4">Horario de Atención</h4>
            <ul class="footer__ul atencion">
                <li class="footer__li atencion__li">
                    <span class="footer__span body-2"> Lunes- Viernes 9AM a 6PM </span>
                </li>
                <li class="footer__li atencion__li">
                    <span class="footer__span body-2"> Sabado 9AM a 4PM </span>
                </li>
            </ul>
        </div>

    </div>

    <div class="copyright">
        <div class="copyright__container container flex aling-center justify-between">

            <div class="copyright__left">
                <h3 class="footer__h6">
                    <a href="https://www.recargas.electronicas.com.mx/" class="footer__a body-2"  target="_blank" rel="noopener noreferrer">&#169; 2021 Recargas Electrónicas SA. DE. CV.</a>
                </h3>

                <p class="footer__p body-2">| Todos los derechos reservados</p>
            </div>


            <ul class="social__ul">
                <li class="social__li">
                    <a href="https://www.facebook.com/recargas.electronicas.com.mx/"  matTooltip="Siguenos en Facebook" matTooltipPosition="above" class="social__a" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/social__facebook.png" class="social__img" width="35" height="35" loading="lazy" alt="red social recargas5g.com">
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://twitter.com/recargascelular" class="social__a"  matTooltip="Siguenos en Twitter" matTooltipPosition="above" aria-label="Twiiter" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/social__twitter.png" class="social__img" width="35" height="35" loading="lazy" alt="red social recargas5g.com">
                    </a>
                </li>
                <li class="social__li">
                    <a href="https://www.instagram.com/recargascelular/" class="social__a"  matTooltip="Siguenos en Instagram" matTooltipPosition="above" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/social__instagram.png" class="social__img" width="35" height="35" loading="lazy" alt="red social recargas5g.com">
                    </a>
                </li>
               
          
            </ul>
        </div>
    </div>
</footer>