<div class="banner banner-plataformas">
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_planetaemx_UzyvJxSA4.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667595381643" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-planetaemx__responsive_RkSW1sLsV.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667839451185" />

    <picture class="banner-plataformas__picture banner__desktop">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner_planetaemx_UzyvJxSA4.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667595381643" class="banner-plataformas__img banner__img" width="100%" height="100%" alt="Conoce & registrate en nuestra plataforma Planetaemx & obten una comisión por cada deposito que reportes">
    </picture>

    <picture class="banner-plataformas__picture banner__mobile">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner-planetaemx__responsive_RkSW1sLsV.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667839451185" class="banner-plataformas__img banner__img" width="100%" height="100%" alt="Conoce & registrate en nuestra plataforma Planetaemx & obten una comisión por cada deposito que reportes">
    </picture>
</div>

<!-- ============= SECCION CAROSUSEL ============= -->
<div class="services mtop-5 mbottom-3 wow animate__animated animate__zoomIn">

    <div class="services__container container">

        <h3 class="services__h3 title">Con <span class="RecargakiColor">con Recargaki/Planetaemx</span> Vende tiempo aire o recargas electrónicas y pago de servicios en tu negocio</h3>

        <div class="services-content">
            <div class="swiper services-swiper recargaki-services-swiper">

                <div class="swiper-wrapper services-wrapper">
                    <div class="swiper-slide services-swiper-slide" *ngFor="let service of services">

                        <div class="services-item">

                            <div class="service-item-image">
                                <picture class="service-item__picture">
                                    <img [src]="service.url" alt="item.title" width="260" height="200" loading="lazy" class="service-item__img">
                                </picture>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination services-swiper-pagination"></div>
            </div>
        </div>
    </div>

</div>
<!-- ============= SECCION COMISION ============= -->
<div class="comision  mtop-5 mbottom-3">

    <div class="comision__container container">

        <h3 class="comision__h3 title">OBTEN UNA COMISIÓN POR DEPOSITO QUE REPORTES EN LA PLATAFORMA <span class="RecargakiColor">Recargaki/Planetamex</span></h3>

        <div class="comision__wrapper grid grid-col-2 align-center justify-center grid-mobile backRecargaki">

            <div class="comision-content">
                <h3 class="subtitle">Incrementa tus ganacias con <span class="RecargakiColor">Recargaki/Planetamex</span></h3>
                <p class="comision-content__p"> Por cada venta que realizas de tiempo aire, pin electrónico o cobro de servicios recibe un porcentaje de comisión que incrementa tus ingresos mensuales.</p>

                <div class="comision-btns">

                    <a class="comision-content__a desktop__btn btn__recargaki" routerLink="/registro">
                        Inscribirme ahora
                        <i class='bx bx-right-arrow-alt btn-2__i icon__i--arrow icon__i--recargaki'></i> 
                    </a>

                </div>

            </div>

            <div class="comision-image">

                <div class="comision-image__shape shapeRecargaki"></div>
                <picture class="comision-image__picture">
                    <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/mockup-planetaemx_xK_j0cSKK.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668452432925">
                    <source type="image/png" srcset="/assets/img/mockup-planetaemx.png">
                    <img src="/assets/img/mockup-planetaemx.png" class="comision-image__img lazyload" loading="lazy" width="390" height="736" alt="Incrementa tus ganancias con Recargaki/Planetaemx">
                </picture>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION ACTIVITIES ============= -->
<div class="activities mtop-5 mbottom-3">

    <div class="activities__container container">
        <h3 class="activities__h3 title">Que puedes hacer con <span class="RecargakiColor">Recargaki/Planetaemx</span></h3>

        <div class="activities__content grid grid-col-2 align-center justify-center grid-mobile">

            <div class="activities-items">
                <div class="activities-item">
                    <span class="activities-item__number Recargaki-Planetamex"> 1 </span>
                    <h4 class="activities-item__h4"> Obtén una comisión por cada deposito que reportes en la plataforma</h4>
                </div>

                <div class="activities-item">
                    <span class="activities-item__number Recargaki-Planetamex"> 2</span>
                    <h4 class="activities-item__h4">Reporta tu pago directamente en la plataforma y recibe el saldo correspondiente y la comisión en tiempo aire</h4>
                </div>

                <div class="activities-item">
                    <span class="activities-item__number Recargaki-Planetamex"> 3 </span>
                    <h4 class="activities-item__h4">Consulta las cuentas bancarias autorizadas en la plataforma</h4>
                </div>

                <div class="activities-item">
                    <span class="activities-item__number Recargaki-Planetamex"> 4</span>
                    <h4 class="activities-item__h4"> Recarga saldo para recargas y saldo para pago de servicios</h4>
                </div>

                <div class="activities-item">
                    <span class="activities-item__number Recargaki-Planetamex"> 5 </span>
                    <h4 class="activities-item__h4">Consulta el status de todos tus reporte de depositos</h4>
                </div>

                <div class="activities-item">
                    <span class="activities-item__number Recargaki-Planetamex">6</span>
                    <h4 class="activities-item__h4">registra todos tus puntos de venta y obten una comisión por la ventas que estos realicen en Planetaemx </h4>
                </div>
                <a routerLink='/registro' class="desktop__btn btn__recargaki">
                    Inscribirme ahora 
                     <i class='bx bx-right-arrow-alt btn-2__i icon__i--arrow icon__i--recargaki'></i> 
                 </a>
            </div>


            <div class="activities-image">
                <picture class="activities-image__picture">
                    <img src="/assets/img/svg/plataforma__planetaemx.svg" class="activities-image__img activities-image__planetaemx" loading="lazy" width="450" height="450" alt="Características de Recargaki & Planetaemx, comisión por depósito, inscríbeme totalmente gratis y vender tiempo aire Telcel, Bait">
                </picture>
            </div>

        </div>

    </div>


</div>

<!-- ============= SECCION CUENTAS ============= -->
<div class="cuentas mtop-5 mbottom-3">
    <div class="cuentas__container container">

        <h3 class="cuentas__h3 title" id="cuentas" name="cuentas">Consulta todos los numeros de cuenta para depositar y vender recargas en <span class="RecargakiColor">Recargaki/Planetaemx</span></h3>

        <div class="cuentas-wrapper grid grid-col-2 align-center justify-center grid-mobile">
            <!-- Shapes -->
            <i class='bx bx-file  plataforma-shapes__i cuentas-shapes__i--1'></i>
            <i class='bx bx-file  plataforma-shapes__i cuentas-shapes__i--2'></i>
            <i class='bx bxs-file-blank  plataforma-shapes__i cuentas-shapes__i--3'></i>
            <i class='bx bxs-offer  plataforma-shapes__i cuentas-shapes__i--4'></i>
            <i class='bx bxs-receipt  plataforma-shapes__i cuentas-shapes__i--5'></i>
            <i class='bx bxs-wallet  plataforma-shapes__i cuentas-shapes__i--6'></i>

            <div class="cuentas-content">
                <h3 class="subtitle cuentas-content__h3">
                    Deposita un monto minimo de $300 y empieza a vender recargas o pagar servicios de tus clientes mientras generas ganancias a tu negocio
                </h3>

                <p class="cuentas-content__p text">
                    Invierte poco y obtén excelentes comisiones, recarga nuevamente cuando lo requieras, sin pagos forzosos, anualidades ni penalizaciones, tú decides como y cuando recargar nuevamente.
                </p>

                <a href="https://recargaselectronicas.org/bancos.html" class="comision-content__a desktop__btn btn__recargaki" aria-label="Deposita desde 300 y empieza a vender tiempo aire" target="_blank" rel="noopener"> consultar cuentas <i class="bx bx-right-arrow-alt btn-2__i icon__i--arrow icon__i--recargaki"></i></a>
            </div>

            <div class="cuentas-image">
                <picture class="cuentas-image__picture">
                    <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/img-plataformas_iSyfP5OZC.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667251070682">
                    <source type="image/png" srcset="/assets/img/img-plataformas.png">
                    <img src="/assets/img/img-plataformas.png" class="cuentas-image__img" loading="lazy" width="500" height="500" alt="Consulta los números de cuenta para recargar saldo y vender tiempo aire a cualquier compañía">
                </picture>
            </div>
        </div>

    </div>
</div>

<!-- ============= SECCION DOWLOAND APP ============= -->
<div class="download-app mtop-5 mbottom-3">

    <div class="download-app__container container">

        <i class='bx bx-wifi plataforma-shapes__i download-app-shapes__i--1'></i>
        <i class='bx bx-laptop plataforma-shapes__i download-app-shapes__i--2'></i>
        <i class='bx bx-tab plataforma-shapes__i download-app-shapes__i--3'></i>
        <i class='bx bx-mobile-alt plataforma-shapes__i download-app-shapes__i--4'></i>
        <i class='bx bx-devices plataforma-shapes__i  download-app-shapes__i--5'></i>


        <h3 class="title download-app__h3">Descarga la Aplicacion Recargaki para tu dispositivo movil</h3>

        <p class="text download-app__p">Descarga la desde la tienda oficial de tus aplicaciones. y empieza a realizar recargas electrónicas a cualquier compañía de telefonía celular disponible en México</p>


        <div class="dowload-apps flex  align-center justify-center">

            <div class="download-app__type">

                <h4 class="download-app__h4">App Recargaki</h4>
                <a href="https://play.google.com/store/apps/details?id=com.techoblige.recargaki&hl=es" class="download-app__a" aria-label="descarga nuestra App Pagaqui para tu celular o tablet Android" target="_blank" rel="noopener">
                    <picture class="download-app__picture">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/google-play_P7Bviv3jcA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667237770737">
                        <source type="image/png" srcset="/assets/img/google-play.png">
                        <img src="/assets/img/google-play.png" width="280" height="108" class="download-app__img" loading="lazy" alt="Ingresa a tu plataforma descargando la App oficial">
                    </picture>
                </a>
            </div>


        </div>

    </div>

</div>

<!-- ============= SECCION DEVICES ============= -->
<div class="devices container">

    <h5 class="devices__h2 title">Vende Recargas desde donde quieras</h5>
    <div class="devices__content">

        <div class="devices-left">

            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-devices devices-item__i'></i>
                </div>

                <span class="devices-item__span">Vende recarga desde cualquier dispositivo</span>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>


            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bx-user-plus devices-item__i'></i>
                </div>

                <span class="devices-item__span">Registra tus puntos de venta</span>
                <p class="devices-item__p">Registra y administra todos tus puntos de venta</p>
            </div>
        </div>

        <div class="devices-image flex align-center justify-center">
            <picture class="devices-image__picture">
                <img src="/assets/img/svg/devices_pt.svg" class="devices-image__img" loading="lazy" width=" 346" height="285" alt="Vende tiempo aire desde tu celular, Tablet computadora o vía SMS gratuito">
            </picture>
        </div>

        <div class="devices-right">
            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bxs-offer devices-item__i'></i>
                </div>

                <span class="devices-item__span">Genera ganancias por tus ventas de recargas</span>
                <p class="devices-item__p">Vende recargas, pago de servicios a todas las compañias disponibles en México.</p>
            </div>


            <div class="devices-item">
                <div class="devices-item__icon flex align-center justify-center">
                    <i class='bx bx-cog devices-item__i'></i>
                </div>

                <span class="devices-item__span">Soporte técnico</span>
                <p class="devices-item__p">Tenemos varios medios de atención a nuestros clientes incluye teléfono, chat, WhatsApp y correo. Contáctanos</p>
            </div>

        </div>

    </div>
</div>


<!-- ============= SECCION ACCESO ============= -->
<div class="acceso mtop-5 mbottom-3">
    <div class="acceso__container container grid grid-col-2 align-center justify-center grid-mobile">

        <div class="acceso__content">
            <h3 class="acceso__h3 subtitle">Accede a tu plataforma Planetaemx desde tu navegador de preferencia</h3>

            <div class="acceso__items">

                <div class="acceso__item">


                    <a href="https://planetaemx.com/index.php" class="btn-2 acceso__a btn__recargaki" aria-label="Ingresa a tu plataforma Pagaqui" rel="noopener" target="_blank">
                       Planetaemx
                        <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--recargaki'></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="acceso__image">
            <picture class="acceso__picture">
                <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/men-acceso_XlBZexJcE.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667251466734">
                <source type="image/png" srcset="/assets/img/men-acceso.png">
                <img src="/assets/img/men-acceso.png" class="acceso__img" width="584" height="389" loading="lazy" alt="Ingresa a tu plataforma de venta de recargas a cualquier compañía de telefonía">
            </picture>
        </div>

    </div>
</div>

<!-- ============= SECCION MANUALES ============= -->
<div class="manuales mtop-5 mbottom-3">
    <div class="manuales__container container">
        <h3 class="manuales__h3 title">Consulta los manuales como vender recargas electrónicas en <span class="RecargakiColor">Recargaki/Planetaemx</span></h3>

        <div class="manuales-content grid grid-col-2 align-center justify-center grid-mobile">

            <div class="manuales__description">

                <p class="manuales__p subtitle">Consulta todo acerca de nuestra plataforma <span class="RecargakiColor">Recargaki/Planetaemx</span></p>

                <div class="manuales-pdfs">
                    <a href="/assets/img/manual_recargaki.pdf" class="manuales__a btn-2 btn__recargaki" target="_blank" rel="noopener" aria-label="consulta manual recargaki para vender tiempo aire"> Manual Recargaki <i  class="bx bx-download manuales__i"></i></a>

                    <a href="/assets/img//manual_planetaemx.pdf" class="manuales__a btn-2 btn__recargaki" target="_blank" rel="noopener" aria-label="consulta manual planetaemx para vender recargas"> Manual Planetaemx <i class="bx bx-download manuales__i"></i></a>
                </div>
            </div>

            <div class="manuales-image">
                <picture class="manuales__picture">
                    <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/img-manual_dwSPR_HJY.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667251651813">
                    <source type="image/png" srcset="/assets/img/img-manual.png">
                    <img src="/assets/img/img-manual.png" class="manuales__img" loading="lazy" width="572" height="400" alt="Consulta los manuales para vender tiempo aire, pago de servicios y pines electrónicos">
                </picture>
            </div>

        </div>
    </div>
</div>

<!-- ============= SECCION REGISTER ============= -->
<div class="div register mtop-5 mbottom-3">
    <div class="register__container container grid-mobile">

        <div class="register-items wow animate__animated animate__fadeInUp">

            <!-- register item -->
            <div class="register-item">
                <i class='bx bxs-user-plus register-item__i'></i>
                <span class="register-item__span">Registrate para vender recargas</span>
            </div>

            <!-- register item -->
            <div class="register-item">
                <i class='bx bx-paper-plane register-item__i '></i>
                <span class="register-item__span">Espera nuestro correo con toda la información para vender recargas</span>
            </div>

            <!-- register item -->
            <div class="register-item">
                <i class='bx bx-wallet register-item__i'></i>
                <span class="register-item__span">Realiza un deposito minimo de $300</span>
            </div>

            <!-- register item -->
            <div class="register-item">
                <i class='bx bxs-offer register-item__i '></i>
                <span class="register-item__span">Empieza a generar ganacias vendiendo recargas</span>
            </div>


        </div>

        <!-- register info -->
        <div class="register__info wow animate__animated animate__fadeInUp">
            <h3 class="register__h3 sub-heading">¿Como me registro para vender recargas?</h3>

            <h2 class="register__h2 heading">Registrate con <span class="RecargakiColor">con Recargaki/Planetaemx</span> para vender tiempo aire, tu registro es totalmente gratuito</h2>
            <p class="register__p text">Empieza a vender recargas con un depósito mínimo de $300, y recarga nuevamente cuando quieras y puedas, sin penalizaciones, mensualidades ni pago forzosos.</p>

            <div class="register__btns">
                <a class="comision-content__a desktop__btn btn__recargaki" routerLink="/registro">
                    Registrarme ahora
                    <i class='bx bx-right-arrow-alt btn-2__i icon__i--arrow icon__i--recargaki'></i> 
                </a>
            </div>
        </div>
    </div>
</div>