@import "_mixin";

.banner-plataformas__container {
  grid-template-columns: 1fr;
}

.cuentas-planetaemx {
  @include responsive(1030px) {
    &__thead {
      display: none;
    }

    &__tr,
    &__td {
      display: block;
      width: 100%;
    }

    &__td {
      text-align: right;
      padding-left: 50%;
      position: relative;

      &:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;

        font-weight: bold;
      }
    }
  }

  @include responsive(570px) {
    &__td {
      text-align: center;
      padding: 1px;

      &:before {
        content: attr(data-label);
        position: relative;
        width: 100%;
        display: block;
        text-align: center;
        padding: 5px;
      }
    }
  }
}

//* ============ SECTION METODOS PLANETAEMX ============
.metodos-planetaemx {
  grid-template-columns: 1fr;

  &__h2 {
    text-align: center;
  }
}

//* ============ SECTION REGISTER PLANETAEMX ============
.register-planetaemx {
  &__left {
    @include flexible(flex, column, wrap, center, flex-start);
    gap: 1em;
  }
}
