@import "mixin";

.cuentas {
    &__container {
        grid-template-columns: 1fr;
    }

    &__h2, &__h3{
        text-align: center;
    }

    &__strong {
        font-weight: bold;
    }
    &__table {
        border-collapse: collapse;
        box-shadow: var(--shadow);
        text-align: center;
        width: 100%;
        padding: 20px 15px;

    }


    &__thead {
        background-color: var(--c-light-primary);
    }

    &__th, &__td {
        padding: 1em 2em;
    }

    &__th {
        color: var(--c-secondary);
    }

    &__tr--body:nth-child(even){
        background-color: var(--c-card);
    }
    
}

/* ============ SECTION POLITICAS  ============  */
.politicas {

    &__container {
        grid-template-columns: 1fr;
    }

    &-title {
        &__h2 {
            text-align: center;
        }

        &__p{
            margin-bottom: 1em;
        }
    }

    &__li {
        margin-bottom: 1.8em;
        padding: 10px 0 10px 0px;
        counter-increment: mynumbers;
        position: relative;
    
        &:before {
            content: counter(mynumbers);
            font-size: 2em;
            display: inline-block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            text-align: center;
            background-color: var(--c-light-primary);
            color: var(--c-secondary);
            margin-right: 8px;
        }
    }
}

/* ============ SECTION HORARIO  ============  */

.aplicacion {
    background-color: var(--c-card);
    &__container {
        grid-template-columns: 1fr;
    }

    &__h2  {
        text-align: center
    }

    &-content {

        &__p {
            text-align: center;
        }
        
        &__p--1 {
            margin-bottom: 1em;
            text-align: left;
        }

    }

    &-box {
        @include grid(2, 1em);

        @include responsive(950px) {
            grid-template-columns: 1fr;
        }
    }

    &-aviso {
        &__h3 {
            text-align: center;
            margin-bottom: 0.5em;
            color: #fc3720;
        }

        &__image {
            position: relative;
            margin: 1em 0;
        }

        &__img{
            object-fit: contain;
            max-width: 450px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
    }
}