<!-- ============= BANNER HOME ============= -->
<div class="section wrapper">

    <span class="mat-headline-3 wrapper__shape wrapper__shape-1">RECARGAS</span>
    <span class="mat-headline-3 wrapper__shape wrapper__shape-2">SERVICIOS</span>

    <div class="container wrapper-container">

        <div class="wrapper-titular">

            <span class="wrapper-titular__span headline-5">con Recarga5g.com
                <img src="assets/img/ganancias-recargas.png" class="wrapper-titular__img"
                    alt="ganancias por la venta de recargas">
            </span>
            <h1 class="wrapper-titular__h1 bigTitle">
                Obten una comisión hasta un 7.5% fijo.
            </h1>

            <span #textDinamic class="wrapper-titular__dinamic"></span>
            <p class="wrapper-titular__p text"> No pierdas la oportunidad de aumentar tus ingresos y brindar un servicio
                adicional a tus clientes. ¡Regístrate en nuestro sitio web y comienza a vender recargas electrónicas hoy
                mismo!</p>

            <div class="wrapper-action flex align-center justify-center">
                <a class="wrapper-action__button radius-20" mat-raised-button color="primary">Registrarme
                    ahora</a>
                <a class="wrapper-action__a mat-button my-button" href="https://www.google.com/"
                    target="_blank">Consultar productos
                    <mat-icon class="wrapper-action__icon" color="accent" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="outbound"></mat-icon>
                </a>

            </div>
        </div>

        <div class="wrapper-image wow animate__animated animate__fadeInUp">
            <img src="assets/img/mockups-mobile-and-desktop.png"
                alt="Venta de recargas para todo tipo de dispositivo celular, tablet, pc">
        </div>

    </div>
</div>

<!-- ============= SECCIÓN CAROUSEL PRODCUCTOS ============= -->
<app-carousel></app-carousel>

<!-- ============= SECCIÓN BENEFICIOS ============= -->
<div class="beneficios">
    <div class="container beneficios__container mb-1-5">
        <div class="beneficios-left">
            <img src="/assets/img/negocio_recargas.png" alt="" class="beneficios-left__img">
        </div>
        <div class="beneficios-right">
            <div class="beneficios-titles">
                <h3 class="beneficios-titles__h3 headline-4 head-4">Recarga Telcel</h3>
                <p class="beneficios-titles__p headline-3">
                    Vende <strong class="">Recarga Telcel</strong> desde tu negocio, este y muchas
                    compañias mas!!
                </p>

            </div>

            <p class="beneficios-right__p body-1">
                Elije la mejor manera para que vendas recargas a travez de tu computadora o laptop ingresando al
                portal de ventas de recargas electrónicas desde tu navegador de preferencia,por mensaje SMS gratuito
                o descargando la aplicación
                desde la tienda oficial.
            </p>

            <div class="beneficios-list">

                <ul class="beneficios-list__ul">
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Mayor flujo de clientes</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Comisiones ajustadas a tu negocio</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Variedad de compañias de recargas y servicios</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Haz crecer tu negocio</span>
                    </li>

                </ul>

                <ul class="beneficios-list__ul beneficios-list__ul--2">
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Estabilidad y fiabilidad</span>
                    </li>

                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Soporte personalizado</span>
                    </li>
                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Diferenciador a tu negocio</span>
                    </li>

                    <li class="beneficios-list__li">
                        <mat-icon class="mat-18 beneficios-list__icon">check_circle</mat-icon>
                        <span class="beneficios-list__span body-2">Adatado para cualquier tipo de negocio</span>
                    </li>
                </ul>
            </div>

            <a class="radius-20" mat-raised-button color="primary">Registrarme
                ahora</a>
        </div>
    </div>
</div>

<!-- ============= SECCIÓN RAZONES ============= -->
<div class="razones">
    <div class="razones__container container mb-1-5">
        <div class="razones-titles">
            <span class="razones-titles__span headline-4 head-4">¿Porque vender recargas Bait, Movistar</span>
            <h3 class="razones-titles__h3 headline-3">Vende recargas electrónicas de todas las compañías de telefonía
                celular en México</h3>
        </div>

        <div class="razones-list">
            <ul class="razones-list__ul">
                <li class="razones-list__li" *ngFor="let razon of item">
                    <mat-icon class="mat-18 razones-list__icon">{{razon.nameIcon}}</mat-icon>
                    <h4 class="razones-list__h4 headline-5">{{razon.title}}</h4>
                    <p class="razones-list__p body-2">{{razon.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ============= SECCIÓN APP RECARGAS ============= -->
<!-- <div class="appRecargas">
    <div class="appRecargas__container container">
        <div class="appRecargas-left">
            <div class="appRecargas-titles">
                <span class="appRecargas-title__span headline-4 head-4">App para la venta de recargas Electrónicas</span>
                <h3 class="appRecargas-titles__h3 headline-3">Descarga la app para vender recargas</h3>
            </div>
                <div class="appRecargas-list">
                    <ul class="appRecargas-list__ul">
                        <li class="appRecargas-list__li">
                            <img src="" alt="" class="appRecargas-list__img">
                            <h4 class="appRecargas-list__h4">item</h4>
                            <p class="appRecargas-list__p body-1">lorem*9</p>
                        </li>
                        <li class="appRecargas-list__li">
                            <img src="" alt="" class="appRecargas-list__img">
                            <h4 class="appRecargas-list__h4">item</h4>
                            <p class="appRecargas-list__p body-1">lorem*9</p>
                        </li>
                        <li class="appRecargas-list__li">
                            <img src="" alt="" class="appRecargas-list__img">
                            <h4 class="appRecargas-list__h4">item</h4>
                            <p class="appRecargas-list__p body-1">lorem*9</p>
                        </li>
                    </ul>
                </div>
            
        </div>

        <div class="appRecargas-right">
            
        </div>
    </div>
</div> -->


<!-- ============= SECTION PRODUCTOS ============= -->
<app-productos></app-productos>

<!-- ============= SECCION  NOTIFICACION DEPOSITOS ============= -->
<div class="inversion">
    <div class="inversion__container container">
        <div class="inversion-titles mb-1-5">
            <h2 class="inversion-titles__h2 headline-2">Montos para vender recargas</h2>
        </div>

        <div class="inversion-box">
            <div class="inversion-subtitle">
                <h3 class="inversion-subtitle__h3 headline-3">Deposita un monto minimo de $300 y empieza a vender
                    recargas </h3>
                <p class="inversion-subtitle__p body-1 mb-1">
                    puedes invertir desde $300 pesos. A través de nuestro servicio de atención a clientes te explicamos
                    como vender recargas Telcel y de todas las compañías en tu negocio y además ganar una comisión.
                    Vender recargas es uno de los mejores negocios para ti. Muchos negocios que desean vender saldo,
                </p>

                <ul class="inversion__ul">
                    <li class="inversion__li">
                        <mat-icon class="mat-18 inversion__icon">verified</mat-icon>
                        <p class="inversion__p body-1">Sin pagos forzosos ni anualidaes</p>
                    </li>
                    <li class="inversion__p inversion__li">
                        <mat-icon class="mat-18 inversion__icon">verified</mat-icon>
                        <p class="inversion__p body-1">Deposita como y cuando quieras</p>
                    </li>
                    <li class="inversion__p inversion__li">
                        <mat-icon class="mat-18 inversion__icon">verified</mat-icon>
                        <p class="inversion__p body-1">Aplicación de depositos automatico</p>
                    </li>
                </ul>
            </div>

            <div class="inversion-right">
                <img src="/assets/img/inversion-recargas.png" alt="" class="inversion-right__img">
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION NEGOCIO ============= -->
<div class="negocio">

    <div
        class="negocio__container container mtop-5 mbottom-3 wow animate__animated animate__fadeInUp grid grid-col-2 grid-mobile">

        <div class="negocios-left">

            <div class="negocio-titles">
                <span class="negocios-titles__span headline-5 head-4">Venta de recargas para negocio</span>
                <h3 class="negocio__h2 headline-3">Venta de recargas para todo tipo de negocio</h3>
            </div>

            <p class="negocio-left__p body-1">Ofrece venta de recargas electrónicas para cualquier tipo de negocio:
                Tienda de
                conveniencia, Abarrotes, Ferreterías, Farmacia, Vinaterías, Cyber, cajas de ahorros, pequeñas, medianas
                y grandes negocios. Genera ganancias extras mientras obtienes
                un mayor flujo de clientes.
            </p>

            <p class="negocio-left__p body-1">Tu registro es totalmente gratuito, si tienes dudas acerca de como vender
                recargas o requieres mayor información contactos.</p>

            <a mat-raised-button color="primary" class="negocio-left__a" routerLink="/registro">
                Registrarme ahora!!
            </a>
        </div>

        <div class="negocio-right">
            <div *ngFor="let negocio of negocios" class="negocio-category">
                <img [src]="negocio.nameIcon" class="negocio-category__img" width="30" height="30" loading="lazy"
                    alt="venta de recargas para tu negocio">
                <h4 class="negocio-category__h4">{{negocio.typeNegocio}}</h4>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION METODOS DE VENTA ============= -->
<div class="metodos">
    <div class="metodos__container container">
        <div class="metodos-titles">
            <h2 class="metodos-titles__h2 headline-2">Como vender recargas Electrónicas</h2>
            <div class="metodos-items">

                <div class="metodos-item">
                    <div class="metodos-card">
                        <img src="assets/img/ventas-pc.png" alt="" class="metodos-card__img">
                        <h4 class="metodos-card__h4 headline-4">Vende de tu computadora</h4>
                        <p class="metodos-card__p body-2">Para empezar a vender recargas electrónicas desde tu
                            computadora, solo necesitas tener acceso a internet y registrarte en una plataforma de
                            recargas electrónicas. Una vez registrado, podrás ofrecer una amplia variedad de recargas
                            para diferentes operadoras y dispositivos electrónicos.</p>
                        <button class="metodos-card__button" mat-raised-button color="primary">Leer mas..</button>
                    </div>

                    <div class="metodos-modal">
                        <div class="metodos-modal__card">
                            <div class="metodos-modal-header">
                                <h5 class="metodos-modal-header__h5 headline-4">¿Como vender recarga desde una computadora?</h5>
                                <p class="metodos-modal-header__p body-1">Venta de recargas AT&T desde un equipo de  computo</p>
                            </div>

                            <div class="metodos-modal-body">
                                <ul class="metodos-modal-body__ul">
                                    <li class="metodos-modal-body__li">
                                        <mat-icon aria-hidden="false" aria-label="Example desktop windows"
                                            fontIcon="desktop_windows"></mat-icon>
                                        <p class="metodos-modal-body__p body-2">Equipo de computo Desktop o laptop</p>
                                    </li>

                                    <li class="metodos-modal-body__li">
                                        <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                            fontIcon="wifi"></mat-icon>
                                        <p class="metodos-modal-body__p body-2">Conexión a internet</p>
                                    </li>

                                    <li class="metodos-modal-body__li">
                                        <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                            fontIcon="wifi"></mat-icon>
                                        <p class="metodos-modal-body__p body-2">Navegador de su preferencia</p>
                                    </li>

                                    <li class="metodos-modal-body__li">
                                        <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                            fontIcon="wifi"></mat-icon>
                                        <p class="metodos-modal-body__p body-2">Plataforma</p>
                                    </li>

                                    <li class="metodos-modal-body__li">
                                        <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                            fontIcon="wifi"></mat-icon>
                                        <p class="metodos-modal-body__p body-2">Datos de acceso</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="metodos-modal-footer">
                                <button class="metodos-motdal-footer__btn">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="metodos-item">
                    <div class="metodos-card">
                        <img src="assets/img/ventas-phone.svg" alt="" class="metodos-item__img">
                        <h4 class="metodos-item__h4 headline-4">Smartphone</h4>
                        <p class="metodos-item__p body-2">Con solo unos pocos toques en tu pantalla, podrás ofrecer una
                            amplia variedad de recargas para diferentes operadoras y dispositivos electrónicos. Además,
                            la aplicación de recargas electrónicas se encargará del procesamiento de la transacción y de
                            la entrega de la recarga al cliente, lo que te permitirá ofrecer un servicio rápido y
                            eficiente desde cualquier lugar.</p>
                        <button class="metodos-item__button" mat-raised-button color="primary">Leer mas..</button>
                    </div>

                    <!-- <div class="metodos-modal">
                        <div class="metodos-modal-header">
                            <h5 class="metodos-modal-header__h5 headline-4">¿Como vender recarga desde un Smarthpone
                            </h5>
                            <p class="metodos-modal-header__p body-1">Venta de recargas AT&T desde un equipo de computo
                            </p>
                        </div>

                        <div class="metodos-modal-body">
                            <ul class="metodos-modal-body__ul">
                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example desktop windows"
                                        fontIcon="desktop_windows"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Equipo de computo Desktop o laptop</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Conexión a internet</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Navegador de su preferencia</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Plataforma</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Datos de acceso</p>
                                </li>
                            </ul>

                        </div>

                        <div class="metodos-modal-footer">
                            <button class="metodos-motdal-footer__btn">Aceptar</button>
                        </div>
                    </div> -->

                </div>

                <div class="metodos-item">
                    <div class="metodos-card">
                        <img src="assets/img/ventas-sms.png" alt="" class="metodos-item__img">
                        <h4 class="metodos-item__h4 headline-4">SMS</h4>
                        <p class="metodos-item__p body-2">Vender recargas electrónicas enviando un simple SMS es una
                            opción ideal para aquellos que no tienen acceso a una computadora o teléfono inteligente, y
                            para aquellos que buscan una manera fácil y rápida de generar ingresos adicionales para su
                            negocio.</p>
                        <button class="metodos-item__button" mat-raised-button color="primary">Leer mas..</button>
                    </div>

                    <!-- <div class="metodos-modal">
                        <div class="metodos-modal-header">
                            <h5 class="metodos-modal-header__h5 headline-4">¿Como vender recarga desde una computadora?
                            </h5>
                            <p class="metodos-modal-header__p body-1">Venta de recargas AT&T desde un equipo de computo
                            </p>
                        </div>

                        <div class="metodos-modal-body">
                            <ul class="metodos-modal-body__ul">
                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example desktop windows"
                                        fontIcon="desktop_windows"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Equipo de computo Desktop o laptop</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Conexión a internet</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Navegador de su preferencia</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Plataforma</p>
                                </li>

                                <li class="metodos-modal-body__li">
                                    <mat-icon aria-hidden="false" aria-label="Example icon wifi"
                                        fontIcon="wifi"></mat-icon>
                                    <p class="metodos-modal-body__p body-2">Datos de acceso</p>
                                </li>
                            </ul>

                        </div>

                        <div class="metodos-modal-footer">
                            <button class="metodos-motdal-footer__btn">Aceptar</button>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION DOWLOAND PLATAFORMAS ============= -->
<div class="download mtop-5 mbottom-3">

    <div class="download-plataformas__container container">

        <h4 class="title download-plataformas__h4">Descarga la App para vender recargas electrónicas en tu dispositivo
            movil</h4>

        <p class="text download-plataformas__p">Descarga la desde la tienda oficial de tus aplicaciónes. y empieza a
            realizar recargas electrónicas a cualquier compañia de telefonia celular disponible en México</p>

        <div class="dowload-apps">


            <div class="download-plataformas__type">

                <h5 class="download-plataformas__h5">Pagaqui</h5>
                <a href="https://play.google.com/store/apps/details?id=pagaqui.apppagaqui&hl=e"
                    class="download-plataformas__a" aria-label="Pagaqui" target="_blank" rel="noopener">
                    <picture class="download-plataformas__picture">
                        <source type="image/webp"
                            srcset="https://ik.imagekit.io/taerecargas/Recargas/google-play_P7Bviv3jcA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667237770737">
                        <source type="image/png" srcset="/assets/img/google-play.png">
                        <img src="/assets/img/google-play.png" class="download-plataformas__img" loading="lazy"
                            width="250" height="96" alt="Descarga pagaqui para tu celular">
                    </picture>
                </a>
            </div>

            <div class="download-plataformas__type">

                <h5 class="download-plataformas__h5">Recargaki/Planetaemx</h5>
                <a href="https://play.google.com/store/apps/details?id=com.techoblige.recargaki&hl=es"
                    class="download-plataformas__a" aria-label="Planetaemx" target="_blank" rel="noopener">
                    <picture class="download-plataformas__picture">
                        <source type="image/webp"
                            srcset="https://ik.imagekit.io/taerecargas/Recargas/google-play_P7Bviv3jcA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667237770737">
                        <source type="image/png" srcset="/assets/img/google-play.png">
                        <img src="/assets/img/google-play.png" class="download-plataformas__img" loading="lazy"
                            width="250" height="96" alt="Descarga Recargakipara tu celular">
                    </picture>
                </a>
            </div>
        </div>

    </div>

</div>

<!-- ============= SECCION ABOUT ============= -->
<div class="about mtop-5 mbottom-3">

    <span class="about__shape about__shape--1"></span>
    <span class="about__shape about__shape--2"></span>

    <div class="about__title">
        <h2 class="about__h2 title">Quien es Recarga5g.com?</h2>
    </div>
    <div
        class="about__container container grid grid-col-2 grid-mobile justify-center align-center wow animate__animated animate__fadeInUp">
        <div class="about-c">
            <h3 class="subtitle">los años nos respaldan como los mejores del mercado en la venta de tiempo aire</h3>
            <div class="about__content">
                <p class="about__p text">
                    <strong class="about__strong">Recarga5g.com</strong> Ofrece la <strong class="about__strong">venta
                        de tiempo aire celulares de las principales compañías de México, pago de servicios y pines
                        electrónicos</strong> . Usted puede vender
                    tiempo aire desde su tienda, farmacia, ciber, casa, etc. únicamente necesita tener un dispositivo
                    con acceso a Internet (pagina web) o un celular para la venta vía mensaje de texto. No esperes mas y
                    contrata nuestros servicios e incrementa
                    tus ventas considerablemente con esta gran oportunidad de atraer nuevos clientes a tu negocio.
                </p>
            </div>
        </div>

        <div class="about-logo">
            <picture class="about-logo__picture">
                <source type="image/webp"
                    srcset="https://ik.imagekit.io/taerecargas/Recargas/logos_companies_1VB1CZDVMJ.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1658515309682">
                <source type="image/png" srcset="assets/img/logos_companies.png">
                <img src="/assets/img/logos_companies.png" class="about-logo__img" loading="lazy" width="430"
                    height="422" alt="Venta de tiempo aire, pago de servicios y pines electrónicos con Recarga5g.com">
            </picture>
        </div>
    </div>
</div>

<!-- ============= SECCION HISTORY ============= -->
<div class="history mtop-5 mbottom-3">

    <span class="history__icon">

    </span>
    <div class="history__container container grid grid-col-2 grid-mobile wow animate__animated animate__fadeInUp">

        <div class="history__content flex align-center justify-center">
            <h3 class="history__h3 titular">Mas de 20 años ofreciendo nuestros servicios venta de tiempo, Telcel,
                Movistar</h3>

            <p class="history__p text">Nuestro equipo de trabajo tiene por objectivo brindar a todos nuestros clientes
                la mejor atención, en el plazo menor posible. es por ello que estamos en constante innovación para
                seguir brindandole la mejor experiencia.</p>

            <h4 class="history__h5">Recargas Electrónicas</h4>
        </div>

        <div class="history__image">
            <picture class="history__picture">
                <source type="image/webp"
                    srcset="https://ik.imagekit.io/taerecargas/Recargas/banner__historia_dzb0Tp2sK.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668197341786">
                <source type="image/png" srcset="/assets/img/man.png">
                <img src="/assets/img/man.png" class="history__img lazyload" loading="lazy" width="500" height="500"
                    alt="Mas de 20 anos ofreciendo lo mejor en el todo el territorio mexicano">
            </picture>
        </div>
    </div>
</div>

<!-- ============= SECCION RECORDS ============= -->
<div class="records">
    <div
        class="records__container container grid grid-col-2 grid-mobile justify-center align-center wow animate__animated animate__fadeInUp">

        <div class="records-title">
            <h3 class="records-title__h3 titular">Lider nacional en la venta de tiempo aire</h3>

            <p class="records-title__p text"> <strong>Recarga5g.com</strong> por nuestra trayectoria y el respaldo de
                mas de 40,000 clientes felices en toda el territorio mexicano nos catalogan como la plataforma mas
                estable y segura para la venta <strong>recargas electrónicas Telcel, movistar & todas las compañia
                    celular </strong>
            </p>
        </div>

        <div class="records-items grid align-center justify-center">

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-user records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"> <span class="records-item__span counter" data-number="4000">0</span> +
                    </p>
                    <p class="records-item__p">Clientes Felices</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-buildings records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"> <span class="records-item__span counter" data-number="20">0</span> +</p>
                    <p class="records-item__p">Años en el mercado</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-network-chart records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"><span class="records-item__span counter" data-number="1800">0</span> +
                    </p>
                    <p class="records-item__p">Puntos de venta</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-joystick records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"> <span class="records-item__span counter" data-number="100">0</span> +
                    </p>
                    <p class="records-item__p">compañia de servicios</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION REGISTRO ============= -->
<div class="registro">
    <div
        class="container registro__container grid grid-col-2 grid-mobile justify-between align-center wow animate__animated animate__fadeInDown">
        <div class="registro-content">
            <h3 class="registro-content__h3 subtitle">¿CÓMO ME REGISTRO PARA VENDER RECARGAS?</h3>
            <P class="registro-content__p text">Tu registro es totalmente gratuito</P>

            <div class="registro-items">
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bxs-edit-alt registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Registrate</span>
                    <p class="registro-item__p">Registrate completando el formulario con los datos requeridos en la
                        sección inscripción.</p>
                </div>
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bxl-telegram registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Espera nuestro correo</span>
                    <p class="registro-item__p">Con los datos que proporciones, te enviaremos tus datos de acceso a la
                        plataforma.</p>
                </div>
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bx-log-in registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Ingresa A La Plataforma</span>
                    <p class="registro-item__p">Ingresa a tu plaforma con tu numero de usuario y contraseña, indicados
                        en el correo.</p>
                </div>
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bxs-discount registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Difruta De Los Beneficios</span>
                    <p class="registro-item__p">Obten una comisión por cada venta de recargas, pago de servicios y
                        tarjetas electronicas.</p>
                </div>
            </div>
            <div class="registro-btn flex align-center justify-center">
                <a routerLink="/registro" class="mobile__btn btn-2 btn__default">
                    Registrarme ahora!!
                    <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--default'></i>
                </a>
            </div>
        </div>

        <div class="registro-image">
            <picture class="registro-image__picture">
                <img src="/assets/img/svg/register.svg" class="registro-image__img" loading="lazy" width="450"
                    height="459" alt="Tu registro es totalmente gratis empieza a vender recargas ahora mismo">
            </picture>
        </div>
    </div>
</div>