/* ============ SECCION HOME BANNER ============  */
@import "_mixin";

.wrapper {
    &__shape {
        position: absolute;
        opacity: 0.1;
        font-weight: 800;
        color: #a2a2a2;
        &-1 {
            transform: rotate(90deg);
            left: -100px;
            top: 200px;
        }

        &-2 {
            transform: rotate(-90deg);
            right: -100px;
            bottom: 100px;
        }
    }

    position: relative;
    &-container {
        position: relative;
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
        place-items: center;

        @include responsive(950px) {
            grid-template-columns: 1fr;
        }
    }

    &-titular {
        &__span {
            color: var(--c-primary);
            font-weight: 600;
            background-color: var(--c-light-primary);
            padding: 0.553em 0.7em;
            border-radius: 24px;
            font-size: var(--text);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            column-gap: 0.55em;
        }

        &__img {
            width: 34px;
            height: 34px;
        }
        &__h1 {
            text-transform: uppercase;
            font-family: "poppinsBold";
            letter-spacing: -1px;
            font-size: 3rem;
            line-height: 1.22em;
            margin-top: 0.2em;
        }

        &__titular__dinamic--dinamic {
            font-size: 2.2rem;
        }

        &__p {
            font-size: 1.4rem;
            margin: 0.5em 0;
        }
    }
}

.wrapper-action {
    @include flexible(flex, row, wrap, space-evenly, center);
}

//* ============ SECCION BENEFICIOS ============

.beneficios {
    background-color: var(--c-card);

    &-list {
        // background-color: lightgreen;
        margin-top: 1em;

        @include grid(2, 0.5em);

        @include responsive(568px) {
            grid-template-columns: 1fr;
        }

        &__ul {
            // background-color: lightseagreen;
            width: 100%;
        }

        &__li {
            // background-color: lightgreen;
            @include flexible(flex, row, nowrap, start, center);
            gap: 0.3em;
            padding-bottom: 10px;
        }

        &__icon {
            color: var(--c-primary);
        }

        &__span {
            padding-left: 5px;
        }
    }
}

//* ============ SECCION RAZONES ============
.razones__container {
    grid-template-columns: 1fr;
}

.razones-list {
    &__ul {
        // background-color: lightblue;
        @include grid(3, 1.5em);

        @include responsive(950px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive(568px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__li {
        // background-color: lemonchiffon;
        background-color: var(--c-card);
        border-radius: 10px;
        padding: 1.8em;
        box-shadow: 0 10px 10px hsl(0deg 0% 0% / 5%);
    }

    &__h4 {
        margin-bottom: 10px;
    }

    &__icon {
        // background-color: lavender;
        display: block;
        margin: 12px auto;
        color: var(--c-primary);
        width: 48px;
        height: 48px;
        font-size: 40px;
    }
}

//* ============ SECTION INVERSION ============
.inversion {
    background-color: var(--c-card);

    &__container {
        grid-template-columns: 1fr;
        margin-top: 2em;
    }

    &-titles__h2 {
        text-align: center;
    }

    &-box {
        @include grid(2, 1fr);

        @include responsive(950px) {
            grid-template-columns: 1fr;
        }
    }

    &-subtitle {
        &__h3 {
            margin-bottom: 0.3em;
        }
        &__p {
            margin-bottom: 0.9em;
        }
    }

    &__li {
        @include flexible(flex, row, nowrap, flex-start, center);
        gap: 1em;
        padding-bottom: 1em;
    }

    &__icon {
        color: var(--c-primary);
    }

    &-right__img {
        height: 550px;
        object-fit: contain;
    }
}

//* ============ SECCION NEGOCIO  ============

.neogocio__container {
    gap: 4em;
}

.negocio__h3 {
    font-weight: bold;
}

.negocio__p {
    margin: 1em 0 3em;
}

.negocio-right {
    @include grid(3, 1fr);
    gap: 1.2em;

    @include responsive(958px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(568px) {
        grid-template-columns: 1fr;
    }
}

.negocio-category {
    background-color: var(--c-card);
    padding: 2em;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.negocio-category__h4 {
    font-weight: bold;
    padding: 0.25em 0;
}

.negocio-category__img {
    width: 40px;
    height: 40px;
}

//* ============ SECTION DOWNLOAD PLATAFORMAS============

// .app-recargas__container {
//     @include grid(2, 1em);
// }

.app-recargas-img {
    margin-left: auto;
    margin-right: auto;
}

.app-recargas-phone {
    width: 300px;
    height: 600px;
    margin: 0 15px 20px 15px;
    border: 6px solid #37384e;
    border-radius: 36px;
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        position: absolute;
        left: -35px;
        bottom: -10px;
        width: 380px;
        height: 12px;
        border-radius: 50%;
        background-color: #000;
        filter: blur(13px);
        opacity: .55;
        z-index: -1;
        content: "";
    }

    &::after {
        position: absolute;
        content: "";
        background-color: #37384e;
        top: 0px;
        left: 50%;
        width: 150px;
        height: 20px;
        margin-left: -75px;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
       
    }


}

.app-recargas-slide-content {
    position: relative;
    z-index: -1;
}

.app-recargas-slide__img{
    height: 590px;
}


// this prevents the usual sliding transition effect from being visible:
.app-recargas-slides {
    transition: none !important;
  }
  
  // and this creates the fade in/out effect of the slides:
  .app-recargas-slide {
    opacity: 0;
    transition: all 700ms ease-in-out;
  }
  li.glide__slide--active {
    opacity: 1;
  }
/* ============ SECCION ABOUT  ============  */

.about {
    position: relative;
    overflow: hidden;
}

.about__p {
    line-height: 2;
    text-align: justify;
}

.about__strong {
    font-weight: var(--font-600);
}

.about__shape {
    position: absolute;
    background-color: var(--color-light-1);
    border-radius: 50%;
    z-index: -1;
}

.about__shape--1 {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.about__shape--2 {
    top: -125px;
    right: -75px;
    width: 400px;
    height: 400px;
}

.about-logo {
    position: relative;
}

.icons__container {
    position: absolute;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 73px;
    left: 77px;
}

.about__img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 30px; */
}

.about-logo__img {
    max-width: 430px;
    margin: auto;
    object-fit: contain;
}

/* ============ SECCION HISTORY ============  */

.history {
    background-color: var(--back-history);
    position: relative;
}

.history__icon {
    background-image: url("/assets/img/icon-expression.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60px;
    left: 50px;
}

.history__content {
    flex-direction: column;
}

.history__h3 {
    /* font-size: 2.5rem; */
    font-weight: var(--font-600);
    line-height: 1.3;
    margin: 1.5rem 0;
}

.history__h5 {
    /* font-size: 1.5rem; */
    font-weight: var(--font-600);
}

.history__p {
    line-height: 2;
}

.history__img {
    height: 500px;
    width: 500px;
}

/* ============ RESPONSIVE RECORDS  ============  */

.records {
    margin: 2rem 0;
}

.records-title__h3 {
    line-height: 1.3;
    /* font-size: 35px; */
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-text);
}

.records-items {
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 150px;
    grid-gap: 2rem;
}

.records-item {
    background-color: var(--back-record);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 0.55rem 0;
}

.records-item__title {
    text-align: center;
}

.records-item__icon {
    margin: 0 0.55rem;
}

.records-item__i {
    font-size: 3rem;
    color: var(--color-text);
}

.records-item__span {
    font-weight: var(--font-600);
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
    color: var(--color-text);
}

.records-item__p {
    font-size: 1.2rem;
}

/* ============ SECCION STEPS ============  */

.steps__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.step-item__content {
    text-align: center;
    padding: 1.875em;
    position: relative;
    z-index: 1;
}

.step-item__line {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 50%;
    top: 60px;
    border: 1px dashed var(--color-light-3);
    z-index: -1;
}

.step-item__number {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background-color: var(--color-secondary);
    /* font-size: 1.5rem; */
    color: #fff;
    font-weight: var(--font-500);
}

.steps-item__h3 {
    margin: 1.25rem 0;
    /* font-size: 1.3rem; */
    font-weight: var(--font-500);
    text-transform: capitalize;
}

.steps-item__p {
    /* font-size: 1rem; */
    font-weight: 300;
    text-align: justify;
}
