<!-- ============= BANNER HOME ============= -->
<div class="section wrapper">
   
    <span class="mat-headline-3 wrapper__shape wrapper__shape-1">RECARGAS</span>
    <span class="mat-headline-3 wrapper__shape wrapper__shape-2">SERVICIOS</span>

    <div class="container wrapper-container">

        <div class="wrapper-titular">

            <span class="wrapper-titular__span headline-5">con Recarga5g.com</span>
            <h1 class="wrapper-titular__h1 bigTitle">
                Obten una comisión hasta un 7%. En la venta de tiempo aire & pago de servicios
            </h1>

            <span class="wrapper-titular__dinamic"></span>
            <p class="wrapper-titular__p"> No pierdas la oportunidad de aumentar tus ingresos y brindar un servicio adicional a tus clientes. ¡Regístrate en nuestro sitio web y comienza a vender recargas electrónicas hoy mismo!</p>

            <div class="wrapper-action flex align-center justify-center">
                <button class="wrapper-action__button radius-20" mat-raised-button color="accent">Registrarme ahora</button>
                <a class="wrapper-action__a my-button"  href="https://www.google.com/" target="_blank">Consultar productos
                    <mat-icon class="wrapper-action__icon" color="accent" aria-hidden="false" aria-label="Example home icon" fontIcon="outbound"></mat-icon>
                </a>

            </div>
        </div>

        <div class="wrapper-image wow animate__animated animate__fadeInUp">
            <img src="assets/img/mockups-mobile-and-desktop.png" alt="Venta de recargas para todo tipo de dispositivo celular, tablet, pc"> 
        </div>

    </div>
</div>

<!-- ============= BANNER GEOGRAPHY ============= -->
<div class="geography mtop-5 mbottom-3">
    <div class="geography__container container">
        <div class="geography-box flex align-center justify-center">
            <div class="geography-content">

                <div class="geograsphy-titular">
                    <h3 class="geography-titular title">¿Por que vender recargas electrónicas?</h3>
                </div>

                <div class="geography-description">
                    <p class="geography-content__p text">En México existen más de 105 millones de líneas celulares que realizan recargas electrónicas en promedio de $300 pesos al mes, y se adquiere en montos de $100 pesos, esto representa un mercado de más de 10 billones de pesos mensuales.
                        ¿Qué estás esperando para ofrecer recargas electrónicas en tu negocio? Vende Recargas Electrónicas. Los pequeños y medianos negocios requiere innovar y competir contra las grandes cadenas comerciales, ofreciendo una mayor cantidad
                        de productos que los clientes solicitan para poder mantenerse en el mercado, con más de 20 años con fuerte presencia en este negocio.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ============= BANNER SERVICIOS ============= -->
<div class="servicios">

    <div class="servicios__container container grid grid-col-2 justify-center align-center grid-mobile">


                <div class="servicios-banners">
                    <h2 class="servicios-banners__h2 title">Recargas Electrónicas</h2>
                    <p class="servicios-banners__p">Recarga a cualquier compañia </p>
                  
                    <picture>
                      <!-- <source  srcset="https://ik.imagekit.io/taerecargas/Recargas/banner_recargas_jBooZ-aPA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667235920565" type="img/webp"> -->
                      <source  srcset="https://ik.imagekit.io/taerecargas/Recargas/banner-recargas__responsive_pGJpY0wRA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668276612398" media="screen and (max-width:560px)" >
                      <img src="/assets/img/icon-companies/banner_recargas.png" alt="">
                    </picture>
                </div>

                

                    <!-- </picture>
                <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_recargas_jBooZ-aPA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667235920565" />
                <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-recargas__responsive_pGJpY0wRA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668276612398" />  -->

                <!-- <picture class="servicios__picture servicios__picture--desktop">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/banner_recargas_jBooZ-aPA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667235920565" media="(max-width: 450px)">
                        <source type="image/png" srcset="/assets/img/icon-companies/banner_recargas.png">
                        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner_recargas_jBooZ-aPA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667235920565" class="servicios-img__img lazyload" loading="lazy" width="450" height="530" alt="Vende recargas a cualquier compañia Telcel, Movistar, Unefon, Bait y mucho mas">
                    </picture> -->

              <!-- <picture class="servicios__picture servicios__picture--mobile">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/banner-recargas__responsive_pGJpY0wRA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668276612398" media="(max-width: 450px)">
                        <source type="image/png" srcset="/assets/img/icon-companies/banner-recargas__responsive.png">
                        <img src="/assets/img/icon-companies/banner-recargas__responsive.png" class="servicios-img__img" loading="lazy" width="450" height="530" alt="Vende recargas a cualquier compañia Telcel, Movistar, Unefon, Bait y mucho mas">
                    </picture> -->
            

                <!-- <div class="swiper-slide servicios-slide">
                    <h2 class="servicios__h2 title">Pago de Servicios</h2>
                    <p class="servicios__p text"> +200 compañias de servicios </p>

                    <picture class="servicios__picture servicios__picture--desktop">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/banner_servicios_oeAnFG83m.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667236193802" media="(max-width: 450px)">
                        <source type="image/png" srcset="/assets/img/icon-companies/banner_servicios.png">
                        <img src="/assets/img/icon-companies/banner_servicios.png" class="servicios-img__img" loading="lazy" width="450" height="530" alt="mas de 200 compañias de servicios, paga todos los recibos de tus clientes">
                    </picture>

                    <picture class="servicios__picture servicios__picture--mobile">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/banner-servicios__responsive_vvR1I0mFt.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668276921795" media="(max-width: 450px)">
                        <source type="image/png" srcset="/assets/img/icon-companies/banner-servicios__responsive.png">
                        <img src="/assets/img/icon-companies/banner-servicios__responsive.png" class="servicios-img__img" loading="lazy" width="450" height="530" alt="mas de 200 compañias de servicios, paga todos los recibos de tus clientes">
                    </picture>

                   
                </div> -->

           
        
        <div class="servicios-content flex justify-center align-center">

             <img src="/assets/img/men.svg" class="servicios-content__img" loading="lazy" width="448" height="480" alt="afíliate a Recargas Electrónicas y obten de muchos beneficios">
        </div>


    </div>
</div>


<!-- ============= SECCION BENEFICIOS ============= -->
<div class="beneficios mtop-5 mbottom-3 wow animate__animated animate__fadeInUp">
    <div class="beneficios-titular">
        <h3 class="beneficios-titular__h3 title">Beneficios de vender Recargas en tu negocio</h3>
    </div>
    <div class="beneficios__container container grid grid-col-2 grid-mobile">

        <div class="beneficios-content">
            <h3 class="subtitle">¿Por qué afiliarte con nosotros?</h3>
            <div class="beneficios-items">

                <div class="beneficios-item">
                    <div class="beneficios-item-titular">
                        <i class='bx bx-badge-check beneficios-item__i'></i>
                        <h4 class="beneficios-item__h4">Estabilidad Y Fiabilidad</h4>
                    </div>
                    <p class="beneficios-item__p text">
                        Recargas Electrónicas cuenta con el respaldo de miles de clientes y más de 20 años ofreciendo nuestros mejores servicios en todo el territorio mexicano.
                    </p>
                </div>

                <div class="beneficios-item">
                    <div class="beneficios-item-titular">
                        <i class='bx bx-badge-check beneficios-item__i'></i>
                        <h4 class="beneficios-item__h4">Constante Innovación</h4>
                    </div>
                    <p class="beneficios-item__p text">
                        ¡¡Porque nos gusta escucharte!! estamos en constante innovación agregando más compañías de tiempo aire y pago de servicios.
                    </p>
                </div>

                <div class="beneficios-item">
                    <div class="beneficios-item-titular">
                        <i class='bx bx-badge-check beneficios-item__i'></i>
                        <h4 class="beneficios-item__h4">Diferentes Medios De Venta</h4>
                    </div>
                    <p class="beneficios-item__p text">
                        vende recargas y pago de servicios accediendo a tu plataforma desde tu computadora, descargando la App desde la tienda oficial. O bien desde tu teléfono celular vía SMS. ofrecemos la mejor opción que se adapta a tu negocio!.
                    </p>
                </div>

                <div class="beneficios-item">
                    <div class="beneficios-item-titular">
                        <i class='bx bx-badge-check beneficios-item__i'></i>
                        <h4 class="beneficios-item__h4">Servicio Nacional</h4>
                    </div>
                    <p class="beneficios-item__p text">
                        Nuestros servicios se ofertan en todo el territorio Nacional, para todo tipo de negocio
                    </p>
                </div>
            </div>
        </div>

        <div class="beneficios-img flex justify-center align-center">
            <picture class="beneficios-img__picture">
                <img src="/assets/img/svg/beneficios.svg" class="beneficios-img__img" loading="lazy" width="450" height="450" alt="Ventajas por afiliarte, servicio con menos intermitencia, comisión más alta del mercado">
            </picture>
        </div>

    </div>

</div>

<!-- ============= SECCION  NOTIFICACION DEPOSITOS ============= -->
<div class="notf mtop-5 mbottom-3">
    <div class="notf__container container">
        <h3 class="notf__h3 title"> Deposita un monto minimo de $300 y empieza a vender recargas a cualquier compañia</h3>

        <div class="notf-box grid grid-col-2 align-center justify-center grid-mobile">

            <div class="notf-titular">
                <h3 class="notf-titular__h3 subtitle">
                    Invierte poco y gana mucho vendiendo tiempo aire, Telcel, Unefon, Bait
                </h3>

                <p class="notf-titular__p text">
                    puedes invertir desde $300 pesos. A través de nuestro servicio de atención a clientes te explicamos como vender recargas Telcel y de todas las compañías en tu negocio y además ganar una comisión. Vender recargas es uno de los mejores negocios para ti.
                    Muchos negocios que desean vender saldo,
                </p>
            </div>

            <div class="notf-image">
                <picture class="notf-image__picture">
                    <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/cuentas__pagaqui_hDxV6PXIH.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667238974604" media="(max-width: 500px)">
                    <source type="image/png" srcset="assets/img/cuentas__pagaqui.png" media="(max-width: 500px)">
                    <img src="/assets/img/cuentas__pagaqui.png" width="500" height="500" class="notf-image__img" loading="lazy" alt="Notifícanos todos tus depósitos que realices en nuestra pagina web o vía WhatsApp">
                </picture>

            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION NEGOCIO ============= -->
<div class="negocio">

    <div class="negocio__container container mtop-5 mbottom-3 wow animate__animated animate__fadeInUp grid grid-col-2 grid-mobile">

        <div class="negocios__left">
            <h3 class="negocio__h3 subtitle">Venta de recargas para todo tipo de negocio</h3>

            <p class="negocio__p text">Ofrece venta de recargas electrónicas para cualquier tipo de negocio: Tienda de conveniencia, Abarrotes, Ferreterías, Farmacia, Vinaterías, Cyber, cajas de ahorros, pequeñas, medianas y grandes negocios. Genera ganancias extras mientras obtienes
                un mayor flujo de clientes.
            </p>

            <p class="negocio__p text">Tu registro es totalmente gratuito, si tienes dudas acerca de como vender recargas o requieres mayor información contactos.</p>

            <a routerLink="/registro" class="mobile__btn btn-2 btn__default">
                        Registrarme ahora!!
                         <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--default'></i> 
                     </a>
        </div>

        <div class="negocio__right">
            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-ferreteria__aVLz6Igp.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668116055716" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu ferreteria">
                </picture>
                <h4 class="negocio-category__h4">Ferreterias</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-panaderia_Z06sg_qNw.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668116649488" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu panaderia">
                </picture>
                <h4 class="negocio-category__h4">Panaderias</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-zapatos_2m4wlPR-1.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668116995047" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu zapateria">
                </picture>
                <h4 class="negocio-category__h4">Zapaterias</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-ciber_W-T0XZ1Og.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668117439508" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu ciber">
                </picture>
                <h4 class="negocio-category__h4">Cyber</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-farmacia_H9DRDauyJ.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668118073398" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu farmacia">
                </picture>
                <h4 class="negocio-category__h4">Farmacias</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-abarrotes_0nUEwSGJG.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668118716230" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu tienda de abarrotes">
                </picture>
                <h4 class="negocio-category__h4">Abarrotes </h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>


            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-papeleria_gTiJRDYoH.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668201291571" width="30" height="30" class="negocio-category__img" loading="lazy" alt="venta de recargas para tu papelería">
                </picture>
                <h4 class="negocio-category__h4">Papelerías </h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-vino_5Cre8o9mE.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668201544702" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu vinateria">
                </picture>
                <h4 class="negocio-category__h4">Vinaterías</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>

            <!-- Negocio category item -->
            <div class="negocio-category">
                <picture class="negocio-category__picture">
                    <img src="https://ik.imagekit.io/taerecargas/Recargas/icon-carrito_wQk_GhkVi.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668201782865" class="negocio-category__img" width="30" height="30" loading="lazy" alt="venta de recargas para tu tienda de conveniencia">
                </picture>
                <h4 class="negocio-category__h4">Tiendas de conveniencia</h4>
                <!-- <p class="negocio-category__p">Lorem ipsum dolor sit amet.</p> -->
            </div>
        </div>

    </div>
</div>


<div class="metodos mtop-5 mbottom-3">
    <div class="metodosOverlay"></div>
    <div class="metodosContainer container flex align-center">

        <div class="metodosTitular">

            <div class="metodosTitularContent">
                <h3 class="metodosTitularContent__h3">
                    ¿Comó puedo vender recargas electrónicas en mi negocio?
                </h3>
            </div>

            <div class="metodosTitularBtn">
                <button type="button" class="metodosTitularBtn__button btn btn1">Registrarme ahora!</button>
            </div>
        </div>

        <div class="metodosItems grid-mobile">

            <div class="metodosItem">
                <div class="metodosItemIcon">
                    <i class='bx bx-desktop metodosItemIcon__i'></i>
                </div>
                <h4 class="metodosItem__h4">Venta de recargas desde pc</h4>

                <div class="metodosItemContent">
                    <p class="metodosItemContent__p">
                        Vende Recargas Electrónicas, Paga servicios de tus clientes y tarjetas de regalo desde tu computadora accediendo a la plataforma desde tu navegador favorito.
                    </p>

                    <span class="metodosItemContent__span btn btn1">Leer mas --></span>
                </div>
            </div>

            <div class="metodosItem">
                <div class="metodosItemIcon">
                    <i class='bx bx-desktop metodosItemIcon__i'></i>
                </div>
                <h4 class="metodosItem__h4">Venta de recargas desde la App</h4>

                <div class="metodosItemContent">
                    <p class="metodosItemContent__p">
                        Descarga la App para tu dispositivo celular desde la tienda oficial PlayStore o AppStore y empieza a vender todo lo que tus clientes necesiten
                    </p>

                    <span class="metodosItemContent__span btn btn1">Leer mas --></span>
                </div>
            </div>

            <div class="metodosItem">
                <div class="metodosItemIcon">
                    <i class='bx bx-desktop metodosItemIcon__i'></i>
                </div>
                <h4 class="metodosItem__h4">Venta de recargas por SMS</h4>

                <div class="metodosItemContent">
                    <p class="metodosItemContent__p">
                        Vende desde tu telefono movil recargas a cualquier compañia enviando simplemente un SMS
                    </p>

                    <span class="metodosItemContent__span btn btn1">Leer mas --></span>
                </div>
            </div>

        </div>


    </div>
</div>
<!-- ============= SECCION DOWLOAND PLATAFORMAS ============= -->
<div class="download mtop-5 mbottom-3">

    <div class="download-plataformas__container container">

        <h4 class="title download-plataformas__h4">Descarga la App para vender recargas electrónicas en tu dispositivo movil</h4>

        <p class="text download-plataformas__p">Descarga la desde la tienda oficial de tus aplicaciónes. y empieza a realizar recargas electrónicas a cualquier compañia de telefonia celular disponible en México</p>

        <div class="dowload-apps">


            <div class="download-plataformas__type">

                <h5 class="download-plataformas__h5">Pagaqui</h5>
                <a href="https://play.google.com/store/apps/details?id=pagaqui.apppagaqui&hl=e" class="download-plataformas__a" aria-label="Pagaqui" target="_blank" rel="noopener">
                    <picture class="download-plataformas__picture">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/google-play_P7Bviv3jcA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667237770737">
                        <source type="image/png" srcset="/assets/img/google-play.png">
                        <img src="/assets/img/google-play.png" class="download-plataformas__img" loading="lazy" width="250" height="96" alt="Descarga pagaqui para tu celular">
                    </picture>
                </a>
            </div>

            <div class="download-plataformas__type">

                <h5 class="download-plataformas__h5">Recargaki/Planetaemx</h5>
                <a href="https://play.google.com/store/apps/details?id=com.techoblige.recargaki&hl=es" class="download-plataformas__a" aria-label="Planetaemx" target="_blank" rel="noopener">
                    <picture class="download-plataformas__picture">
                        <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/google-play_P7Bviv3jcA.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667237770737">
                        <source type="image/png" srcset="/assets/img/google-play.png">
                        <img src="/assets/img/google-play.png" class="download-plataformas__img" loading="lazy" width="250" height="96" alt="Descarga Recargakipara tu celular">
                    </picture>
                </a>
            </div>
        </div>

    </div>

</div>

<!-- ============= SECCION ABOUT ============= -->
<div class="about mtop-5 mbottom-3">

    <span class="about__shape about__shape--1"></span>
    <span class="about__shape about__shape--2"></span>

    <div class="about__title">
        <h2 class="about__h2 title">Quien es Recarga5g.com?</h2>
    </div>
    <div class="about__container container grid grid-col-2 grid-mobile justify-center align-center wow animate__animated animate__fadeInUp">
        <div class="about-c">
            <h3 class="subtitle">los años nos respaldan como los mejores del mercado en la venta de tiempo aire</h3>
            <div class="about__content">
                <p class="about__p text">
                    <strong class="about__strong">Recarga5g.com</strong> Ofrece la <strong class="about__strong">venta de tiempo aire celulares de las principales compañías de México, pago de servicios y pines electrónicos</strong> . Usted puede vender
                    tiempo aire desde su tienda, farmacia, ciber, casa, etc. únicamente necesita tener un dispositivo con acceso a Internet (pagina web) o un celular para la venta vía mensaje de texto. No esperes mas y contrata nuestros servicios e incrementa
                    tus ventas considerablemente con esta gran oportunidad de atraer nuevos clientes a tu negocio.
                </p>
            </div>
        </div>

        <div class="about-logo">
            <picture class="about-logo__picture">
                <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/logos_companies_1VB1CZDVMJ.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1658515309682">
                <source type="image/png" srcset="assets/img/logos_companies.png">
                <img src="/assets/img/logos_companies.png" class="about-logo__img" loading="lazy" width="430" height="422" alt="Venta de tiempo aire, pago de servicios y pines electrónicos con Recarga5g.com">
            </picture>
        </div>
    </div>
</div>

<!-- ============= SECCION HISTORY ============= -->
<div class="history mtop-5 mbottom-3">

    <span class="history__icon">
            
        </span>
    <div class="history__container container grid grid-col-2 grid-mobile wow animate__animated animate__fadeInUp">

        <div class="history__content flex align-center justify-center">
            <h3 class="history__h3 titular">Mas de 20 años ofreciendo nuestros servicios venta de tiempo, Telcel, Movistar</h3>

            <p class="history__p text">Nuestro equipo de trabajo tiene por objectivo brindar a todos nuestros clientes la mejor atención, en el plazo menor posible. es por ello que estamos en constante innovación para seguir brindandole la mejor experiencia.</p>

            <h4 class="history__h5">Recargas Electrónicas</h4>
        </div>

        <div class="history__image">
            <picture class="history__picture">
                <source type="image/webp" srcset="https://ik.imagekit.io/taerecargas/Recargas/banner__historia_dzb0Tp2sK.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1668197341786">
                <source type="image/png" srcset="/assets/img/man.png">
                <img src="/assets/img/man.png" class="history__img lazyload" loading="lazy" width="500" height="500" alt="Mas de 20 anos ofreciendo lo mejor en el todo el territorio mexicano">
            </picture>
        </div>
    </div>
</div>

<!-- ============= SECCION RECORDS ============= -->
<div class="records">
    <div class="records__container container grid grid-col-2 grid-mobile justify-center align-center wow animate__animated animate__fadeInUp">

        <div class="records-title">
            <h3 class="records-title__h3 titular">Lider nacional en la venta de tiempo aire</h3>

            <p class="records-title__p text"> <strong>Recarga5g.com</strong> por nuestra trayectoria y el respaldo de mas de 40,000 clientes felices en toda el territorio mexicano nos catalogan como la plataforma mas estable y segura para la venta <strong>recargas electrónicas Telcel, movistar & todas las compañia celular </strong>
            </p>
        </div>

        <div class="records-items grid align-center justify-center">

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-user records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"> <span class="records-item__span counter" data-number="4000">0</span> +</p>
                    <p class="records-item__p">Clientes Felices</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-buildings records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"> <span class="records-item__span counter" data-number="20">0</span> +</p>
                    <p class="records-item__p">Años en el mercado</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-network-chart records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"><span class="records-item__span counter" data-number="1800">0</span> +</p>
                    <p class="records-item__p">Puntos de venta</p>
                </div>
            </div>

            <div class="records-item flex align-center justify-center">

                <div class="records-item__icon">
                    <i class='bx bx-joystick records-item__i'></i>
                </div>

                <div class="records-item__title">
                    <p class="records-item__p"> <span class="records-item__span counter" data-number="100">0</span> +</p>
                    <p class="records-item__p">compañia de servicios</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION REGISTRO ============= -->
<div class="registro">
    <div class="container registro__container grid grid-col-2 grid-mobile justify-between align-center wow animate__animated animate__fadeInDown">
        <div class="registro-content">
            <h3 class="registro-content__h3 subtitle">¿CÓMO ME REGISTRO PARA VENDER RECARGAS?</h3>
            <P class="registro-content__p text">Tu registro es totalmente gratuito</P>

            <div class="registro-items">
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bxs-edit-alt registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Registrate</span>
                    <p class="registro-item__p">Registrate completando el formulario con los datos requeridos en la sección inscripción.</p>
                </div>
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bxl-telegram registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Espera nuestro correo</span>
                    <p class="registro-item__p">Con los datos que proporciones, te enviaremos tus datos de acceso a la plataforma.</p>
                </div>
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bx-log-in registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Ingresa A La Plataforma</span>
                    <p class="registro-item__p">Ingresa a tu plaforma con tu numero de usuario y contraseña, indicados en el correo.</p>
                </div>
                <!-- REGISTRO ITEM -->
                <div class="registro-item">
                    <div class="registro-item__icon">
                        <i class='bx bxs-discount registro-item__i'></i>
                    </div>
                    <span class="registro-item__span">Difruta De Los Beneficios</span>
                    <p class="registro-item__p">Obten una comisión por cada venta de recargas, pago de servicios y tarjetas electronicas.</p>
                </div>
            </div>
            <div class="registro-btn flex align-center justify-center">
                <a routerLink="/registro" class="mobile__btn btn-2 btn__default">
                        Registrarme ahora!!
                         <i class='bx bx-right-arrow-alt icon__i--arrow icon__i--default'></i> 
                     </a>
            </div>
        </div>

        <div class="registro-image">
            <picture class="registro-image__picture">
                <img src="/assets/img/svg/register.svg" class="registro-image__img" loading="lazy" width="450" height="459" alt="Tu registro es totalmente gratis empieza a vender recargas ahora mismo">
            </picture>
        </div>
    </div>
</div>