<div class="hero hero-ayuda mb-3  wow animate__animated animate__fadeInUp">
  <div class="hero__container container">
    <picture class="hero__picture">
      <source media="(min-width:1200px)" srcset="/assets/img/Banner-contacto.png" type="image/png" />
      <source media="screen and (max-width:950px)" srcset="/assets/img/Banner-contacto__responsive.png"
        type="image/png" />

      <img src="/assets/img/Banner-contacto.png" class="hero__img" width="1280" height="572"
        alt="Contacto para venta de recargas Bait, con la mejor comisión del mercado" />
    </picture>

  </div>
</div>


<div class="contacto">
  <div class="contacto__container container">
    <h1 class="badge headline-6">Contacto para vender recargas Bait</h1>
    <h2 class="contacto__h2 headline-2">
      Medios de contacto para venta de recargas
    </h2>
    <div class="contacto__options mb-3">
      <div class="contacto__item">
        <div class="contacto__box-icon">
          <!-- <mat-icon color="primary" class="contacto__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="phone_in_talk"></mat-icon> -->
        </div>
        <h3 class="contacto__h3 headline-5">Telefono</h3>
        <p class="contacto__p body-1">
          Llamanos si tienes alguna duda para vender recargas
        </p>
        <a href="tel:+522717140102" target="_blank" rel="noopener noreferrer"
          class="contacto__a my-button btn-underline body-1">Llamar
          <!-- <mat-icon class="wrapper-action__icon" color="primary" aria-hidden="false" aria-label="Example home icon"
            fontIcon="call"></mat-icon> -->
        </a>

        <!-- <a mat-raised-button class="contacto__a" color="primary">Telefono</a> -->
      </div>

      <div class="contacto__item">
        <div class="contacto__box-icon">
          <!-- <mat-icon color="primary" class="contacto__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="comment"></mat-icon> -->
        </div>
        <h3 class="contacto__h3 headline-5">WhatsApp</h3>
        <p class="contacto__p body-1">
          Chatea con nosotros! si tienes alguna duda
        </p>
        <a href="https://wa.me/522712141938" target="_blank" rel="noopener noreferrer"
          class="contacto__a my-button btn-underline body-1">Chatear
          <!-- <mat-icon class="wrapper-action__icon" color="primary" aria-hidden="false" aria-label="Example home icon"
            fontIcon="forum"></mat-icon> -->
        </a>
        <!-- <a mat-raised-button class="contacto__a" color="primary">WhatsApp</a> -->
      </div>

      <div class="contacto__item">
        <div class="contacto__box-icon">
          <!-- <mat-icon color="primary" class="contacto__icon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="mark_as_unread"></mat-icon> -->
        </div>
        <h3 class="contacto__h3 headline-5">Correo</h3>
        <p class="contacto__p body-1">
          Envianos un correo para asesorarte! ante cualquier duda
        </p>
        <a href="mailto:tae.celular@gmail.com" target="_blank" rel="noopener noreferrer"
          class="contacto__a my-button btn-underline body-1">Enviar correo
          <!-- <mat-icon class="wrapper-action__icon" color="primary" aria-hidden="false" aria-label="Example home icon"
            fontIcon="send"></mat-icon> -->
        </a>
        <!-- <a mat-raised-button class="contacto__a" color="primary">Correo</a> -->
      </div>
    </div>
  </div>
</div>

<div class="info mb-3">
  <div class="info__container container">

    <div class="info__box">
      <div class="tachuela">
        <img src="/assets/img/tachuela.png" class="tachuela__img" width="100" height="100" loading="lazy" alt="marcador">
      </div>
      <div class="info__card">
        <h4 class="info__h4 headline-4">
          <img src="/assets/img/reloj.png" class="info__img" width="30" height="42" loading="lazy"
            alt="horario de atención para recargas | Recarga5g.com">
          Horario de atencion
        </h4>
        <p class="info__p body-1">Lunes - Viernes 9AM - 6PM</p> <br>
        <p class="info__p body-2">Sabado - 9AM - 5PM</p>
      </div>

      <div class=" info__card">
        <h4 class="info__h4 headline-4">
          <img src="/assets/img/ubicacion.png" class="info__img" width="30" height="42" loading="lazy"
            alt="Dirección para recargas | Recarga5g.com">
          Dirección:
        </h4>
        <p class="info__p body-2">Delegación Benito Juarez Distrito Federal México DF
          Dirección Completa Solo Clientes Activos.
      </div>
    </div>

    <button routerLink="/registro" mat-raised-button color="primary" class="info__btn">Registrarme</button>


  </div>
</div>