<!-- ============= HERO RECARGAS ============= -->
<div class="hero-servicios mb-3 wow animate__animated animate__fadeIn">
    <div class="hero-servicios__container container">
        <picture class="hero-servicios__picture">
            <source media="screen and (min-width: 1200px)" srcset="assets/img/Banner-consulta-recargas.png"
                type="image/png" />
            <source media="screen and (max-width: 950px)" srcset="assets/img/Banner-consulta-recargas__responsive.png"
                type="image/png" />
            <img src="assets/img/Banner-consulta-recargas.png" class="hero-servicios__img" width="1280" height="572" alt="Venta de recargas a cualquier compañia con excelentes comisiones" />
        </picture>
    </div>
</div>

<!-- ============= CAORUSEL RECARGAS ============= -->
<!-- <app-product-carousel [products]="carouselRecargas()"></app-product-carousel> -->
 <app-product-carousel [products]="carouselRecargas()"></app-product-carousel>
<!-- ============= SECCIÓN COBRO SERVICES ============= -->
<div class="cobro-services mb-3">
    <div class="cobro-services__container container">
        <div class="cobro-services__left">
            <span class="cobro-services__span head-4 headline-4">Incrementa tus ganancias con recarga5g.com</span>
            <h1 class="cobro-services__h1 headline-3">
                Venta de recargas Telcel, Bait | Recarga5g.com
            </h1>

            <p class="consulta-recargas__p body-1 mb-1">
                ¡Maximiza tus ganancias vendiendo recargas electrónicas
                <a href="https://www.telcel.com/" class="consulta-recargas__a btn-underline body-1" target="_blank"
                    rel="noopener noreferrer">Telcel</a>,
                <a href="https://mibait.com/" class="consulta-recargas__a btn-underline body-1" target="_blank"
                    rel="noopener noreferrer">Bait</a>,
                <a href="https://www.movistar.com.mx/" class="consulta-recargas__a btn-underline body-1" target="_blank"
                    rel="noopener noreferrer">Movistar</a>,
                <a href="https://virginmobile.mx/" class="consulta-recargas__a btn-underline body-1" target="_blank"
                    rel="noopener noreferrer">Virgin Mobile</a>,
                <a href="https://www.att.com.mx/" class="consulta-recargas__a btn-underline body-1" target="_blank"
                    rel="noopener noreferrer">AT&T</a>,
                <a href="https://www.unefon.com.mx/" class="consulta-recargas__a btn-underline body-1" target="_blank"
                    rel="noopener noreferrer">Unefon</a>, con excelentes comisiones! En
                <strong class="keyword__strong">Recargas5g.com</strong>, entendemos que
                tu éxito es nuestro éxito. Por eso, te ofrecemos una oportunidad
                lucrativa para aumentar tus ingresos al vender recargas.
            </p>

            <a class="cobro-services__a radius-20" mat-raised-button color="primary" routerLink="/registro">Registrarme
                ahora</a>
        </div>

        <div class="cobro-services__right">
            <div class="cobro-services__item">
                <img src="assets/img/process__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
                    alt="Cobro de servicios con Recarga5g.com" />
                <p class="cobro-services__p--item headline-6">
                    Recarga desde tu celular o via SMS.
                </p>
            </div>
            <div class="cobro-services__item">
                <img src="assets/img/recibos__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
                    alt="Valida y realiza +200 compañias de servicios facilmente" />

                <p class="cobro-services__p--item headline-6">
                    Recuperas tu inversión y ganas la comisión cuando vendes recargas en
                    tu negocio.
                </p>
            </div>
            <div class="cobro-services__item">
                <img src="assets/img/negocio__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
                    alt="Ganancias adicionales a tu negocio" />
                <p class="cobro-services__p--item headline-6">
                    Tus comisiones se irán reflejando por el monto de la venta que
                    realices.
                </p>
            </div>
            <div class="cobro-services__item">
                <img src="assets/img/asesoria__icon.png" class="cobro-services__img" width="90" height="90" loading="lazy"
                    alt="Asesoria totalmente personalizada" />
                <p class="cobro-services__p--item headline-6">
                    Asesoria personalizada, asesorate si tienes alguna duda.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION PORQUE VENDER RECARGAS ============= -->
<div class="recargas-why mb-3">
    <div class="recargas-why__container container">
        <h2 class="recargas-why__h2 headline-3">
            Sistema de recargas mas confiable
        </h2>

        <div class="recargas-why__content">
            <div class="recargas-why__left">
                <span class="recargas-why__span headline-4 head-4">Mas de 20 años liderando el mercado de venta de
                    tiempo aire</span>
                <h3 class="recargas-why__h3 headline-3">
                    Beneficios de vender recargas
                </h3>

                <p class="recargas-why__p body-1 mb-1">
                    Sabemos que tu tiempo y esfuerzo son valiosos, por lo que hemos
                    diseñado un sistema transparente y sin complicaciones para que puedas
                    rastrear y recibir tus comisiones
                    <strong class="body-1 keyword__strong">Bait</strong> de manera rápida
                    y precisa. Nos aseguramos de que te sientas recompensado por tu arduo
                    trabajo y dedicación.
                </p>

                <ul class="recargas-why__ul">
                    <li class="recargas-why__li">
                        <!-- <mat-icon class="recargas-why__icon" color="accent" aria-hidden="false"
                            aria-label="Example home icon" fontIcon="add_task"></mat-icon> -->
                        <p class="recargas-why__p body-1">Comisiones fijas</p>
                    </li>
                    <li class="recargas-why__li">
                        <!-- <mat-icon class="recargas-why__icon" color="accent" aria-hidden="false"
                            aria-label="Example home icon" fontIcon="add_task"></mat-icon> -->
                        <p class="recargas-why__p body-1">
                            Constante innovación agregando compañas de recargas y pago de
                            servicios.
                        </p>
                    </li>
                    <li class="recargas-why__li">
                        <!-- <mat-icon class="recargas-why__icon" color="accent" aria-hidden="false"
                            aria-label="Example home icon" fontIcon="add_task"></mat-icon> -->
                        <p class="recargas-why__p body-1">
                            Plataforma con menos intermitencia en el mercado.
                        </p>
                    </li>
                    <li class="recargas-why__li">
                        <!-- <mat-icon class="recargas-why__icon" color="accent" aria-hidden="false"
                            aria-label="Example home icon" fontIcon="add_task"></mat-icon> -->
                        <p class="recargas-why__p body-1">
                            Pequeña inversión con grandes beneficios.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="recargas-why__right">
                <img src="assets/img/svg/Store.svg" class="recargas-why__img" width="500" height="363" loading="lazy"
                    alt="Beneficios de vender recargas con Recarga5g.com" />
            </div>
        </div>
    </div>
</div>

<!-- ============= SECCION METODOS VENTAS ============= -->
<div class="metodos-venta container mb-3">
    <h2 class="metodos-venta__h2 headline-2">¿Cómo vender recargas telcel?</h2>
    <app-sales-method [titleChannel]="'Como vender'"></app-sales-method>
</div>

<!-- ============= SECCION WHY RECARGAS ============= -->
<div class="recargas-nacionales">
    <div class="recargas-nacionales__container container">
        <div class="recargas-nacionales__left">
            <h2 class="recargas-nacionales__h2 headline-4 head-4">
                Recargas Telefónicas
            </h2>
            <h3 class="recargas-nacionales__h3 headline-3">
                Plataforma para venta de recargas 7% de comisión
            </h3>

            <p class="recargas-nacionales__p body-1 mb-1">
                ¡Descubre una oportunidad increíble para aumentar tus ingresos de manera
                fácil y segura! En nuestro sitio web, te ofrecemos la posibilidad de
                obtener hasta un 7% de comisión fija por cada recarga que vendas.
            </p>

            <p class="recargas-nacionales__p body-1 mb-1">
                Imagina la posibilidad de
                <strong class="body-1 keyword__strong">vender recargas bait</strong> y
                generar ingresos adicionales sin complicaciones, aprovechando el
                creciente mercado de las recargas. Ya sea que tengas una tienda física,
                un negocio en línea o simplemente quieras explorar una nueva fuente de
                ingresos, ¡nuestra plataforma es perfecta para ti!
            </p>

            <div class="recargas-nacionales__actions mb-1">
                <a class="recargas-nacionales__a radius-20" mat-raised-button color="primary"
                    routerLink="/registro">Registrarme ahora</a>
                <a class="recargas-nacionales__a my-button btn-underline" routerLink="/plataforma/pagaqui">Consultar
                    plataformas
                    <!-- <mat-icon class="recargas-nacionales__icon" color="accent" aria-hidden="false"
                        aria-label="Example home icon" fontIcon="outbound"></mat-icon> -->
                </a>
            </div>
        </div>

        <div class="recargas-nacionales__right">
            <img src="assets/img/caja-recargas.png" class="recargas-nacionales__img"  width="633" height="633" loading="lazy" alt="Recargas nacionales con Recarga5g.com"/>
        </div>
    </div>
</div>

<!-- ============= SECCION POLITICAS RECARGAS ============= -->
<div class="politicas-servicices mb-3">
    <div class="politicas-services__container container">
        <h3 class="politicas-services__h3 headline-3">
            Políticas para aplicación de recargas
        </h3>

        <ul class="politicas-services__ul">
            <li class="politicas-services__li list-option__li body-1">
                Capturar el numero e importe correcto es responsabilidad del usuario.
            </li>

            <li class="politicas-services__li list-option__li body-1">
                No hay devoluciones ni retiros de saldo una vez realizados.
            </li>

            <li class="politicas-services__li list-option__li body-1">
                En casos en que la recarga no se haya realizado, deberá notificarlo a su
                asistente ejecutivo, para ello debera proporcionarle su
                <span class="politicas-services__span body-1 keyword__strong">usuario e imagen del error.</span>.
            </li>

            <li class="politicas-services__li list-option__li body-1">
                En los casos en los cuales se detecten recargas aplicadas como exítosas
                pero no se acredite el saldo al número indicado aunque aparezca como
                exitosa la transacción, el cliente deberá llamar de forma directa a la
                compañía o carrier a través de cualquiera de sus Centros de Atención a
                Clientes (CAC).
            </li>
        </ul>
    </div>
</div>

<!-- ============= SECCION REGISTRO RECARGAS ============= -->
<app-register-steps></app-register-steps>