<div class="banner-reportes">
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner_reportes_QHrSnkjY6q.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667675763028" />
    <link rel="preload" as="image" href="https://ik.imagekit.io/taerecargas/Recargas/banner-depositos__responsive_VfCJG0axU.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667851223767" />

    <picture class="banner-reportes__picture banner__desktop">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner_reportes_QHrSnkjY6q.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667675763028" class="banner-reportes__img banner__img" width="100%" height="100%" alt="La notificación de tus depósitos en Pagaqui es totalmente gratuita, notifícalos a  través de nuestra página web o a través de nuestro WhatsApp">
    </picture>

    <picture class="banner-reportes__picture banner__mobile">
        <img src="https://ik.imagekit.io/taerecargas/Recargas/banner-depositos__responsive_VfCJG0axU.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1667851223767" class="banner-reportes__img banner__img" width="100%" height="100%" alt="La notificación de tus depósitos en Pagaqui es totalmente gratuita, notifícalos a  través de nuestra página web o a través de nuestro WhatsApp">
    </picture>

</div>

<div class="repo-pagaqui">

    <div class="repo-pagaqui__content container">

        <div class="repo-titular">
            <h1 class="repo-titular__h1 title">Reporte de depositos Pagaqui</h1>
            <p class="repo-titular__p text">Si ya eres cliente de <strong class="repo-titular__strong">recargas5g.com</strong> Ó <strong class="repo-titular__strong">recargas electrónicas</strong> Reporta por tus depositos y/o transferencias de <span class="repo-titular__span">Pagaqui</span>.
                Llenando el formulario con los datos de tu ficha de deposito.</p>
            <p class="repo-titular__p text">***Recuerda que... Si el pago se reporta en la plataforma fuera del horario establecido, el pago se reflejará en el siguiente horario hábil de manera automática si los datos son correctos.</p>

        </div>

        <div class="repo-pagaqui__container grid align-center justify-center grid-mobile">

            <div class="pagaqui__formulario">
                <iframe width="100%" height="950" title="Reporte de depósitos Pagaqui" class="pagaqui__frame" src="https://www.emailmeform.com/builder/embed/oA56y9UjBw9zuN3Y"><a href="https://www.emailmeform.com/builder/embed/oA56y9UjBw9zuN3Y">Fill out form.</a></iframe>
            </div>

            <div class="pagaqui-steps">

                <div class="pagaqui-item">
                    <i class='bx bx-time-five pagaqui-item__i'></i>

                    <h2 class="pagaqui-item__h2">Horario de aplicación de depositos Pagaqui</h2>

                    <div class="pagaqui-item__description">
                        <span class="pagaqui-item__span">Lunea a Viernes 9:00am a 6:00pm</span>

                        <span class="pagaqui-item__span">Sabados 9:00am a 5:00pm </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>