<div class="app-plataformas">
    <div class="app-plataformas__container container mb-3">
        <span class="badge headline-5">App</span>
        <h1 class="app-plataformas__h1 headline-3">{{plataforma.title}}</h1>

        <div class="app-plataformas-box">

            <div class="app-plataformas-options">
                <div class="app-plataformas-option">

                    <div class="app-plataformas-subtitle">
                        <h2 class="app-plataformas-subtitle__h2 headline-4"> {{plataforma.subtitle}}</h2>
                    </div>

                    <ul class="app-plataformas__ul">
                        @for (item of plataforma.options; track $index) {
                            <li class="app-plataformas__li body-1">
                                {{item.description}}
                            </li>
                        }
                    </ul>

                </div>

                <div class="app-plataformas__options">
                    @for (app  of plataforma.imgApps; track $index) {
                        <a [href]="app.url" target="_blank" rel="noopener noreferrer">
                            <img class="app-plataformas__img" [src]="app.img" width="180" height="70" loading="lazy" [alt]="app.label">
                        </a>
                    }
                </div>
            </div>

            <div class="app-plataformas app-phone">
                <div #carouselplataformas class="app-plataformas-swiper app-phone-swiper swiper">
                    <div class="app-plataformas-swiper-wrapper app-phone-swiper-wrapper swiper-wrapper">
                      @for (item of plataforma.images; track $index) {
                          <div class="app-phone-slide swiper-slide">
                              <img [src]="item.img" class="app-plataformas-slide__img app-phone-slide__img" width="288" height="589" loading="lazy" [alt]="item.label">
                          </div>
                      }
                    </div>
    
                </div>
            </div>
        </div>

    </div>
</div>