<div class="nofound">

    <div class="nofound__container container">
        <div class="nofound__content">
            <div class="nofound__text">
                <h2 class="nofound__h2">404</h2>
                <h3 class="nofound__h3">Pages no found</h3>
                <a routerLink="/" class="nofound__a">Regresar a la pagina principal</a>
            </div>
        </div>

        <div class="earth">
            <img class="earth__img" src="/assets/img/svg/earth.svg" width="100px" alt="">
        </div>

        <div class="astronaut">
            <img src="/assets/img/svg/astronaut.svg" alt="" class="astronaut__img">
        </div>

        <div class="moon">
            <img src="/assets/img/svg/moon.svg" alt="" class="moon__img">
        </div>

        <div class="glowing_stars">

        </div>
    </div>
</div>