
//* ============ SECTION APP RECARGAS ============
.app-phone {
    &::after {
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 18px;
    }
}

.app-recargas-list {
  &__li {
      counter-increment: mynumbers;
 
  }
}
