<div class="app-recargas mb-3">
    <div class="app-recargas__container container">
    
        <h3 class="app-recargas__h3 headline-3">App para recargas Bait, Pago de servicios y pines</h3>
      
    <div class="app-recargas-content">
    
        <div class="app-recargas-list">
    
            <h4 class="app-recargas__h4 headline-4 head-4">App para la venta de recargas</h4>
            <ul class="app-recargas-list__ul">
                <li class="app-recargas-list__li body-1">
                    Descarga e instala la App desde la tienda oficial
                </li>
                <li class="app-recargas-list__li body-1">
                    Si ya te encuentras registrado ingresa a la plataforma
                </li>
                <li class="app-recargas-list__li body-1">
                    Consulta las cuentas bancarias autorizadas
                </li>
                <li class="app-recargas-list__li body-1">
                    Notifica tus depositos desde la App
                </li>
                <li class="app-recargas-list__li body-1">
                    Listo! Asi de facil podras realizar recargas a cualquier compañia
                </li>
            </ul>
    
            <div class="app-recargas-action">
                <a class="app-recargas-action__a" mat-raised-button color="primary">Registrarme</a>
                <a class="app-recargas-action__a app-recargas-action__a--explorar my-button btn-underline">  
                  Explorar plataforma
                     <mat-icon class="app-recargas-action__icon mat-18" color="accent" aria-hidden="false" aria-label="Example home icon">travel_explore</mat-icon>
                </a>
            </div>
        </div>
    
            <div class="app-recargas-phone app-phone">
                <div #carouselApp class="app-phone-swiper swiper">
                    <div class="app-phone-swiper-wrapper swiper-wrapper">
                        <div class="app-phone-slide swiper-slide">
                            <img src="assets/img/slide-recargas.jpg" class="app-phone-slide__img" loading="lazy" alt="app para venta de recargas">
                        </div>
    
                        <div class="app-recargas-slide swiper-slide">
                            <img src="assets/img/slide-servicios.jpg" class="app-recargas-slide__img" loading="lazy" alt="app para pago de servicios con mas de 200 compañias">
                        </div>
    
                        <div class="app-recargas-slide swiper-slide">
                            <img src="assets/img/slide-pines.jpg" class="app-recargas-slide__img" loading="lazy" alt="app para pines electrónios Google play">
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        
    </div>
    
</div>